<div class="fixed bottom-0 left-0 right-0 z-50 bg-white py-2">
  <div class="container mx-auto px-4">
    <ul class="flex items-center justify-between" role="fixed-menu">
      <li class="flex flex-col items-center justify-center">
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="26.667"
            height="22.67"
            viewBox="0 0 26.667 22.67">
            <path
              id="Path_13849"
              data-name="Path 13849"
              d="M68.835,2822.67v-8h5.333v8h6.667V2812h4L71.5,2800l-13.333,12h4v10.67Z"
              transform="translate(-58.168 -2800)"
              fill="#eb7462" />
          </svg>
        </span>
        <a
          href=""
          class="font-AnekLatin-SemiBold text-[14px]/[26px] text-burnt-sienna"
          aria-label="Home">Home</a>
      </li>
      <li class="flex flex-col items-center justify-center">
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="19.714"
            height="23"
            viewBox="0 0 19.714 23">
            <path
              id="Path_13850"
              data-name="Path 13850"
              d="M139.145,2819.71a.3.3,0,0,0,.082.25v.16a.176.176,0,0,0,.164.17c.082.08.164.08.164.16h.082a.579.579,0,0,0,.329.09H145.8A3.282,3.282,0,0,0,149,2823a3.354,3.354,0,0,0,3.2-2.46h5.832a.78.78,0,0,0,.822-.83.737.737,0,0,0-.247-.57l-1.4-2.14v-3.86a8.242,8.242,0,0,0-5.668-7.8,3.153,3.153,0,0,0,.739-2.05,3.286,3.286,0,1,0-6.571,0,3.153,3.153,0,0,0,.739,2.05,8.243,8.243,0,0,0-5.668,7.8V2817l-1.478,2.22a.079.079,0,0,1-.082.08v.09A.593.593,0,0,0,139.145,2819.71Zm9.857,1.65a1.6,1.6,0,0,1-1.4-.82H150.4A1.593,1.593,0,0,1,149,2821.36Zm-1.643-18.07a1.643,1.643,0,1,1,1.643,1.64A1.65,1.65,0,0,1,147.359,2803.29Zm-5.093,14.45a1.157,1.157,0,0,0,.164-.49v-4.11a6.572,6.572,0,0,1,13.143,0v4.11a1.157,1.157,0,0,0,.164.49l.822,1.15H141.527Z"
              transform="translate(-139.145 -2800)"
              fill="rgba(19,24,24,0.6)" />
          </svg>
        </span>
        <a
          href=""
          class="font-AnekLatin-SemiBold text-[14px]/[26px] text-black text-opacity-50"
          aria-label="Notification">Notification</a>
      </li>
      <li class="flex flex-col items-center justify-center">
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="24"
            height="24"
            viewBox="0 0 24 24">
            <defs>
              <clipPath id="clip-path">
                <rect
                  id="Rectangle_16689"
                  data-name="Rectangle 16689"
                  width="24"
                  height="24"
                  transform="translate(217 2801)"
                  fill="#fff" />
              </clipPath>
            </defs>
            <g
              id="Group_10121"
              data-name="Group 10121"
              transform="translate(-217 -2801)"
              opacity="0.6"
              clip-path="url(#clip-path)">
              <path
                id="Path_13851"
                data-name="Path 13851"
                d="M229.353,2823.38l-1.034-.54-2.491-1.32c-1-.53-2-1.06-3.005-1.58l-2.6-1.38c-.42-.22-.834-.46-1.259-.67-.007,0-.011,0-.016-.01.117.21.232.41.349.61v-9.63c0-.45.012-.89,0-1.34v-.01l-1.057.6c.345.19.689.37,1.034.55l2.491,1.32c1,.53,2,1.06,3.005,1.58l2.6,1.38c.419.22.834.46,1.258.66.007.01.012.01.017.01-.117-.2-.232-.4-.349-.6v9.62c0,.45-.01.89,0,1.33v.02a.7.7,0,1,0,1.406,0v-9.62c0-.45.009-.89,0-1.33v-.02a.7.7,0,0,0-.349-.61c-.345-.18-.689-.36-1.034-.55-.83-.43-1.662-.87-2.491-1.31l-3.005-1.59-2.6-1.38c-.42-.22-.837-.45-1.259-.66-.007,0-.011-.01-.016-.01a.71.71,0,0,0-1.057.61v9.63c0,.44-.009.89,0,1.33v.02a.709.709,0,0,0,.349.61l1.034.54,2.491,1.32,3.005,1.59c.867.46,1.737.91,2.6,1.37.419.22.837.45,1.258.67a.015.015,0,0,1,.017.01.705.705,0,0,0,.708-1.22Z" />
              <path
                id="Path_13852"
                data-name="Path 13852"
                d="M239.051,2817.89l-1.034.54-2.491,1.32c-1,.53-2,1.05-3.005,1.58l-2.6,1.38c-.419.22-.846.43-1.258.67a.016.016,0,0,0-.017.01l1.057.6v-9.62c0-.45.012-.89,0-1.33v-.02c-.117.2-.232.4-.349.6l1.034-.54,2.491-1.32,3.005-1.59c.867-.46,1.737-.92,2.6-1.37.419-.22.846-.44,1.258-.67a.016.016,0,0,0,.017-.01l-1.057-.6v9.63c0,.44-.01.89,0,1.33v.02a.7.7,0,0,0,1.406,0v-9.63c0-.45.009-.89,0-1.34v-.01a.71.71,0,0,0-1.057-.61l-1.034.54-2.491,1.32-3.005,1.59c-.867.46-1.736.92-2.6,1.37-.419.23-.846.44-1.258.67,0,0-.012.01-.017.01a.7.7,0,0,0-.349.61v9.62c0,.45-.009.89,0,1.33v.02a.71.71,0,0,0,1.057.61c.345-.18.689-.36,1.034-.55.83-.43,1.662-.87,2.491-1.31l3.005-1.59c.867-.46,1.737-.91,2.6-1.37.419-.22.846-.44,1.258-.67,0,0,.012-.01.017-.01a.7.7,0,1,0-.708-1.21Z" />
              <path
                id="Path_13853"
                data-name="Path 13853"
                d="M239.053,2806.9c-.345.18-.689.37-1.034.55-.829.44-1.661.87-2.491,1.32-1,.52-2,1.05-3.005,1.58l-2.6,1.38c-.419.22-.846.43-1.258.66a.016.016,0,0,1-.017.01h.71l-1.033-.54-2.492-1.32-3-1.59c-.867-.46-1.737-.92-2.6-1.37-.42-.23-.834-.46-1.259-.67-.007,0-.011-.01-.016-.01v1.22c.344-.19.689-.37,1.033-.55l2.492-1.32c1-.52,2-1.05,3.005-1.58l2.6-1.38c.42-.22.847-.43,1.259-.66a.016.016,0,0,1,.016-.01h-.71l1.034.54,2.491,1.32,3,1.59c.867.45,1.737.91,2.6,1.37.419.22.837.45,1.259.67.007,0,.011,0,.016.01a.705.705,0,0,0,.708-1.22c-.349-.18-.7-.37-1.046-.55l-2.5-1.32-3.014-1.59c-.865-.46-1.73-.92-2.6-1.37-.415-.22-.823-.45-1.242-.66a.774.774,0,0,0-.738,0c-.047.02-.092.05-.136.07-.216.12-.432.23-.645.35-.783.41-1.563.82-2.346,1.24-1,.52-2.006,1.05-3.009,1.58-.9.48-1.805.96-2.707,1.43-.5.26-.987.52-1.482.79l-.068.03a.714.714,0,0,0,0,1.22c.35.18.7.37,1.046.55l2.5,1.32,3.014,1.59,2.6,1.38c.415.21.823.44,1.242.65a.749.749,0,0,0,.739,0c.046-.02.091-.05.135-.07.216-.12.432-.23.645-.34.783-.42,1.563-.83,2.346-1.24l3.009-1.59c.9-.48,1.805-.96,2.708-1.43.494-.26.986-.53,1.481-.79l.068-.03a.705.705,0,1,0-.708-1.22Z" />
              <path
                id="Path_13854"
                data-name="Path 13854"
                d="M224.15,2810.87l1.034-.54,2.491-1.32,3-1.59c.867-.46,1.736-.92,2.6-1.37.419-.23.846-.44,1.258-.67,0,0,.012-.01.017-.01a.7.7,0,1,0-.708-1.21l-1.034.54-2.491,1.32-3.005,1.59c-.867.46-1.737.92-2.6,1.37-.419.23-.846.44-1.258.67-.005,0-.012.01-.017.01a.7.7,0,1,0,.708,1.21Z" />
            </g>
          </svg>
        </span>
        <a
          href=""
          class="font-AnekLatin-SemiBold text-[14px]/[26px] text-black text-opacity-50"
          aria-label="Orders">Orders</a>
      </li>
      <li class="flex flex-col items-center justify-center">
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20.4"
            height="20.4"
            viewBox="0 0 20.4 20.4">
            <path
              id="Path_86"
              data-name="Path 86"
              d="M289.454,2810.87h0a2.6,2.6,0,1,1,3.351,3.11.434.434,0,0,0-.24.41h0v.63h-.1a.5.5,0,0,1-1,0Zm0,0a.6.6,0,0,0,1.162.3h0m-1.162-.3,1.162.3m0,0a1.4,1.4,0,0,1,2.684-.09l.1-.03Zm-.706.34a.506.506,0,0,0,.61-.36l1.945,3.24a.516.516,0,0,1,.3-.5,2.5,2.5,0,1,0-3.218-2.99A.505.505,0,0,0,289.91,2811.51ZM292,2823.1h0a10.112,10.112,0,0,0,10.1-10.1h0a10.1,10.1,0,1,0-10.1,10.1Zm-.035-6.8a.721.721,0,0,0-.725.72.725.725,0,1,0,1.45,0A.721.721,0,0,0,291.965,2816.3Zm.035,5.6a8.9,8.9,0,1,1,8.9-8.9A8.9,8.9,0,0,1,292,2821.9Z"
              transform="translate(-281.8 -2802.8)"
              stroke="#000"
              stroke-width="0.2"
              opacity="0.6" />
          </svg>
        </span>
        <a
          href=""
          class="font-AnekLatin-SemiBold text-[14px]/[26px] text-black text-opacity-50"
          aria-label="Help">Help</a>
      </li>
    </ul>
  </div>
</div>