<div id="breadcrumb" class="py-[20px]">
  <div class="container m-auto px-[20px]">
    <div class="">
      <ul class="flex flex-wrap items-center gap-x-[10px]">
        <li class="flex items-center gap-x-[10px]">
          <a href="#" class="capitalize text-[14px/22px] text-woodsmoke"> Home </a>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="4.707"
            height="8.414"
            viewBox="0 0 4.707 8.414"
            class="stroke-current"
          >
            <path id="Path_10709" data-name="Path 10709" d="M57,163.5l3.5-3.5L57,156.5" transform="translate(-56.293 -155.793)"
                fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" />
          </svg>
        </li>
        <li class="flex items-center gap-x-[10px]">
          <a href="#" class="capitalize text-[14px/22px] text-woodsmoke"> Hair Care </a>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="4.707"
            height="8.414"
            viewBox="0 0 4.707 8.414"
            class="stroke-current"
          >
            <path id="Path_10709" data-name="Path 10709" d="M57,163.5l3.5-3.5L57,156.5" transform="translate(-56.293 -155.793)"
                fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" />
          </svg>
        </li>
        <li class="flex items-center gap-x-[10px]">
          <a href="#" class="capitalize text-[14px/22px] text-woodsmoke"> Hair Oils </a>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="4.707"
            height="8.414"
            viewBox="0 0 4.707 8.414"
            class="stroke-current"
          >
            <path id="Path_10709" data-name="Path 10709" d="M57,163.5l3.5-3.5L57,156.5" transform="translate(-56.293 -155.793)"
                fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" />
          </svg>
        </li>
        <li class="flex items-center gap-x-[10px]">
          <a href="#" class="font-AnekLatin-SemiBold capitalize text-[14px/22px] text-woodsmoke">
            Stimulating Hair Oil
          </a>
        </li>
      </ul>
    </div>
  </div>
  {% comment %} {% render 'filter-menu' %} {% endcomment %}
</div>
