<div class="overlay before:fixed before:bottom-0 before:left-0 before:right-0 before:top-0 before:z-[9] before:h-full before:bg-black before:opacity-75 before:content-['']">
  <div class="fixed bottom-0 right-0 z-[9] w-full max-w-[428px] bg-ecru-white">
    <div class="container m-auto p-5">
      <div id="popupHeader" class="mb-[24px] flex items-center justify-between">
        <h2 class="font-AnekLatin-Bold text-[18px]/[22px] text-mine-shaft">Apply Coupon</h2>
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 11.326 11.315">
          <path id="Path_11777" data-name="Path 11777" d="M165.033,579.321a.973.973,0,0,1,0,1.392,1,1,0,0,1-1.392,0l-3.978-3.978-3.978,3.978a1,1,0,0,1-1.392,0,.973.973,0,0,1,0-1.392l3.979-3.978-3.979-3.978a.984.984,0,1,1,1.392-1.391l3.978,3.978,3.978-3.978a.984.984,0,0,1,1.392,1.391l-3.979,3.978Z" transform="translate(-154 -569.68)" fill="#000000"/>
        </svg>
      </div>
      <div id="popupBody" class="mt-[20px]">
        <div class="mb-[28px] border border-solid border-black bg-white px-5 py-5">
          <div class="flex items-center justify-between">
            <div class="flex items-center gap-x-[15px]">
              <img src="https://cdn.shopify.com/s/files/1/0058/8827/8595/files/icon-discount.svg?v=1705648123">
              <input
                type="text"
                class="font-AnekLatin-SemiBold text-[14px]/[22px] uppercase text-woodsmoke text-opacity-60 focus-visible:border-none focus-visible:outline-none"
                placeholder="Enter Discount Code"
              >
            </div>
            <p class="text-left font-AnekLatin-SemiBold text-[16px]/[22px] capitalize text-woodsmoke text-opacity-60">
              Apply
            </p>
          </div>
        </div>
        <div class="mb-[15px] border border-solid border-alto bg-white px-5 py-4">
          <h3 class="font-AnekLatin-Medium text-[14px]/[22px] text-woodsmoke">
            Extra 10% off upto ₹100 on first purchase
          </h3>
          <div class="mt-[12px] flex items-center justify-between">
            <div id="couponCode" class="block">
              <p class="text-blborder-black border border-dashed border-black px-[7px] py-[5px] font-AnekLatin-SemiBold text-[14px]/[22px] uppercase">
                WELCOME10
              </p>

              {% comment %} ACTIVE STATE COUPON CODE {% endcomment %}
              <div class="hidden items-center gap-x-[15px]">
                <div class="flex items-center gap-x-[5px] bg-gin p-[7px]">
                  <span id="coupon">
                    <img src="https://cdn.shopify.com/s/files/1/0058/8827/8595/files/icon-discount-flag.svg?v=1705652300">
                  </span>
                  <span class="font-AnekLatin-SemiBold text-[14px]/[22px] uppercase text-de-york">WELCOME10</span>
                  <a href="" id="remove">
                    <svg xmlns="http://www.w3.org/2000/svg" width="8.621" height="8.621" viewBox="0 0 8.621 8.621">
                      <path id="Path_12787" data-name="Path 12787" d="M1135.5,1074.75l-6.5,6.5m0-6.5,6.5,6.5" transform="translate(-1127.939 -1073.689)" fill="none" stroke="rgba(0,0,0,0.6)" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                    </svg>
                  </a>
                </div>
                <p class="font-AnekLatin-SemiBold text-[14px]/[22px] capitalize text-fruit-salad">Saved 84</p>
              </div>
            </div>

            <button
              type="button"
              class="border border-solid border-dove-gray px-[7px] py-[5px] font-AnekLatin-SemiBold text-[14px]/[22px] uppercase"
            >
              Apply
            </button>
          </div>
        </div>
        <div class="mb-[15px] border border-solid border-alto bg-white px-5 py-4">
          <h3 class="mb-[12px] font-AnekLatin-Medium text-[14px]/[22px] text-woodsmoke">Get a FREE Booster Oil</h3>
          <p class="mb-[12px] font-AnekLatin-Medium text-[14px]/[18px] text-woodsmoke text-opacity-60">
            worth ₹299 on purchase of haircare 3 step regimen
          </p>
          <h5 class="text-[12px]/[22px] text-woodsmoke">No coupon code required</h5>
        </div>
        <div class="mb-[15px] border border-solid border-alto bg-white px-5 py-4">
          <div class="flex items-center justify-between">
            <div class="">
              <h3 class="mb-[12px] font-AnekLatin-Medium text-[14px]/[22px] text-woodsmoke">
                Get 3 single products at flat ₹999
              </h3>
              <p class="text-[14px]/[17px] text-woodsmoke opacity-60">Shop 2 item(S) more to apply</p>
            </div>
            <button
              type="button"
              class="text-blborder-black border border-solid border-dove-gray px-[7px] py-[5px] font-AnekLatin-SemiBold text-[14px]/[22px] uppercase"
            >
              ADD ITEMs
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-white py-5 shadow-[0px_-3px_6px_#0000000D]">
      <div class="flex items-center justify-between px-5">
        <div class="flex flex-col gap-2">
          <h3 class="font-AnekLatin-Bold text-[20px]/[22px] text-woodsmoke">₹0</h3>
          <p class="text-[14px]/[22px] text-woodsmoke text-opacity-60">Coupon Saving</p>
        </div>
        <button type="submit" class="btn min-w-fit"><span class="mb-[-2px] mt-[2px]">GO TO CART</span></button>
      </div>
    </div>
  </div>
</div>
