<div class="overlay before:fixed before:bottom-0 before:left-0 before:right-0 before:top-0 before:z-[8] before:h-full before:bg-black before:opacity-75 before:content-['']">
  <div class="fixed bottom-0 left-1/2 z-[9] w-full max-w-[390px] -translate-x-1/2 transform bg-white md:bottom-auto md:top-1/2 md:-translate-y-1/2">
    <div id="modalHeader" class="px-4 py-6">
      <h2 class="relative pr-6 font-AnekLatin-Bold text-[18px]/[22px] text-woodsmoke md:text-[24px]/[22px]">
        Customize your Hair oil
        <span class="absolute right-[6px] top-[4px]">
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 11.326 11.315">
            <path id="Path_11777" data-name="Path 11777" d="M165.033,579.321a.973.973,0,0,1,0,1.392,1,1,0,0,1-1.392,0l-3.978-3.978-3.978,3.978a1,1,0,0,1-1.392,0,.973.973,0,0,1,0-1.392l3.979-3.978-3.979-3.978a.984.984,0,1,1,1.392-1.391l3.978,3.978,3.978-3.978a.984.984,0,0,1,1.392,1.391l-3.979,3.978Z" transform="translate(-154 -569.68)" fill="#000000"/>
          </svg>
        </span>
      </h2>
    </div>
    <div id="divider" class="h-[2px] w-full bg-[#0000001A]"></div>
    <div id="modalBody" class="px-4 py-6">
      <div id="options-1" class="mb-[35px]">
        <h3 class="font-AnekLatin-SemiBold text-[16px]/[22px] text-woodsmoke">What is your gender:</h3>
        <div class="mt-[10px] flex flex-wrap items-center gap-[10px]">
          <label class="radio-box w-[100px] border border-solid border-woodsmoke bg-flame-pea p-[5px] py-[16px] text-center">
            <input type="radio" class="hidden" name="gender" value="male">
            <span class="text-[16px]/[22px] text-white">Male</span>
          </label>

          <label class="radio-box w-[100px] border border-solid border-grain-brown p-[5px] py-[16px] text-center">
            <input type="radio" class="hidden" name="gender" value="female">
            <span class="text-[16px]/[22px] text-woodsmoke">Female</span>
          </label>
        </div>
      </div>
      <div id="options-2" class="mb-[35px]">
        <h3 class="flex items-center gap-x-[10px] font-AnekLatin-SemiBold text-[16px]/[22px] text-woodsmoke">
          What is your scalp type:
          <span class="opacity-50">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="17"
              height="17"
              viewBox="0 0 17 17"
            >
              <defs>
              <clipPath id="clip-path">
                  <rect id="Rectangle_14524" data-name="Rectangle 14524" width="17" height="17" transform="translate(176 760)" fill="#fff"></rect>
              </clipPath>
              </defs>
              <g id="Group_9038" data-name="Group 9038" transform="translate(-176 -760)" clip-path="url(#clip-path)">
              <path id="Path_11334" data-name="Path 11334" d="M184.5,775.585a7.083,7.083,0,1,0-7.083-7.084A7.084,7.084,0,0,0,184.5,775.585Z" fill="none" stroke="#9e6d44" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.178"></path>
              <path id="Path_11335" data-name="Path 11335" d="M182.438,766.373a2.125,2.125,0,0,1,4.129.708c0,1.417-2.125,2.125-2.125,2.125" fill="none" stroke="#9e6d44" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.178"></path>
              <path id="Path_11336" data-name="Path 11336" d="M184.5,772.043h.006" fill="none" stroke="#9e6d44" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.178"></path>
              </g>
            </svg>
          </span>
        </h3>
        <div class="mt-[10px] flex flex-wrap items-center gap-[10px]">
          <label class="radio-box w-[100px]  border border-solid border-grain-brown p-[5px] py-[16px] text-center">
            <input type="radio" class="hidden" name="scalp-type" value="Normal-Oily">
            <span class="text-[16px]/[22px] text-woodsmoke">Normal-Oily</span>
          </label>
          <label class="radio-box w-[100px] border border-solid border-woodsmoke bg-flame-pea p-[5px] py-[16px] text-center">
            <input type="radio" class="hidden" name="scalp-type" value="Dry">
            <span class="text-[16px]/[22px] text-white">Dry</span>
          </label>
          <label class="radio-box w-[100px] border border-solid border-grain-brown p-[5px] py-[16px] text-center">
            <input type="radio" class="hidden" name="scalp-type" value="Oily">
            <span class="text-[16px]/[22px] text-woodsmoke">Oily</span>
          </label>
        </div>
      </div>
      <div id="options-3">
        <h3 class="flex items-center gap-x-[10px] font-AnekLatin-SemiBold text-[16px]/[22px] text-woodsmoke">
          What is your hair type:
          <span class="opacity-50">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="17"
              height="17"
              viewBox="0 0 17 17"
            >
              <defs>
              <clipPath id="clip-path">
                  <rect id="Rectangle_14524" data-name="Rectangle 14524" width="17" height="17" transform="translate(176 760)" fill="#fff"></rect>
              </clipPath>
              </defs>
              <g id="Group_9038" data-name="Group 9038" transform="translate(-176 -760)" clip-path="url(#clip-path)">
              <path id="Path_11334" data-name="Path 11334" d="M184.5,775.585a7.083,7.083,0,1,0-7.083-7.084A7.084,7.084,0,0,0,184.5,775.585Z" fill="none" stroke="#9e6d44" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.178"></path>
              <path id="Path_11335" data-name="Path 11335" d="M182.438,766.373a2.125,2.125,0,0,1,4.129.708c0,1.417-2.125,2.125-2.125,2.125" fill="none" stroke="#9e6d44" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.178"></path>
              <path id="Path_11336" data-name="Path 11336" d="M184.5,772.043h.006" fill="none" stroke="#9e6d44" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.178"></path>
              </g>
            </svg>
          </span>
        </h3>
        <div class="mt-[10px] flex flex-wrap items-center gap-[10px]">
          <label class="radio-box w-[100px] border border-solid border-woodsmoke bg-flame-pea p-[5px] py-[16px] text-center">
            <input type="radio" class="hidden" name="hari-type" value="Wavy">
            <span class="text-[16px]/[22px] text-white">Wavy</span>
          </label>
          <label class="radio-box w-[100px] border border-solid border-grain-brown p-[5px] py-[16px] text-center">
            <input type="radio" class="hidden" name="hari-type" value="Curly">
            <span class="text-[16px]/[22px] text-woodsmoke">Curly</span>
          </label>
          <label class="radio-box w-[100px] border border-solid border-grain-brown p-[5px] py-[16px] text-center">
            <input type="radio" class="hidden" name="hari-type" value="Straight">
            <span class="text-[16px]/[22px] text-woodsmoke">Straight</span>
          </label>
        </div>
      </div>
    </div>
    <div id="modalFooter" class="md:px-4 md:pb-6">
      <button
        type="submit"
        class="w-[100%] border border-solid border-woodsmoke bg-flame-pea px-4 py-[16px] text-white"
      >
        Make Changes
      </button>
    </div>
  </div>
</div>
