<cart-drawer
  id="cart-drawer"
  class="overlay before:fixed before:bottom-0 before:left-0 before:right-0 before:top-0 before:z-[8] before:h-full before:bg-black before:opacity-75 before:content-['']"
>
  <div
    id="filter-drawer"
    class="drawer__inner fixed bottom-0 left-1/2 z-[9] w-full max-w-[400px] -translate-x-1/2 transform bg-soapstone md:left-auto md:right-0 md:top-0 md:-translate-x-0"
  >
    <div
      id="drawer__header"
      class="flex items-center justify-between border-y border-solid border-almond bg-soapstone px-[20px] py-[30px]"
    >
      <h2 class="font-AnekLatin-Bold text-[24px]/[22px] capitalize text-woodsmoke">Filter & Sort</h2>
      <div id="filter-close" onclick="hideDrawer()">
        <img
          src="https://cdn.shopify.com/s/files/1/0683/5922/5645/files/close-icon.png?v=1705642256"
          alt="close-icon"
          class="cursor-pointer"
        >
      </div>
    </div>
    <cart-drawer-items class="mt-[30px] flex h-[calc(100%_-_173px)] justify-between">
      <div class="border-r-1 w-[40%] border border-b-0 border-l-0 border-t-0 border-almond">
        <ul>
          <li class="border-b-1 border border-l-0 border-r-0 border-t-0 border-almond py-[20px] pl-[20px]">
            <a href="" class="block font-AnekLatin-Medium text-[16px]/[22px] text-woodsmoke">Sort</a>
          </li>
          <li class="border-b-1 border border-l-0 border-r-0 border-t-0 border-almond py-[20px] pl-[20px]">
            <a href="" class="block font-AnekLatin-Medium text-[16px]/[22px] text-woodsmoke">Concerns</a>
          </li>
          <li class="border-b-1 border border-l-0 border-r-0 border-t-0 border-almond bg-quarter-spanish-white py-[20px] pl-[20px]">
            <a href="" class="block font-AnekLatin-Medium text-[16px]/[22px] text-woodsmoke">Categories</a>
          </li>
          <li class="border-b-1 border border-l-0 border-r-0 border-t-0 border-almond py-[20px] pl-[20px]">
            <a href="" class="block font-AnekLatin-Medium text-[16px]/[22px] text-woodsmoke">Scalp Type</a>
          </li>
          <li class="border-b-1 border border-l-0 border-r-0 border-t-0 border-almond py-[20px] pl-[20px]">
            <a href="" class="block font-AnekLatin-Medium text-[16px]/[22px] text-woodsmoke">Hair Type</a>
          </li>
          <li class="border-b-1 border border-l-0 border-r-0 border-t-0 border-almond py-[20px] pl-[20px]">
            <a href="" class="block font-AnekLatin-Medium text-[16px]/[22px] text-woodsmoke">Hair Texture</a>
          </li>
          <li class="border-b-1 border border-l-0 border-r-0 border-t-0 border-almond py-[20px] pl-[20px]">
            <a href="" class="block font-AnekLatin-Medium text-[16px]/[22px] text-woodsmoke">Ingredients</a>
          </li>
        </ul>
      </div>
      <div class="w-[60%] pl-[30px]">
        <h3 class="mt-[33px] font-AnekLatin-Medium text-[16px]/[22px] capitalize text-woodsmoke opacity-40">
          Filter by
        </h3>
        <div class="filter-list mt-[16px]">
          <div class="mb-[20px] flex items-center gap-x-[12px]">
            <input
              type="checkbox"
              id="oil_type"
              class="border-1 h-[15px] w-[15px] rounded-sm border border-woodsmoke checked:bg-black checked:text-white"
            >
            <label for="oil_type" class="font-AnekLatin-Medium text-[16px]/[22px] text-woodsmoke">Hair Oil</label>
          </div>
          <div class="mb-[20px] flex items-center gap-x-[12px]">
            <input
              type="checkbox"
              id="shampoo"
              class="border-1 h-[15px] w-[15px] rounded-sm border border-woodsmoke checked:bg-black checked:text-white"
            >
            <label for="shampoo" class="font-AnekLatin-Medium text-[16px]/[22px] text-woodsmoke">Shampoo</label>
          </div>
          <div class="mb-[20px] flex items-center gap-x-[12px]">
            <input
              type="checkbox"
              id="serum"
              class="border-1 h-[15px] w-[15px] rounded-sm border border-woodsmoke checked:bg-black checked:text-white"
            >
            <label for="serum" class="font-AnekLatin-Medium text-[16px]/[22px] text-woodsmoke">Serum</label>
          </div>
        </div>
      </div>
    </cart-drawer-items>
    <div id="drawer__footer" class="flex items-center justify-between border-t border-solid  border-woodsmoke">
      <div class="w-[40%] bg-white text-center">
        <a
          href=""
          class="w-full py-[20px] font-AnekLatin-SemiBold text-[16px]/[16px] capitalize text-woodsmoke"
          id="close-drawer"
          >Cancel</a
        >
      </div>
      <div class="w-[60%] bg-flame-pea text-center">
        <button class="w-full py-[20px] font-AnekLatin-SemiBold text-[16px]/[16px] capitalize text-white">
          Apply Filters
        </button>
      </div>
    </div>
  </div>
</cart-drawer>

<script>
  function showDrawer() {
    var drawer = document.getElementById('cart-drawer')
    drawer.style.display = 'flex'
  }

  function hideDrawer() {
    var drawer = document.getElementById('cart-drawer')
    drawer.style.display = 'none'
  }
</script>
