<div id="filter" class="border border-1 border-[#DFC6AC] mt-[20px]">
  <div class="flex items-center border border-t-0 border-l-0 border-r-0 border-b-1 border-[#DFC6AC] p-[15px] gap-x-[15px]">
    <img src="file:///C:/Users/Yogesh-2338/Desktop/twillind/assests/zar.png" alt="">
    <h3 class="sm:text-[16px]/[22px] md:text-[16px]/[22px] lg:text-[16px]/[22px] text-[#131818] font-bold">
      Make your selections
    </h3>
  </div>
  <div id="options-1" class="px-[20px] mt-[20px]">
    <h3 class="sm:text-[16px]/[22px] md:text-[16px]/[22px] lg:text-[16px]/[22px] text-[#131818] font-semibold">
      What is your gender:
    </h3>
    <div class="flex flex-wrap items-center gap-[10px] mt-[10px]">
      <label class="radio-box border border-solid border-[#DFC6AC] w-[100px] p-[5px] text-center py-[16px] rounded-md">
        <input type="radio" class="hidden" name="gender" value="male">
        <span class="sm:text-[16px]/[22px] md:text-[16px]/[22px] lg:text-[16px]/[22px] text-[#131818]">Male</span>
      </label>

      <label class="radio-box border border-solid border-[#DFC6AC] w-[100px] p-[5px] text-center py-[16px] rounded-md">
        <input type="radio" class="hidden" name="gender" value="female">
        <span class="sm:text-[16px]/[22px] md:text-[16px]/[22px] lg:text-[16px]/[22px] text-[#131818]">Female</span>
      </label>
    </div>
  </div>
  <div id="options-2" class="px-[20px] mt-[32px] pb-[15px]">
    <h3 class="flex items-center gap-x-[10px] sm:text-[16px]/[22px] md:text-[16px]/[22px] lg:text-[16px]/[22px] text-[#131818] font-semibold">
      What is your scalp type:
      <span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="17"
          height="17"
          viewBox="0 0 17 17"
        >
          <defs>
          <clipPath id="clip-path">
              <rect id="Rectangle_14524" data-name="Rectangle 14524" width="17" height="17" transform="translate(176 760)" fill="#fff"></rect>
          </clipPath>
          </defs>
          <g id="Group_9038" data-name="Group 9038" transform="translate(-176 -760)" clip-path="url(#clip-path)">
          <path id="Path_11334" data-name="Path 11334" d="M184.5,775.585a7.083,7.083,0,1,0-7.083-7.084A7.084,7.084,0,0,0,184.5,775.585Z" fill="none" stroke="#9e6d44" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.178"></path>
          <path id="Path_11335" data-name="Path 11335" d="M182.438,766.373a2.125,2.125,0,0,1,4.129.708c0,1.417-2.125,2.125-2.125,2.125" fill="none" stroke="#9e6d44" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.178"></path>
          <path id="Path_11336" data-name="Path 11336" d="M184.5,772.043h.006" fill="none" stroke="#9e6d44" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.178"></path>
          </g>
        </svg>
      </span>
    </h3>
    <div class="flex flex-wrap items-center gap-[10px] mt-[10px]">
      <label class="radio-box border border-solid border-[#DFC6AC] w-[100px] p-[5px] text-center py-[16px] rounded-md">
        <input type="radio" class="hidden" name="scalp-type" value="Normal-Oily">
        <span class="sm:text-[16px]/[22px] md:text-[16px]/[22px] lg:text-[16px]/[22px] text-[#131818]"
          >Normal-Oily</span
        >
      </label>

      <label class="radio-box border border-solid border-[#DFC6AC] w-[100px] p-[5px] text-center py-[16px] rounded-md">
        <input type="radio" class="hidden" name="scalp-type" value="Dry">
        <span class="sm:text-[16px]/[22px] md:text-[16px]/[22px] lg:text-[16px]/[22px] text-[#131818]">Dry</span>
      </label>
      <label class="radio-box border border-solid border-[#DFC6AC] w-[100px] p-[5px] text-center py-[16px] rounded-md">
        <input type="radio" class="hidden" name="scalp-type" value="Oily">
        <span class="sm:text-[16px]/[22px] md:text-[16px]/[22px] lg:text-[16px]/[22px] text-[#131818]">Oily</span>
      </label>
    </div>
  </div>
  <div id="options-3" class="px-[20px] mt-[32px] pb-[25px]">
    <h3 class="flex items-center gap-x-[10px] sm:text-[16px]/[22px] md:text-[16px]/[22px] lg:text-[16px]/[22px] text-[#131818] font-semibold">
      What is your hair type:
      <span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="17"
          height="17"
          viewBox="0 0 17 17"
        >
          <defs>
          <clipPath id="clip-path">
              <rect id="Rectangle_14524" data-name="Rectangle 14524" width="17" height="17" transform="translate(176 760)" fill="#fff"></rect>
          </clipPath>
          </defs>
          <g id="Group_9038" data-name="Group 9038" transform="translate(-176 -760)" clip-path="url(#clip-path)">
          <path id="Path_11334" data-name="Path 11334" d="M184.5,775.585a7.083,7.083,0,1,0-7.083-7.084A7.084,7.084,0,0,0,184.5,775.585Z" fill="none" stroke="#9e6d44" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.178"></path>
          <path id="Path_11335" data-name="Path 11335" d="M182.438,766.373a2.125,2.125,0,0,1,4.129.708c0,1.417-2.125,2.125-2.125,2.125" fill="none" stroke="#9e6d44" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.178"></path>
          <path id="Path_11336" data-name="Path 11336" d="M184.5,772.043h.006" fill="none" stroke="#9e6d44" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.178"></path>
          </g>
        </svg>
      </span>
    </h3>
    <div class="flex flex-wrap items-center gap-[10px] mt-[10px]">
      <label class="radio-box border border-solid border-[#DFC6AC] w-[100px] p-[5px] text-center py-[16px] rounded-md">
        <input type="radio" class="hidden" name="hari-type" value="Wavy">
        <span class="sm:text-[16px]/[22px] md:text-[16px]/[22px] lg:text-[16px]/[22px] text-[#131818]">Wavy</span>
      </label>

      <label class="radio-box border border-solid border-[#DFC6AC] w-[100px] p-[5px] text-center py-[16px] rounded-md">
        <input type="radio" class="hidden" name="hari-type" value="Curly">
        <span class="sm:text-[16px]/[22px] md:text-[16px]/[22px] lg:text-[16px]/[22px] text-[#131818]">Curly</span>
      </label>
      <label class="radio-box border border-solid border-[#DFC6AC] w-[100px] p-[5px] text-center py-[16px] rounded-md">
        <input type="radio" class="hidden" name="hari-type" value="Straight">
        <span class="sm:text-[16px]/[22px] md:text-[16px]/[22px] lg:text-[16px]/[22px] text-[#131818]">Straight</span>
      </label>
    </div>
  </div>
  <div class="">
    <button
      type="submit"
      class="bg-[#DE5844] inline-flex items-center gap-x-2 justify-center border-2 text-white px-4 border-[#131818] py-[16px] w-[100%] m-auto text-center"
    >
      Personalise Your Hair Oil
    </button>
  </div>
</div>
