<div class="fixed bottom-0 left-0 right-0 z-50 bg-soapstone shadow-[0px_-3px_6px_#0000000D]">
  <div class="container m-auto px-[20px]">
    <div class="mx-auto flex max-w-[600px] items-center justify-between py-[12px]">
      <div class="flex items-center gap-4">
        <div class="hidden h-[52px] w-[52px] overflow-hidden md:flex">
          <img
            src="https://cdn.shopify.com/s/files/1/0058/8827/8595/files/Rectangle_16448_2x_43e81f05-e9ae-4bb5-a9c1-9d29c2aeae6d.jpg?v=1707739810"
            class="h-full w-full"
            alt="product_image">
        </div>
        <div class="flex flex-col">
          <h2 class="font-AnekLatin-SemiBold text-woodsmoke sm:text-[14px]/[22px] md:text-[14px]/[22px] lg:text-[14px]/[22px]">
            Stimulating Hair Oil
          </h2>
          <div id="price" class="flex items-center gap-[10px]">
            <p class="font-AnekLatin-Bold text-woodsmoke sm:text-[20px]/[22px] md:text-[20px]/[22px] lg:text-[20px]/[22px]">
              ₹449
            </p>
            <p class="font-AnekLatin-Bold text-woodsmoke line-through opacity-40 sm:text-[20px]/[22px] md:text-[20px]/[22px] lg:text-[20px]/[22px]">
              ₹449
            </p>
          </div>
        </div>
      </div>
      <a href="#" class="btn min-w-fit">
        <span class="mb-[-2px] mt-[2px]">Add To Cart</span>
      </a>
    </div>
  </div>
</div>