<div class="bg-soapstone fixed bottom-0 left-0 right-0">
  <div class="container m-auto px-[20px]">
    <div class="flex items-center justify-between py-[12px]">
      <div class="">
        <h2 class="sm:text-[14px]/[22px] md:text-[14px]/[22px] lg:text-[14px]/[22px] font-AnekLatin-SemiBold text-woodsmoke">
          Stimulating Hair Oil
        </h2>
        <div id="price" class="flex items-center gap-[10px]">
          <p class="sm:text-[20px]/[22px] md:text-[20px]/[22px] lg:text-[20px]/[22px] font-AnekLatin-Bold text-woodsmoke">
            ₹449
          </p>
          <p class="sm:text-[20px]/[22px] md:text-[20px]/[22px] lg:text-[20px]/[22px] font-AnekLatin-Bold text-woodsmoke line-through opacity-40">
            ₹449
          </p>
        </div>
      </div>
      <div class="bg-flame-pea py-[12px] px-[16px]">
        <a
          href=""
          class="sm:text-[20px]/[22px] md:text-[20px]/[22px] lg:text-[20px]/[22px] font-AnekLatin-Bold text-white"
          >Add To Cart</a
        >
      </div>
    </div>
  </div>
</div>
