<div class="popupBox overlay before:fixed before:bottom-0 before:left-0 before:right-0 before:top-0 before:z-[80] before:h-full before:bg-black before:opacity-75 before:content-['']">
  <div class="fixed bottom-0 left-1/2 z-[90] w-full max-w-[400px] -translate-x-1/2 transform bg-soapstone md:bottom-auto md:top-1/2 md:-translate-y-1/2">
    <div class="container mx-auto p-5">
      <span id="close" class="absolute right-5 top-6 cursor-pointer closeButton">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="12"
          height="12"
          viewBox="0 0 11.326 11.315">
          <path
            id="Path_11777"
            data-name="Path 11777"
            d="M165.033,579.321a.973.973,0,0,1,0,1.392,1,1,0,0,1-1.392,0l-3.978-3.978-3.978,3.978a1,1,0,0,1-1.392,0,.973.973,0,0,1,0-1.392l3.979-3.978-3.979-3.978a.984.984,0,1,1,1.392-1.391l3.978,3.978,3.978-3.978a.984.984,0,0,1,1.392,1.391l-3.979,3.978Z"
            transform="translate(-154 -569.68)"
            fill="#000000" />
        </svg>
      </span>
      <div id="popupHeader" class="mb-8 flex flex-col gap-2">
        <h2 class="font-AnekLatin-Bold text-[16px]/[18px] text-black">How To Use My Routine ?</h2>
        <p class="text-[14px]/[19px] text-black">
          Your routine consists of a Shampoo, Oil and Serum. Here’s how to use these to make the most of your routine:
        </p>
      </div>
      <div id="popupBody" class="mb-4">
        <ul class="grid grid-cols-1 items-center gap-1 border-b border-solid border-black border-opacity-5 pb-4">
          <li class="flex items-center gap-4">
            <div class="h-[60px] w-[60px] max-w-[60px] flex-[0_0_100%] overflow-hidden rounded-full">
              <img
                src="https://cdn.shopify.com/s/files/1/0058/8827/8595/files/Rectangle_14531_2x_9a6b422b-02e4-4c0e-a895-a093e8f51ff3.jpg?v=1704352446"
                width="100"
                height="100"
                alt="vedix"
                loading="lazy">
            </div>
            <div class="w-full border-b border-solid border-black border-opacity-5 py-5">
              <h3 class="font-AnekLatin-Medium text-[16px]/[19px] text-black">
                First, use the shampoo while taking a shower.
              </h3>
            </div>
          </li>
          <li class="flex items-center gap-4">
            <div class="h-[60px] w-[60px] max-w-[60px] flex-[0_0_100%] overflow-hidden rounded-full">
              <img
                src="https://cdn.shopify.com/s/files/1/0058/8827/8595/files/Rectangle_14532_2x_80bec4a2-ecda-4445-aaea-93d64c155b51.jpg?v=1704352445"
                width="100"
                height="100"
                alt="vedix"
                loading="lazy">
            </div>
            <div class="w-full border-b border-solid border-black border-opacity-5 py-5">
              <h3 class="font-AnekLatin-Medium text-[16px]/[19px] text-black">
                After the shower, dry your hair and then apply the serum.
              </h3>
            </div>
          </li>
          <li class="flex items-center gap-4">
            <div class="h-[60px] w-[60px] max-w-[60px] flex-[0_0_100%] overflow-hidden rounded-full">
              <img
                src="https://cdn.shopify.com/s/files/1/0058/8827/8595/files/Rectangle_14533_2x_60caef41-3303-4e47-afa7-136eee772fe9.jpg?v=1704352445"
                width="100"
                height="100"
                alt="vedix"
                loading="lazy">
            </div>
            <div class="w-full py-4">
              <h3 class="font-AnekLatin-Medium text-[16px]/[19px] text-black">Before sleeping at night use the oil.</h3>
            </div>
          </li>
        </ul>
      </div>
      <div id="popupFooter" class="flex items-center bg-quarter-spanish-white px-4 py-2">
        <p class="text-center font-AnekDevanagari-SemiBold text-[12px]/[16px] text-cape-palliser">
          Important: If you don’t see results right away, that is completely normal. Give the routine and all the  
          natural ingredients some time to work !
        </p>
      </div>
    </div>
  </div>
</div>