<div class="popupBox overlay before:fixed before:bottom-0 before:left-0 before:right-0 before:top-0 before:z-[80] before:h-full before:bg-black before:opacity-75 before:content-['']">
  <div class="fixed bottom-0 left-1/2 z-[90] w-full max-w-[400px] -translate-x-1/2 transform bg-soapstone md:bottom-auto md:top-1/2 md:-translate-y-1/2">
    <div class="flex items-center justify-between p-4 shadow-[0px_3px_4px_#0000001A]">
      <h2 class="font-AnekLatin-Bold text-[16px]/[26px] text-black">Track your progress</h2>
      <span class="block cursor-pointer closeButton" id="back">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="14.593"
          height="14.593"
          viewBox="0 0 14.593 14.593">
          <path
            id="Path_13691"
            data-name="Path 13691"
            d="M339,127l-12-12m12,0-12,12"
            transform="translate(-325.704 -113.704)"
            fill="none"
            stroke="#000"
            stroke-linecap="round"
            stroke-width="1.833" />
        </svg>
      </span>
    </div>
    <div class="h-[calc(100vh_-_200px)] overflow-y-auto py-[24px]">
      <div class="container mx-auto px-4 pb-4 pt-10">
        <ul class="relative flex flex-col gap-y-6 before:absolute before:left-[8px] before:top-[-30px] before:h-[12px] before:w-[12px] before:rounded-[50%] before:bg-black after:absolute after:bottom-[-30px] after:left-[8px] after:h-[12px] after:w-[12px] after:rounded-[50%] after:bg-black">
          <li class="relative border border-solid border-dove-gray bg-merino px-4 before:absolute before:left-[12px] before:top-[-20px] before:h-[20px] before:w-[1px] before:bg-black">
            <div class="flex cursor-pointer items-center justify-between py-3">
              <div class="flex items-center">
                <h3 class="pr-4 font-AnekLatin-Bold text-[12px]/[26px] text-black">FIRST 15 DAYS</h3>
                <span class="h-[5px] w-[5px] rounded-[50%] bg-alto"></span>
                <h3 class="font-AnekLatin-SemiBoldBold pl-[5px] pr-4 text-[10px]/[26px] text-black text-opacity-50">
                  YOU ARE HERE
                </h3>
              </div>
              <span class="cursor-pointer">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="9.313"
                  height="5.477"
                  viewBox="0 0 9.313 5.477">
                  <path
                    id="Path_9818"
                    data-name="Path 9818"
                    d="M248.809,46.167l3.6,3.667,3.6-3.667"
                    transform="translate(-247.748 -45.106)"
                    fill="none"
                    stroke="#000"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.5" />
                </svg>
              </span>
            </div>
            <div class="pb-[18px]">
              <div>
                <img
                  src="https://cdn.shopify.com/s/files/1/0058/8827/8595/files/accordion-img.png?v=1706614720"
                  alt="accordion"
                  loading="lazy"
                  class="w-full">
              </div>
              <h4 class="pt-4 font-AnekLatin-Medium text-[16px]/[20px] text-black">
                What to expect for the next 15 days: Improved scalp health, unhealthy hair sheds due to massaging
              </h4>
              <p class="pt-6 font-AnekLatin-Medium text-[12px]/[16px] text-black">
                Tip: Lorem ipsum dolor sit amet consectetur. A magna porta tortor lectus viverra purus quisque mattis.
              </p>
            </div>
          </li>
          <li class="relative border border-solid border-dove-gray bg-merino px-4 before:absolute before:-top-[25px] before:left-[12px] before:h-[25px] before:w-[1px] before:bg-black">
            <div class="flex cursor-pointer items-center justify-between py-3">
              <div class="flex items-center">
                <h3 class="pr-4 font-AnekLatin-Bold text-[12px]/[26px] text-black">DAY 15-DAY 30</h3>
              </div>
              <span class="cursor-pointer">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="9.313"
                  height="5.477"
                  viewBox="0 0 9.313 5.477">
                  <path
                    id="Path_9818"
                    data-name="Path 9818"
                    d="M248.809,46.167l3.6,3.667,3.6-3.667"
                    transform="translate(-247.748 -45.106)"
                    fill="none"
                    stroke="#000"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.5" />
                </svg>
              </span>
            </div>
            <div class="hidden pb-[18px]">
              <div>
                <img
                  src="https://cdn.shopify.com/s/files/1/0058/8827/8595/files/accordion-img.png?v=1706614720"
                  alt="accordion"
                  loading="lazy"
                  class="w-full">
              </div>
              <h4 class="pt-4 font-AnekLatin-Medium text-[16px]/[20px] text-black">
                What to expect for the next 15 days: Improved scalp health, unhealthy hair sheds due to massaging
              </h4>
              <p class="pt-6 font-AnekLatin-Medium text-[12px]/[16px] text-black">
                Tip: Lorem ipsum dolor sit amet consectetur. A magna porta tortor lectus viverra purus quisque mattis.
              </p>
            </div>
          </li>
          <li class="relative border border-solid border-dove-gray bg-merino px-4 before:absolute before:-top-[25px] before:left-[12px] before:h-[25px] before:w-[1px] before:bg-black">
            <div class="flex cursor-pointer items-center justify-between py-3">
              <div class="flex items-center">
                <h3 class="pr-4 font-AnekLatin-Bold text-[12px]/[26px] text-black">DAY 30-DAY 60</h3>
              </div>
              <span class="cursor-pointer">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="9.313"
                  height="5.477"
                  viewBox="0 0 9.313 5.477">
                  <path
                    id="Path_9818"
                    data-name="Path 9818"
                    d="M248.809,46.167l3.6,3.667,3.6-3.667"
                    transform="translate(-247.748 -45.106)"
                    fill="none"
                    stroke="#000"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.5" />
                </svg>
              </span>
            </div>
            <div class="hidden pb-[18px]">
              <div>
                <img
                  src="https://cdn.shopify.com/s/files/1/0058/8827/8595/files/accordion-img.png?v=1706614720"
                  alt="accordion"
                  loading="lazy"
                  class="w-full">
              </div>
              <h4 class="pt-4 font-AnekLatin-Medium text-[16px]/[20px] text-black">
                What to expect for the next 15 days: Improved scalp health, unhealthy hair sheds due to massaging
              </h4>
              <p class="pt-6 font-AnekLatin-Medium text-[12px]/[16px] text-black">
                Tip: Lorem ipsum dolor sit amet consectetur. A magna porta tortor lectus viverra purus quisque mattis.
              </p>
            </div>
          </li>
          <li class="after:bottom[-20px] relative border border-solid border-dove-gray bg-merino px-4 before:absolute before:-top-[25px] before:left-[12px] before:h-[25px] before:w-[1px] before:bg-black after:absolute after:left-[12px] after:h-[20px] after:w-[1px] after:bg-black">
            <div class="flex cursor-pointer items-center justify-between py-3">
              <div class="flex items-center">
                <h3 class="pr-4 font-AnekLatin-Bold text-[12px]/[26px] text-black">DAY 60-DAY 90</h3>
              </div>
              <span class="cursor-pointer">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="9.313"
                  height="5.477"
                  viewBox="0 0 9.313 5.477">
                  <path
                    id="Path_9818"
                    data-name="Path 9818"
                    d="M248.809,46.167l3.6,3.667,3.6-3.667"
                    transform="translate(-247.748 -45.106)"
                    fill="none"
                    stroke="#000"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.5" />
                </svg>
              </span>
            </div>
            <div class="hidden pb-[18px]">
              <div>
                <img
                  src="https://cdn.shopify.com/s/files/1/0058/8827/8595/files/accordion-img.png?v=1706614720"
                  alt="accordion"
                  loading="lazy"
                  class="w-full">
              </div>
              <h4 class="pt-4 font-AnekLatin-Medium text-[16px]/[22px] text-black">
                What to expect for the next 15 days: Improved scalp health, unhealthy hair sheds due to massaging
              </h4>
              <p class="pt-6 font-AnekLatin-Medium text-[12px]/[16px] text-black">
                Tip: Lorem ipsum dolor sit amet consectetur. A magna porta tortor lectus viverra purus quisque mattis.
              </p>
            </div>
          </li>
        </ul>
        <div class="mt-16 flex flex-col items-center gap-4 border-t border-solid border-woodsmoke border-opacity-10 pt-6 text-center">
          <h4 class="font-AnekLatin-Medium text-[14px]/[18px] text-black">
            Need help with the routine, have an allergy and want to change products ?
          </h4>
          <ul class="flex flex-wrap gap-6 [&>*:not(:first-child)]:before:absolute [&>*:not(:first-child)]:before:-left-3 [&>*:not(:first-child)]:before:top-1/2 [&>*:not(:first-child)]:before:h-[5px] [&>*:not(:first-child)]:before:w-[5px] [&>*:not(:first-child)]:before:-translate-y-1/2 [&>*:not(:first-child)]:before:transform [&>*:not(:first-child)]:before:rounded-full [&>*:not(:first-child)]:before:bg-black [&>*:not(:first-child)]:before:content-['']">
            <li class="relative">
              <a href="#" class="font-AnekLatin-SemiBold text-[10px]/[26px] text-burnt-sienna">How to use my Routine?</a>
            </li>
            <li class="relative">
              <a href="#" class="font-AnekLatin-SemiBold text-[10px]/[26px] text-burnt-sienna">Change Product</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>