<div class="overlay before:fixed before:bottom-0 before:left-0 before:right-0 before:top-0 before:z-[8] before:h-full before:bg-black before:opacity-75 before:content-['']">
  <div class="fixed bottom-0 left-1/2 z-[9] w-full max-w-[382px] -translate-x-1/2 transform bg-white md:bottom-auto md:top-1/2 md:-translate-y-1/2">
    <div id="popupHeader" class="block px-5 pt-6">
      <h2 class="relative pr-8 font-AnekLatin-Bold text-[20px]/[22px] uppercase text-woodsmoke">
        CHOOSE YOUR PACK
        <span class="absolute right-0 top-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="13.984"
            height="13.984"
            viewBox="0 0 13.984 13.984"
          >
            <g
              id="Group_1250"
              data-name="Group 1250"
              transform="translate(683.252 283.471) rotate(135)">
              <path
                id="Path_3968"
                data-name="Path 3968"
                d="M679.031,665.684V682.06"
                transform="translate(-396.343 -0.184)"
                fill="none"
                stroke="#8d8d8d"
                stroke-linecap="round"
                stroke-width="1.7" />
              <path
                id="Path_3969"
                data-name="Path 3969"
                d="M0,0V16.376"
                transform="translate(290.876 673.688) rotate(90)"
                fill="none"
                stroke="#8d8d8d"
                stroke-linecap="round"
                stroke-width="1.7" />
            </g>
          </svg>
        </span>
      </h2>
    </div>
    <div id="popupBody" class="flex flex-col gap-[10px] px-5 py-6">
      <div class="flex items-center justify-between rounded-md border border-silver-chalice px-4 py-3">
        <div class="flex gap-5">
          <div class="flex items-center">
            <input id="radio1" type="radio" name="radio" class="peer hidden">
            <label
              for="radio1"
              class="flex h-5 w-5 cursor-pointer items-center rounded-full border border-solid border-cape-palliser bg-white shadow-[0px_0px_0px_4px_#F7EEDF_inset;]  peer-checked:bg-cape-palliser"
            >
            </label>
          </div>
          <p class="font-AnekLatin-SemiBold text-[16px]/[22px] text-woodsmoke">Buy for 1 Month</p>
        </div>
        <div class="">
          <span class="mx-3 font-AnekLatin-Bold text-[16px]/[22px] text-woodsmoke">Rs.999</span>
          <span class="text-[14px]/[22px] text-dove-gray line-through">Rs.1399</span>
        </div>
      </div>
      <div class="relative rounded-md border border-silver-chalice px-4 pb-3 pt-7">
        <div class="absolute left-0 top-0">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="108"
            height="18"
            viewBox="0 0 108 18"
          >
            <g
              id="Group_9075"
              data-name="Group 9075"
              transform="translate(-17 -454)">
              <path
                id="Rectangle_9791"
                data-name="Rectangle 9791"
                d="M6,0H108a0,0,0,0,1,0,0V8A10,10,0,0,1,98,18H0a0,0,0,0,1,0,0V6A6,6,0,0,1,6,0Z"
                transform="translate(17 454)"
                fill="#8373c0" />
              <text
                id="Recommended"
                transform="translate(28 467)"
                fill="#fff"
                font-size="12"
                font-family="AnekLatin-Medium, Anek Latin"
                font-weight="500"
                letter-spacing="0.07em">
                <tspan x="0" y="0">RECOMMENDED</tspan>
              </text>
            </g>
          </svg>
        </div>
        <div class="flex items-center justify-between">
          <div class="flex gap-5">
            <div class="flex items-center">
              <input id="radio2" type="radio" name="radio" class="peer hidden">
              <label
                for="radio2"
                class="flex h-5 w-5 cursor-pointer items-center rounded-full border border-solid border-cape-palliser bg-white shadow-[0px_0px_0px_4px_#F7EEDF_inset;]  peer-checked:bg-cape-palliser"
              >
              </label>
            </div>
            <p class="font-AnekLatin-SemiBold text-[16px]/[22px] text-woodsmoke">Buy for 2 Months</p>
          </div>
          <div class="">
            <span class="mx-3 font-AnekLatin-Bold text-[16px]/[22px] text-woodsmoke">Rs.2398</span>
            <span class="text-[14px]/[22px] text-dove-gray line-through">Rs.2997</span>
          </div>
        </div>
        <div class="flex items-center justify-between px-5 pt-2">
          <div class="flex items-center gap-5">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="12"
              height="11.997"
              viewBox="0 0 12 11.997"
            >
              <g
                id="Group_9076"
                data-name="Group 9076"
                transform="translate(0 -0.799)">
                <path
                  id="Path_5430"
                  data-name="Path 5430"
                  d="M5.471,11.466l5.193-5.193V2.133H6.524L1.331,7.326Zm2.86-7.833a.833.833,0,1,1,.244.589A.833.833,0,0,1,8.331,3.633Z"
                  opacity="0.3" />
                <path
                  id="Path_5431"
                  data-name="Path 5431"
                  d="M.393,6.385a1.32,1.32,0,0,0,0,1.88l4.14,4.14a1.336,1.336,0,0,0,1.887,0l5.193-5.193A1.332,1.332,0,0,0,12,6.272V2.132A1.337,1.337,0,0,0,10.667.8H6.527a1.311,1.311,0,0,0-.94.393ZM10.667,2.132v4.14L5.473,11.465l-4.14-4.14L6.527,2.132Z" />
                <path
                  id="Path_5432"
                  data-name="Path 5432"
                  d="M8.333,3.632A.833.833,0,1,0,9.167,2.8.833.833,0,0,0,8.333,3.632Z" />
              </g>
            </svg>
            <span class="font-AnekLatin-SemiBold text-[12px]/[22px] text-woodsmoke">Get 1 Month Pack FREE</span>
          </div>
          <span class="font-AnekLatin-Medium text-[14px]/[22px] text-dove-gray">(Rs.799/ Month)</span>
        </div>
      </div>
      <div class="rounded-md border border-silver-chalice px-4 py-3">
        <div class="flex items-center justify-between">
          <div class="flex gap-5">
            <div class="flex items-center">
              <input id="radio3" type="radio" name="radio" class="peer hidden">
              <label
                for="radio3"
                class="flex h-5 w-5 cursor-pointer items-center rounded-full border border-solid border-cape-palliser bg-white shadow-[0px_0px_0px_4px_#F7EEDF_inset;]  peer-checked:bg-cape-palliser"
              >
              </label>
            </div>
            <p class="font-AnekLatin-SemiBold text-[16px]/[22px] text-woodsmoke">Buy for 2 Months</p>
          </div>
          <div class="">
            <span class="mx-3 font-AnekLatin-Bold text-[16px]/[22px] text-woodsmoke">Rs.2398</span>
            <span class="text-[14px]/[22px] text-dove-gray line-through">Rs.2997</span>
          </div>
        </div>
        <div class="flex items-center justify-between px-5 pt-2">
          <div class="flex items-center gap-5">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="12"
              height="11.997"
              viewBox="0 0 12 11.997"
            >
              <g
                id="Group_9076"
                data-name="Group 9076"
                transform="translate(0 -0.799)">
                <path
                  id="Path_5430"
                  data-name="Path 5430"
                  d="M5.471,11.466l5.193-5.193V2.133H6.524L1.331,7.326Zm2.86-7.833a.833.833,0,1,1,.244.589A.833.833,0,0,1,8.331,3.633Z"
                  opacity="0.3" />
                <path
                  id="Path_5431"
                  data-name="Path 5431"
                  d="M.393,6.385a1.32,1.32,0,0,0,0,1.88l4.14,4.14a1.336,1.336,0,0,0,1.887,0l5.193-5.193A1.332,1.332,0,0,0,12,6.272V2.132A1.337,1.337,0,0,0,10.667.8H6.527a1.311,1.311,0,0,0-.94.393ZM10.667,2.132v4.14L5.473,11.465l-4.14-4.14L6.527,2.132Z" />
                <path
                  id="Path_5432"
                  data-name="Path 5432"
                  d="M8.333,3.632A.833.833,0,1,0,9.167,2.8.833.833,0,0,0,8.333,3.632Z" />
              </g>
            </svg>
            <span class="font-AnekLatin-SemiBold text-[12px]/[22px] text-woodsmoke">Get 1 Month Pack FREE</span>
          </div>
          <span class="font-AnekLatin-Medium text-[14px]/[22px] text-dove-gray">(Rs.799/ Month)</span>
        </div>
      </div>
    </div>
    <div id="popupFooter">
      <div class="flex justify-between bg-[#F1E8CD] px-5 py-3">
        <div class="flex gap-5">
          <span class="block max-w-[82px]">
            <img
              src="https://cdn.shopify.com/s/files/1/0563/6014/0935/files/Image_70_2x_85ad9605-b0f2-4450-a602-7ac12cff1a07.png?v=1702977747"
              class="h-full w-full"
            >
          </span>
          <div class="flex flex-col">
            <div class="flex gap-1">
              <span class="font-AnekLatin-Bold text-[10px]/[12px] uppercase text-dove-gray">BENEFITS</span>
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="10.5" viewBox="0 0 8 10.5">
                  <g id="Group_1494" data-name="Group 1494" transform="translate(-162 -720)">
                    <path id="Path_5429" data-name="Path 5429" d="M3,11.642a1,1,0,0,1-1-1v-5a1,1,0,0,1,1-1h.5v-1a2.41,2.41,0,0,1,.732-1.769A2.408,2.408,0,0,1,6,1.142a2.41,2.41,0,0,1,1.769.732A2.408,2.408,0,0,1,8.5,3.642v1H9a1,1,0,0,1,1,1v5a1,1,0,0,1-1,1Zm3-2.5a1,1,0,1,0-.706-.293A.963.963,0,0,0,6,9.142Zm-1.5-4.5h3v-1A1.494,1.494,0,0,0,6,2.142a1.494,1.494,0,0,0-1.5,1.5Z" transform="translate(160 718.858)" fill="#605d52"/>
                    <rect id="Rectangle_9792" data-name="Rectangle 9792" width="2" height="1" transform="translate(163 722)" fill="#f1e8cd"/>
                  </g>
                </svg>
              </span>
              <span class="font-AnekLatin-Bold text-[10px]/[12px] uppercase text-apricot">UNLOCKED</span>
            </div>
            <p class="font-AnekLatin-Bold text-[14px]/[16px] text-mine-shaft">Get Extra 20% Off</p>
          </div>
        </div>
        <div class="flex items-center gap-2">
          <span class="font-AnekLatin-SemiBold text-[16px]/[22px] text-black">Rs.399</span>
          <label for="toggleB" class="relative flex cursor-pointer items-center">
            <div class="relative">
              <input type="checkbox" id="toggleB" class="peer sr-only">
              <div
                class="area block h-6 w-10 rounded-full border border-solid border-black bg-gallery peer-checked:bg-de-york"
              ></div>
              <div
                class="dot absolute left-1 top-1 h-4 w-4 transform rounded-full border border-solid border-black bg-white transition peer-checked:translate-x-full peer-checked:bg-white"
              ></div>
            </div>
          </label>
        </div>
      </div>
      <a
        href="#"
        class="btn w-full min-w-fit border-none"
        role="button"
      >
        <span class="mb-[-2px] mt-[2px] uppercase">CHOOSE PACK</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="11.796"
          height="10.315"
          viewBox="0 0 11.796 10.315"
        >
          <g
            id="Group_8849"
            data-name="Group 8849"
            transform="translate(-215.754 -537.843)">
            <path
              id="Icon_ionic-ios-arrow-forward"
              data-name="Icon ionic-ios-arrow-forward"
              d="M15.366,11.352l-3.9-3.9a.734.734,0,0,1,0-1.041.743.743,0,0,1,1.044,0l4.422,4.419a.736.736,0,0,1,.021,1.016L12.51,16.3a.737.737,0,0,1-1.044-1.041Z"
              transform="translate(204.508 531.646)"
              fill="#fff"></path>
            <path
              id="Icon_ionic-ios-arrow-forward-2"
              data-name="Icon ionic-ios-arrow-forward"
              d="M15.366,11.352l-3.9-3.9a.734.734,0,0,1,0-1.041.743.743,0,0,1,1.044,0l4.422,4.419a.736.736,0,0,1,.021,1.016L12.51,16.3a.737.737,0,0,1-1.044-1.041Z"
              transform="translate(210.406 531.646)"
              fill="#fff"></path>
          </g>
        </svg>
      </a>
    </div>
  </div>
</div>
