<div class="container relative">
  <div class="mx-auto max-w-xl p-8">
    <div class="flex items-center justify-between">
      <h2 class="text-xl font-bold">BUY YOUR REGIMEN</h2>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="13.984"
        height="13.984"
        viewBox="0 0 13.984 13.984">
        <g
          id="Group_1250"
          data-name="Group 1250"
          transform="translate(683.252 283.471) rotate(135)">
          <path
            id="Path_3968"
            data-name="Path 3968"
            d="M679.031,665.684V682.06"
            transform="translate(-396.343 -0.184)"
            fill="none"
            stroke="#8d8d8d"
            stroke-linecap="round"
            stroke-width="1.7" />
          <path
            id="Path_3969"
            data-name="Path 3969"
            d="M0,0V16.376"
            transform="translate(290.876 673.688) rotate(90)"
            fill="none"
            stroke="#8d8d8d"
            stroke-linecap="round"
            stroke-width="1.7" />
        </g>
      </svg>
    </div>
    <div class="my-5 border border-[#B2B2B2]">
      <div class="bg-quarter-spanish-white flex items-center justify-between border-b-2 px-4 pb-4 pt-4">
        <div class="flex gap-5">
          <p class="text-base font-bold">3 Step Hair Care Kit</p>
        </div>
        <div class="">
          <span class="mx-3 font-bold">Rs.999</span>
          <span class="line-through">Rs.1399</span>
          <input type="radio" />
        </div>
      </div>
      <div class="flex gap-3 px-4 py-3">
        <div class="w-2/5">
          <img src="https://picsum.photos/200/200" alt="" />
        </div>
        <div class="w-3/5">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="108"
            height="18"
            viewBox="0 0 108 18">
            <g
              id="Group_9075"
              data-name="Group 9075"
              transform="translate(-17 -454)">
              <path
                id="Rectangle_9791"
                data-name="Rectangle 9791"
                d="M6,0H108a0,0,0,0,1,0,0V8A10,10,0,0,1,98,18H0a0,0,0,0,1,0,0V6A6,6,0,0,1,6,0Z"
                transform="translate(17 454)"
                fill="#8373c0" />
              <text
                id="Recommended"
                transform="translate(28 467)"
                fill="#fff"
                font-size="12"
                font-family="AnekLatin-Medium, Anek Latin"
                font-weight="500"
                letter-spacing="0.07em">
                <tspan x="0" y="0">RECOMMENDED</tspan>
              </text>
            </g>
          </svg>
          <p>1 Month Plan</p>
          <p class="font-bold">3 Custom Products</p>
          <p class="text-xs">Hair Oil + Hair Shampoo + Hair Serum</p>
        </div>
      </div>
    </div>
    <div class="my-5 border border-[#B2B2B2]">
      <div class="bg-quarter-spanish-white flex items-center justify-between border-b-2 px-4 pb-4 pt-4">
        <div class="flex gap-5">
          <p class="text-base font-bold">3 Step Hair Care Kit</p>
        </div>
        <div class="">
          <span class="mx-3 font-bold">Rs.999</span>
          <span class="line-through">Rs.1399</span>
          <input type="radio" />
        </div>
      </div>
      <div class="flex gap-3 px-4 py-3">
        <div class="w-2/5">
          <img src="https://picsum.photos/200/200" alt="" />
        </div>
        <div class="w-3/5">
          <p>1 Month Plan</p>
          <p class="font-bold">3 Custom Products</p>
          <p class="text-xs">Hair Oil + Hair Shampoo + Hair Serum</p>
        </div>
      </div>
    </div>
    <div class="my-5 border border-[#B2B2B2]">
      <div class="bg-quarter-spanish-white flex items-center justify-between border-b-2 px-4 pb-4 pt-4">
        <div class="flex gap-5">
          <p class="text-base font-bold">3 Step Hair Care Kit</p>
        </div>
        <div class="">
          <span class="mx-3 font-bold">Rs.999</span>
          <span class="line-through">Rs.1399</span>
          <input type="radio" />
        </div>
      </div>
      <div class="flex gap-3 px-4 py-3">
        <div class="w-2/5">
          <img src="https://picsum.photos/200/200" alt="" />
        </div>
        <div class="w-3/5">
          <p>1 Month Plan</p>
          <p class="font-bold">3 Custom Products</p>
          <p class="text-xs">Hair Oil + Hair Shampoo + Hair Serum</p>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-5 flex justify-between bg-[#F1E8CD] px-3 py-3">
    <div class="flex gap-5">
      <img src="https://picsum.photos/id/237/82/27" />
      <p class="font-bold">Get Extra 20% Off</p>
    </div>
    <div class="flex items-center gap-5">
      <span class="font-bold">Rs.399</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="33"
        height="18"
        viewBox="0 0 33 18">
        <g
          id="Group_9081"
          data-name="Group 9081"
          transform="translate(35 21.142) rotate(180)">
        <g id="Group_1488" data-name="Group 1488">
          <rect
            id="Rectangle_9789"
            data-name="Rectangle 9789"
            width="33"
            height="18"
            rx="9"
            transform="translate(2 3.142)"
            fill="#89c394" />
        </g>
        <rect
          id="Rectangle_9790"
          data-name="Rectangle 9790"
          width="32"
          height="17"
          rx="8.5"
          transform="translate(2.5 3.642)"
          fill="none"
          stroke="#000"
          stroke-width="1" />
        <g
          id="Group_1489"
          data-name="Group 1489"
          transform="translate(0 -0.935)">
          <circle
            id="Ellipse_121"
            data-name="Ellipse 121"
            cx="6.783"
            cy="6.783"
            r="6.783"
            transform="translate(4.836 6.302)"
            fill="#fff"
            stroke="#000"
            stroke-width="1" />
        </g>
      </g>
    </svg>
  </div>
</div>
<a href="#" class="inline-flex w-full items-center justify-center gap-x-2 bg-[#DE5844] px-4 py-4 font-bold text-white">
  BUY 3 STEP REGIMEN
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="11.796"
    height="10.315"
    viewBox="0 0 11.796 10.315">
    <g
      id="Group_8849"
      data-name="Group 8849"
      transform="translate(-215.754 -537.843)">
      <path
        id="Icon_ionic-ios-arrow-forward"
        data-name="Icon ionic-ios-arrow-forward"
        d="M15.366,11.352l-3.9-3.9a.734.734,0,0,1,0-1.041.743.743,0,0,1,1.044,0l4.422,4.419a.736.736,0,0,1,.021,1.016L12.51,16.3a.737.737,0,0,1-1.044-1.041Z"
        transform="translate(204.508 531.646)"
        fill="#fff"></path>
      <path
        id="Icon_ionic-ios-arrow-forward-2"
        data-name="Icon ionic-ios-arrow-forward"
        d="M15.366,11.352l-3.9-3.9a.734.734,0,0,1,0-1.041.743.743,0,0,1,1.044,0l4.422,4.419a.736.736,0,0,1,.021,1.016L12.51,16.3a.737.737,0,0,1-1.044-1.041Z"
        transform="translate(210.406 531.646)"
        fill="#fff"></path>
    </g>
  </svg>
</a></div>