<div class="overlay before:fixed before:bottom-0 before:left-0 before:right-0 before:top-0 before:z-[8] before:h-full before:bg-black before:opacity-75 before:content-['']">
  <div class="fixed bottom-0 left-1/2 z-[9] w-full max-w-[382px] -translate-x-1/2 transform bg-white md:bottom-auto md:top-1/2 md:-translate-y-1/2">
    <div id="popupHeader" class="block px-5 pt-6">
      <h2 class="relative pr-8 font-AnekLatin-Bold text-[20px]/[22px] uppercase text-woodsmoke">
        BUY YOUR REGIMEN
        <span class="absolute right-0 top-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="13.984"
            height="13.984"
            viewBox="0 0 13.984 13.984"
          >
            <g
              id="Group_1250"
              data-name="Group 1250"
              transform="translate(683.252 283.471) rotate(135)">
              <path
                id="Path_3968"
                data-name="Path 3968"
                d="M679.031,665.684V682.06"
                transform="translate(-396.343 -0.184)"
                fill="none"
                stroke="#8d8d8d"
                stroke-linecap="round"
                stroke-width="1.7" />
              <path
                id="Path_3969"
                data-name="Path 3969"
                d="M0,0V16.376"
                transform="translate(290.876 673.688) rotate(90)"
                fill="none"
                stroke="#8d8d8d"
                stroke-linecap="round"
                stroke-width="1.7" />
            </g>
          </svg>
        </span>
      </h2>
    </div>
    <div id="popupBody" class="flex max-h-[600px] flex-col gap-[10px] overflow-y-auto px-5 py-6">
      <div class="border border-solid border-silver-chalice">
        <div class="flex items-center justify-between border-b border-solid border-black bg-quarter-spanish-white px-4 py-3">
          <div class="max-w-[50%] flex-[0_0_100%]">
            <p class="font-AnekLatin-Bold text-[14px]/[26px] text-woodsmoke">3 Step Hair Care Kit</p>
          </div>
          <div class="flex max-w-[calc(100%_-_50%)] flex-[0_0_100%] items-center justify-end gap-2">
            <span class="font-AnekLatin-SemiBold text-[16px]/[26px] text-woodsmoke">Rs.999</span>
            <span class="font-AnekLatin-SemiBold text-[14px]/[22px] text-gray line-through">Rs.1399</span>
            <div class="flex items-center">
              <input id="radio1" type="radio" name="radio" class="peer hidden">
              <label
                for="radio1"
                class="flex bg-white h-5 w-5 cursor-pointer items-center rounded-full border border-solid border-cape-palliser shadow-[0px_0px_0px_4px_#F7EEDF_inset;]  peer-checked:bg-cape-palliser"
              >
              </label>
            </div>
          </div>
        </div>
        <div class="flex gap-3 px-4 py-3">
          <div class="max-w-[100px] flex-[0_0_100%]">
            <img src="https://picsum.photos/200/200" alt="">
          </div>
          <div class="max-w-[calc(100%_-_100px)] flex-[0_0_100%]">
            <div>
              <p class="inline-flex rounded-[40px] bg-white-lilac px-2 py-[6px]">
                <span class="inline-block font-AnekLatin-SemiBold text-[12px]/[16px] text-blue-marguerite">
                  Recommended
                </span>
              </p>
            </div>
            <p class="text-[14px]/[22px] text-dove-gray">1 Month Plan</p>
            <p class="font-AnekLatin-Bold text-[14px]/[26px] text-mine-shaft">3 Custom Products</p>
            <p class="text-[12px]/[22px] text-woodsmoke">Hair Oil + Hair Shampoo + Hair Serum</p>
            <ul class="list-disc pl-4">
              <li class="text-[10px]/[16px] text-woodsmoke">ADD ON: No-Frizz Hair Conditioner</li>
            </ul>
            <p class="text-[10px]/[16px] text-woodsmoke">worth ₹499 at ₹399</p>
          </div>
        </div>
      </div>
      <div class="border border-solid border-silver-chalice">
        <div class="flex items-center justify-between border-b border-solid border-black bg-quarter-spanish-white px-4 py-3">
          <div class="max-w-[50%] flex-[0_0_100%]">
            <p class="font-AnekLatin-Bold text-[14px]/[26px] text-woodsmoke">3 Step Hair Care Kit</p>
          </div>
          <div class="flex max-w-[calc(100%_-_50%)] flex-[0_0_100%] items-center justify-end gap-2">
            <span class="font-AnekLatin-SemiBold text-[16px]/[26px] text-woodsmoke">Rs.999</span>
            <span class="font-AnekLatin-SemiBold text-[14px]/[22px] text-gray line-through">Rs.1399</span>
            <div class="flex items-center">
              <input id="radio2" type="radio" name="radio" class="peer hidden">
              <label
                for="radio2"
                class="flex bg-white h-5 w-5 cursor-pointer items-center rounded-full border border-solid border-cape-palliser shadow-[0px_0px_0px_4px_#F7EEDF_inset;]  peer-checked:bg-cape-palliser"
              >
              </label>
            </div>
          </div>
        </div>
        <div class="flex gap-3 px-4 py-3">
          <div class="max-w-[100px] flex-[0_0_100%]">
            <img src="https://picsum.photos/200/200" alt="">
          </div>
          <div class="max-w-[calc(100%_-_100px)] flex-[0_0_100%]">
            <p class="text-[14px]/[22px] text-dove-gray">1 Month Plan</p>
            <p class="font-AnekLatin-Bold text-[14px]/[26px] text-mine-shaft">3 Custom Products</p>
            <p class="text-[12px]/[22px] text-woodsmoke">Hair Oil + Hair Shampoo + Hair Serum</p>
            <ul class="list-disc pl-4">
              <li class="text-[10px]/[16px] text-woodsmoke">ADD ON: No-Frizz Hair Conditioner</li>
            </ul>
            <p class="text-[10px]/[16px] text-woodsmoke">worth ₹499 at ₹399</p>
          </div>
        </div>
      </div>
      <div class="border border-solid border-silver-chalice">
        <div class="flex items-center justify-between border-b border-solid border-black bg-quarter-spanish-white px-4 py-3">
          <div class="max-w-[50%] flex-[0_0_100%]">
            <p class="font-AnekLatin-Bold text-[14px]/[26px] text-woodsmoke">3 Step Hair Care Kit</p>
          </div>
          <div class="flex max-w-[calc(100%_-_50%)] flex-[0_0_100%] items-center justify-end gap-2">
            <span class="font-AnekLatin-SemiBold text-[16px]/[26px] text-woodsmoke">Rs.999</span>
            <span class="font-AnekLatin-SemiBold text-[14px]/[22px] text-gray line-through">Rs.1399</span>
            <div class="flex items-center">
              <input id="radio3" type="radio" name="radio" class="peer hidden">
              <label
                for="radio3"
                class="flex bg-white h-5 w-5 cursor-pointer items-center rounded-full border border-solid border-cape-palliser shadow-[0px_0px_0px_4px_#F7EEDF_inset;]  peer-checked:bg-cape-palliser"
              >
              </label>
            </div>
          </div>
        </div>
        <div class="flex gap-3 px-4 py-3">
          <div class="max-w-[100px] flex-[0_0_100%]">
            <img src="https://picsum.photos/200/200" alt="">
          </div>
          <div class="max-w-[calc(100%_-_100px)] flex-[0_0_100%]">
            <p class="text-[14px]/[22px] text-dove-gray">1 Month Plan</p>
            <p class="font-AnekLatin-Bold text-[14px]/[26px] text-mine-shaft">3 Custom Products</p>
            <p class="text-[12px]/[22px] text-woodsmoke">Hair Oil + Hair Shampoo + Hair Serum</p>
            <ul class="list-disc pl-4">
              <li class="text-[10px]/[16px] text-woodsmoke">ADD ON: No-Frizz Hair Conditioner</li>
            </ul>
            <p class="text-[10px]/[16px] text-woodsmoke">worth ₹499 at ₹399</p>
          </div>
        </div>
      </div>
    </div>
    <div id="popupFooter">
      <div class="flex justify-between bg-[#F1E8CD] px-5 py-3">
        <div class="flex gap-5">
          <span class="block max-w-[82px]">
            <img
              src="https://cdn.shopify.com/s/files/1/0563/6014/0935/files/Image_70_2x_85ad9605-b0f2-4450-a602-7ac12cff1a07.png?v=1702977747"
              class="h-full w-full"
            >
          </span>
          <div class="flex flex-col">
            <div class="flex gap-1">
              <span class="font-AnekLatin-Bold text-[10px]/[12px] uppercase text-dove-gray">BENEFITS</span>
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="10.5" viewBox="0 0 8 10.5">
                  <g id="Group_1494" data-name="Group 1494" transform="translate(-162 -720)">
                    <path id="Path_5429" data-name="Path 5429" d="M3,11.642a1,1,0,0,1-1-1v-5a1,1,0,0,1,1-1h.5v-1a2.41,2.41,0,0,1,.732-1.769A2.408,2.408,0,0,1,6,1.142a2.41,2.41,0,0,1,1.769.732A2.408,2.408,0,0,1,8.5,3.642v1H9a1,1,0,0,1,1,1v5a1,1,0,0,1-1,1Zm3-2.5a1,1,0,1,0-.706-.293A.963.963,0,0,0,6,9.142Zm-1.5-4.5h3v-1A1.494,1.494,0,0,0,6,2.142a1.494,1.494,0,0,0-1.5,1.5Z" transform="translate(160 718.858)" fill="#605d52"/>
                    <rect id="Rectangle_9792" data-name="Rectangle 9792" width="2" height="1" transform="translate(163 722)" fill="#f1e8cd"/>
                  </g>
                </svg>
              </span>
              <span class="font-AnekLatin-Bold text-[10px]/[12px] uppercase text-apricot">UNLOCKED</span>
            </div>
            <p class="font-AnekLatin-Bold text-[14px]/[16px] text-mine-shaft">Get Extra 20% Off</p>
          </div>
        </div>
        <div class="flex items-center gap-2">
          <span class="font-AnekLatin-SemiBold text-[16px]/[22px] text-black">Rs.399</span>
          <label for="toggleB" class="relative flex cursor-pointer items-center">
            <div class="relative">
              <input type="checkbox" id="toggleB" class="peer sr-only">
              <div
                class="area block h-6 w-10 rounded-full border border-solid border-black bg-gallery peer-checked:bg-de-york"
              ></div>
              <div
                class="dot absolute left-1 top-1 h-4 w-4 transform rounded-full border border-solid border-black bg-white transition peer-checked:translate-x-full peer-checked:bg-white"
              ></div>
            </div>
          </label>
        </div>
      </div>
      <a
        href="#"
        class="btn w-full min-w-fit border-none"
        role="button"
      >
        <span class="mb-[-2px] mt-[2px] uppercase">BUY 3 STEP REGIMEN</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="11.796"
          height="10.315"
          viewBox="0 0 11.796 10.315"
        >
          <g
            id="Group_8849"
            data-name="Group 8849"
            transform="translate(-215.754 -537.843)">
            <path
              id="Icon_ionic-ios-arrow-forward"
              data-name="Icon ionic-ios-arrow-forward"
              d="M15.366,11.352l-3.9-3.9a.734.734,0,0,1,0-1.041.743.743,0,0,1,1.044,0l4.422,4.419a.736.736,0,0,1,.021,1.016L12.51,16.3a.737.737,0,0,1-1.044-1.041Z"
              transform="translate(204.508 531.646)"
              fill="#fff"></path>
            <path
              id="Icon_ionic-ios-arrow-forward-2"
              data-name="Icon ionic-ios-arrow-forward"
              d="M15.366,11.352l-3.9-3.9a.734.734,0,0,1,0-1.041.743.743,0,0,1,1.044,0l4.422,4.419a.736.736,0,0,1,.021,1.016L12.51,16.3a.737.737,0,0,1-1.044-1.041Z"
              transform="translate(210.406 531.646)"
              fill="#fff"></path>
          </g>
        </svg>
      </a>
    </div>
  </div>
</div>
