<div class="popupBox overlay before:fixed before:bottom-0 before:left-0 before:right-0 before:top-0 before:z-[8] before:h-full before:bg-black before:opacity-75 before:content-['']">
  <div class="fixed bottom-0 left-1/2 z-[9] w-full max-w-[400px] -translate-x-1/2 transform bg-quarter-spanish-white md:bottom-auto md:top-1/2 md:-translate-y-1/2">
    <div class="container mx-auto p-5">
      <div id="popupHeader" class="mb-8 flex flex-col gap-2">
        <h2 class="font-AnekLatin-SemiBold text-[14px]/[22px] text-woodsmoke text-opacity-60">
          Thank you for completing your Follow-up !
        </h2>
        <span id="close" class="absolute right-5 top-6 cursor-pointer closeButton">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="12"
            height="12"
            viewBox="0 0 11.326 11.315">
            <path
              id="Path_11777"
              data-name="Path 11777"
              d="M165.033,579.321a.973.973,0,0,1,0,1.392,1,1,0,0,1-1.392,0l-3.978-3.978-3.978,3.978a1,1,0,0,1-1.392,0,.973.973,0,0,1,0-1.392l3.979-3.978-3.979-3.978a.984.984,0,1,1,1.392-1.391l3.978,3.978,3.978-3.978a.984.984,0,0,1,1.392,1.391l-3.979,3.978Z"
              transform="translate(-154 -569.68)"
              fill="#000000" />
          </svg>
        </span>
      </div>
      <div id="popupBody" class="mb-8">
        <h3 class="mb-8 font-AnekLatin-Bold text-[18px]/[22px] text-woodsmoke">
          Review products in your order as well to help other u sers like you:
        </h3>
        <ul class="grid grid-flow-col auto-cols-[20rem] items-center justify-start gap-[10px] overflow-x-auto">
          <li class="relative flex flex-col items-center gap-4 rounded-[5px] border border-solid border-[#0000001A] bg-white px-5 pb-5 pt-3 text-center">
            <div class="">
              <span class="absolute left-4 top-3 font-AnekLatin-SemiBold text-[14px]/[22px] text-woodsmoke text-opacity-40">1 of 3</span>
              <img
                src="https://cdn.shopify.com/s/files/1/0058/8827/8595/files/male_2x_c1bc497a-c6dd-4bce-b410-535a42d610c0.png?v=1706187518"
                width="100"
                height="100"
                alt="vedix"
                loading="lazy">
            </div>
            <div class="flex flex-col gap-3">
              <h3 class="font-AnekLatin-SemiBold text-[14px]/[22px] text-woodsmoke text-opacity-60">Shampoo</h3>
              <h4 class="font-AnekLatin-SemiBold text-[18px]/[22px] text-woodsmoke">
                Deep Conditioning Dandruff Care Shampoo (100 ml)
              </h4>
            </div>
            <div class="flex flex-col gap-[14px]">
              <h3 class="font-AnekLatin-SemiBold text-[12px]/[22px] uppercase text-woodsmoke text-opacity-60">
                RATE THIS PRODUCT
              </h3>
              <ul id="rating" class="flex items-center justify-between gap-4">
                <li>
                  <a href="#">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="42.875"
                      height="42.875"
                      viewBox="0 0 42.875 42.875">
                      <path
                        id="Path_15876"
                        data-name="Path 15876"
                        d="M77.062,698.82l7.611-7.813a.723.723,0,0,0,.192-.629.693.693,0,0,0-.575-.6l-2.884-.433L70.662,687.73a.691.691,0,0,1-.519-.394L64.025,674.4a.675.675,0,0,0-1.234,0l-1.973,4.215-4.1,8.745a.71.71,0,0,1-.2.256l-.016.014a.66.66,0,0,1-.3.126l-6.036.934-7.583,1.172a.69.69,0,0,0-.555.493c0,.013,0,.027-.007.04a.69.69,0,0,0-.027.15.788.788,0,0,0,.009.114.657.657,0,0,0,.006.08.725.725,0,0,0,.061.165c0,.007,0,.015.008.022a.709.709,0,0,0,.107.145c.007.008.009.016.017.024h0l9.876,10.058a.75.75,0,0,1,.2.637l-.158.981-.128.79h0l-2.014,12.466h0a.752.752,0,0,0,.033.369.7.7,0,0,0,.586.472.653.653,0,0,0,.383-.082l11.273-6.248.9-.5a.558.558,0,0,1,.095-.037.657.657,0,0,1,.226-.046.664.664,0,0,1,.321.082L76,716.736a.7.7,0,0,0,.208.073.706.706,0,0,0,.789-.836l-2.354-14.226a.745.745,0,0,1,.2-.64Z"
                        transform="translate(-42 -674)"
                        fill="#FEEB35"
                        stroke="#131818"
                        stroke-width="1"
                        fill-rule="evenodd" />
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="42.875"
                      height="42.875"
                      viewBox="0 0 42.875 42.875">
                      <path
                        id="Path_15876"
                        data-name="Path 15876"
                        d="M77.062,698.82l7.611-7.813a.723.723,0,0,0,.192-.629.693.693,0,0,0-.575-.6l-2.884-.433L70.662,687.73a.691.691,0,0,1-.519-.394L64.025,674.4a.675.675,0,0,0-1.234,0l-1.973,4.215-4.1,8.745a.71.71,0,0,1-.2.256l-.016.014a.66.66,0,0,1-.3.126l-6.036.934-7.583,1.172a.69.69,0,0,0-.555.493c0,.013,0,.027-.007.04a.69.69,0,0,0-.027.15.788.788,0,0,0,.009.114.657.657,0,0,0,.006.08.725.725,0,0,0,.061.165c0,.007,0,.015.008.022a.709.709,0,0,0,.107.145c.007.008.009.016.017.024h0l9.876,10.058a.75.75,0,0,1,.2.637l-.158.981-.128.79h0l-2.014,12.466h0a.752.752,0,0,0,.033.369.7.7,0,0,0,.586.472.653.653,0,0,0,.383-.082l11.273-6.248.9-.5a.558.558,0,0,1,.095-.037.657.657,0,0,1,.226-.046.664.664,0,0,1,.321.082L76,716.736a.7.7,0,0,0,.208.073.706.706,0,0,0,.789-.836l-2.354-14.226a.745.745,0,0,1,.2-.64Z"
                        transform="translate(-42 -674)"
                        fill="#FEEB35"
                        stroke="#131818"
                        stroke-width="1"
                        fill-rule="evenodd" />
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="42.875"
                      height="42.875"
                      viewBox="0 0 42.875 42.875">
                      <path
                        id="Path_15876"
                        data-name="Path 15876"
                        d="M77.062,698.82l7.611-7.813a.723.723,0,0,0,.192-.629.693.693,0,0,0-.575-.6l-2.884-.433L70.662,687.73a.691.691,0,0,1-.519-.394L64.025,674.4a.675.675,0,0,0-1.234,0l-1.973,4.215-4.1,8.745a.71.71,0,0,1-.2.256l-.016.014a.66.66,0,0,1-.3.126l-6.036.934-7.583,1.172a.69.69,0,0,0-.555.493c0,.013,0,.027-.007.04a.69.69,0,0,0-.027.15.788.788,0,0,0,.009.114.657.657,0,0,0,.006.08.725.725,0,0,0,.061.165c0,.007,0,.015.008.022a.709.709,0,0,0,.107.145c.007.008.009.016.017.024h0l9.876,10.058a.75.75,0,0,1,.2.637l-.158.981-.128.79h0l-2.014,12.466h0a.752.752,0,0,0,.033.369.7.7,0,0,0,.586.472.653.653,0,0,0,.383-.082l11.273-6.248.9-.5a.558.558,0,0,1,.095-.037.657.657,0,0,1,.226-.046.664.664,0,0,1,.321.082L76,716.736a.7.7,0,0,0,.208.073.706.706,0,0,0,.789-.836l-2.354-14.226a.745.745,0,0,1,.2-.64Z"
                        transform="translate(-42 -674)"
                        fill="#FEEB35"
                        stroke="#131818"
                        stroke-width="1"
                        fill-rule="evenodd" />
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="42.875"
                      height="42.875"
                      viewBox="0 0 42.875 42.875">
                      <path
                        id="Path_15876"
                        data-name="Path 15876"
                        d="M77.062,698.82l7.611-7.813a.723.723,0,0,0,.192-.629.693.693,0,0,0-.575-.6l-2.884-.433L70.662,687.73a.691.691,0,0,1-.519-.394L64.025,674.4a.675.675,0,0,0-1.234,0l-1.973,4.215-4.1,8.745a.71.71,0,0,1-.2.256l-.016.014a.66.66,0,0,1-.3.126l-6.036.934-7.583,1.172a.69.69,0,0,0-.555.493c0,.013,0,.027-.007.04a.69.69,0,0,0-.027.15.788.788,0,0,0,.009.114.657.657,0,0,0,.006.08.725.725,0,0,0,.061.165c0,.007,0,.015.008.022a.709.709,0,0,0,.107.145c.007.008.009.016.017.024h0l9.876,10.058a.75.75,0,0,1,.2.637l-.158.981-.128.79h0l-2.014,12.466h0a.752.752,0,0,0,.033.369.7.7,0,0,0,.586.472.653.653,0,0,0,.383-.082l11.273-6.248.9-.5a.558.558,0,0,1,.095-.037.657.657,0,0,1,.226-.046.664.664,0,0,1,.321.082L76,716.736a.7.7,0,0,0,.208.073.706.706,0,0,0,.789-.836l-2.354-14.226a.745.745,0,0,1,.2-.64Z"
                        transform="translate(-42 -674)"
                        fill="#FEEB35"
                        stroke="#131818"
                        stroke-width="1"
                        fill-rule="evenodd" />
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="42.875"
                      height="42.875"
                      viewBox="0 0 42.875 42.875">
                      <path
                        id="Path_15876"
                        data-name="Path 15876"
                        d="M77.062,698.82l7.611-7.813a.723.723,0,0,0,.192-.629.693.693,0,0,0-.575-.6l-2.884-.433L70.662,687.73a.691.691,0,0,1-.519-.394L64.025,674.4a.675.675,0,0,0-1.234,0l-1.973,4.215-4.1,8.745a.71.71,0,0,1-.2.256l-.016.014a.66.66,0,0,1-.3.126l-6.036.934-7.583,1.172a.69.69,0,0,0-.555.493c0,.013,0,.027-.007.04a.69.69,0,0,0-.027.15.788.788,0,0,0,.009.114.657.657,0,0,0,.006.08.725.725,0,0,0,.061.165c0,.007,0,.015.008.022a.709.709,0,0,0,.107.145c.007.008.009.016.017.024h0l9.876,10.058a.75.75,0,0,1,.2.637l-.158.981-.128.79h0l-2.014,12.466h0a.752.752,0,0,0,.033.369.7.7,0,0,0,.586.472.653.653,0,0,0,.383-.082l11.273-6.248.9-.5a.558.558,0,0,1,.095-.037.657.657,0,0,1,.226-.046.664.664,0,0,1,.321.082L76,716.736a.7.7,0,0,0,.208.073.706.706,0,0,0,.789-.836l-2.354-14.226a.745.745,0,0,1,.2-.64Z"
                        transform="translate(-42 -674)"
                        fill="#e0e0e0"
                        fill-rule="evenodd" />
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="relative flex flex-col items-center gap-4 rounded-[5px] border border-solid border-[#0000001A] bg-white px-5 pb-5 pt-3 text-center">
            <div class="">
              <span class="absolute left-4 top-3 font-AnekLatin-SemiBold text-[14px]/[22px] text-woodsmoke text-opacity-40">2 of 3</span>
              <img
                src="https://cdn.shopify.com/s/files/1/0058/8827/8595/files/male_2x_c1bc497a-c6dd-4bce-b410-535a42d610c0.png?v=1706187518"
                width="100"
                height="100"
                alt="vedix"
                loading="lazy">
            </div>
            <div class="flex flex-col gap-3">
              <h3 class="font-AnekLatin-SemiBold text-[14px]/[22px] text-woodsmoke text-opacity-60">Shampoo</h3>
              <h4 class="font-AnekLatin-SemiBold text-[18px]/[22px] text-woodsmoke">
                Deep Conditioning Dandruff Care Shampoo (100 ml)
              </h4>
            </div>
            <div class="flex flex-col gap-[14px]">
              <h3 class="font-AnekLatin-SemiBold text-[12px]/[22px] uppercase text-woodsmoke text-opacity-60">
                RATE THIS PRODUCT
              </h3>
              <ul id="rating" class="flex items-center justify-between gap-4">
                <li>
                  <a href="#">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="42.875"
                      height="42.875"
                      viewBox="0 0 42.875 42.875">
                      <path
                        id="Path_15876"
                        data-name="Path 15876"
                        d="M77.062,698.82l7.611-7.813a.723.723,0,0,0,.192-.629.693.693,0,0,0-.575-.6l-2.884-.433L70.662,687.73a.691.691,0,0,1-.519-.394L64.025,674.4a.675.675,0,0,0-1.234,0l-1.973,4.215-4.1,8.745a.71.71,0,0,1-.2.256l-.016.014a.66.66,0,0,1-.3.126l-6.036.934-7.583,1.172a.69.69,0,0,0-.555.493c0,.013,0,.027-.007.04a.69.69,0,0,0-.027.15.788.788,0,0,0,.009.114.657.657,0,0,0,.006.08.725.725,0,0,0,.061.165c0,.007,0,.015.008.022a.709.709,0,0,0,.107.145c.007.008.009.016.017.024h0l9.876,10.058a.75.75,0,0,1,.2.637l-.158.981-.128.79h0l-2.014,12.466h0a.752.752,0,0,0,.033.369.7.7,0,0,0,.586.472.653.653,0,0,0,.383-.082l11.273-6.248.9-.5a.558.558,0,0,1,.095-.037.657.657,0,0,1,.226-.046.664.664,0,0,1,.321.082L76,716.736a.7.7,0,0,0,.208.073.706.706,0,0,0,.789-.836l-2.354-14.226a.745.745,0,0,1,.2-.64Z"
                        transform="translate(-42 -674)"
                        fill="#e0e0e0"
                        fill-rule="evenodd" />
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="42.875"
                      height="42.875"
                      viewBox="0 0 42.875 42.875">
                      <path
                        id="Path_15876"
                        data-name="Path 15876"
                        d="M77.062,698.82l7.611-7.813a.723.723,0,0,0,.192-.629.693.693,0,0,0-.575-.6l-2.884-.433L70.662,687.73a.691.691,0,0,1-.519-.394L64.025,674.4a.675.675,0,0,0-1.234,0l-1.973,4.215-4.1,8.745a.71.71,0,0,1-.2.256l-.016.014a.66.66,0,0,1-.3.126l-6.036.934-7.583,1.172a.69.69,0,0,0-.555.493c0,.013,0,.027-.007.04a.69.69,0,0,0-.027.15.788.788,0,0,0,.009.114.657.657,0,0,0,.006.08.725.725,0,0,0,.061.165c0,.007,0,.015.008.022a.709.709,0,0,0,.107.145c.007.008.009.016.017.024h0l9.876,10.058a.75.75,0,0,1,.2.637l-.158.981-.128.79h0l-2.014,12.466h0a.752.752,0,0,0,.033.369.7.7,0,0,0,.586.472.653.653,0,0,0,.383-.082l11.273-6.248.9-.5a.558.558,0,0,1,.095-.037.657.657,0,0,1,.226-.046.664.664,0,0,1,.321.082L76,716.736a.7.7,0,0,0,.208.073.706.706,0,0,0,.789-.836l-2.354-14.226a.745.745,0,0,1,.2-.64Z"
                        transform="translate(-42 -674)"
                        fill="#e0e0e0"
                        fill-rule="evenodd" />
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="42.875"
                      height="42.875"
                      viewBox="0 0 42.875 42.875">
                      <path
                        id="Path_15876"
                        data-name="Path 15876"
                        d="M77.062,698.82l7.611-7.813a.723.723,0,0,0,.192-.629.693.693,0,0,0-.575-.6l-2.884-.433L70.662,687.73a.691.691,0,0,1-.519-.394L64.025,674.4a.675.675,0,0,0-1.234,0l-1.973,4.215-4.1,8.745a.71.71,0,0,1-.2.256l-.016.014a.66.66,0,0,1-.3.126l-6.036.934-7.583,1.172a.69.69,0,0,0-.555.493c0,.013,0,.027-.007.04a.69.69,0,0,0-.027.15.788.788,0,0,0,.009.114.657.657,0,0,0,.006.08.725.725,0,0,0,.061.165c0,.007,0,.015.008.022a.709.709,0,0,0,.107.145c.007.008.009.016.017.024h0l9.876,10.058a.75.75,0,0,1,.2.637l-.158.981-.128.79h0l-2.014,12.466h0a.752.752,0,0,0,.033.369.7.7,0,0,0,.586.472.653.653,0,0,0,.383-.082l11.273-6.248.9-.5a.558.558,0,0,1,.095-.037.657.657,0,0,1,.226-.046.664.664,0,0,1,.321.082L76,716.736a.7.7,0,0,0,.208.073.706.706,0,0,0,.789-.836l-2.354-14.226a.745.745,0,0,1,.2-.64Z"
                        transform="translate(-42 -674)"
                        fill="#e0e0e0"
                        fill-rule="evenodd" />
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="42.875"
                      height="42.875"
                      viewBox="0 0 42.875 42.875">
                      <path
                        id="Path_15876"
                        data-name="Path 15876"
                        d="M77.062,698.82l7.611-7.813a.723.723,0,0,0,.192-.629.693.693,0,0,0-.575-.6l-2.884-.433L70.662,687.73a.691.691,0,0,1-.519-.394L64.025,674.4a.675.675,0,0,0-1.234,0l-1.973,4.215-4.1,8.745a.71.71,0,0,1-.2.256l-.016.014a.66.66,0,0,1-.3.126l-6.036.934-7.583,1.172a.69.69,0,0,0-.555.493c0,.013,0,.027-.007.04a.69.69,0,0,0-.027.15.788.788,0,0,0,.009.114.657.657,0,0,0,.006.08.725.725,0,0,0,.061.165c0,.007,0,.015.008.022a.709.709,0,0,0,.107.145c.007.008.009.016.017.024h0l9.876,10.058a.75.75,0,0,1,.2.637l-.158.981-.128.79h0l-2.014,12.466h0a.752.752,0,0,0,.033.369.7.7,0,0,0,.586.472.653.653,0,0,0,.383-.082l11.273-6.248.9-.5a.558.558,0,0,1,.095-.037.657.657,0,0,1,.226-.046.664.664,0,0,1,.321.082L76,716.736a.7.7,0,0,0,.208.073.706.706,0,0,0,.789-.836l-2.354-14.226a.745.745,0,0,1,.2-.64Z"
                        transform="translate(-42 -674)"
                        fill="#e0e0e0"
                        fill-rule="evenodd" />
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="42.875"
                      height="42.875"
                      viewBox="0 0 42.875 42.875">
                      <path
                        id="Path_15876"
                        data-name="Path 15876"
                        d="M77.062,698.82l7.611-7.813a.723.723,0,0,0,.192-.629.693.693,0,0,0-.575-.6l-2.884-.433L70.662,687.73a.691.691,0,0,1-.519-.394L64.025,674.4a.675.675,0,0,0-1.234,0l-1.973,4.215-4.1,8.745a.71.71,0,0,1-.2.256l-.016.014a.66.66,0,0,1-.3.126l-6.036.934-7.583,1.172a.69.69,0,0,0-.555.493c0,.013,0,.027-.007.04a.69.69,0,0,0-.027.15.788.788,0,0,0,.009.114.657.657,0,0,0,.006.08.725.725,0,0,0,.061.165c0,.007,0,.015.008.022a.709.709,0,0,0,.107.145c.007.008.009.016.017.024h0l9.876,10.058a.75.75,0,0,1,.2.637l-.158.981-.128.79h0l-2.014,12.466h0a.752.752,0,0,0,.033.369.7.7,0,0,0,.586.472.653.653,0,0,0,.383-.082l11.273-6.248.9-.5a.558.558,0,0,1,.095-.037.657.657,0,0,1,.226-.046.664.664,0,0,1,.321.082L76,716.736a.7.7,0,0,0,.208.073.706.706,0,0,0,.789-.836l-2.354-14.226a.745.745,0,0,1,.2-.64Z"
                        transform="translate(-42 -674)"
                        fill="#e0e0e0"
                        fill-rule="evenodd" />
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="relative flex flex-col items-center gap-4 rounded-[5px] border border-solid border-[#0000001A] bg-white px-5 pb-5 pt-3 text-center">
            <div class="">
              <span class="absolute left-4 top-3 font-AnekLatin-SemiBold text-[14px]/[22px] text-woodsmoke text-opacity-40">3 of 3</span>
              <img
                src="https://cdn.shopify.com/s/files/1/0058/8827/8595/files/male_2x_c1bc497a-c6dd-4bce-b410-535a42d610c0.png?v=1706187518"
                width="100"
                height="100"
                alt="vedix"
                loading="lazy">
            </div>
            <div class="flex flex-col gap-3">
              <h3 class="font-AnekLatin-SemiBold text-[14px]/[22px] text-woodsmoke text-opacity-60">Shampoo</h3>
              <h4 class="font-AnekLatin-SemiBold text-[18px]/[22px] text-woodsmoke">
                Deep Conditioning Dandruff Care Shampoo (100 ml)
              </h4>
            </div>
            <div class="flex flex-col gap-[14px]">
              <h3 class="font-AnekLatin-SemiBold text-[12px]/[22px] uppercase text-woodsmoke text-opacity-60">
                RATE THIS PRODUCT
              </h3>
              <ul id="rating" class="flex items-center justify-between gap-4">
                <li>
                  <a href="#">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="42.875"
                      height="42.875"
                      viewBox="0 0 42.875 42.875">
                      <path
                        id="Path_15876"
                        data-name="Path 15876"
                        d="M77.062,698.82l7.611-7.813a.723.723,0,0,0,.192-.629.693.693,0,0,0-.575-.6l-2.884-.433L70.662,687.73a.691.691,0,0,1-.519-.394L64.025,674.4a.675.675,0,0,0-1.234,0l-1.973,4.215-4.1,8.745a.71.71,0,0,1-.2.256l-.016.014a.66.66,0,0,1-.3.126l-6.036.934-7.583,1.172a.69.69,0,0,0-.555.493c0,.013,0,.027-.007.04a.69.69,0,0,0-.027.15.788.788,0,0,0,.009.114.657.657,0,0,0,.006.08.725.725,0,0,0,.061.165c0,.007,0,.015.008.022a.709.709,0,0,0,.107.145c.007.008.009.016.017.024h0l9.876,10.058a.75.75,0,0,1,.2.637l-.158.981-.128.79h0l-2.014,12.466h0a.752.752,0,0,0,.033.369.7.7,0,0,0,.586.472.653.653,0,0,0,.383-.082l11.273-6.248.9-.5a.558.558,0,0,1,.095-.037.657.657,0,0,1,.226-.046.664.664,0,0,1,.321.082L76,716.736a.7.7,0,0,0,.208.073.706.706,0,0,0,.789-.836l-2.354-14.226a.745.745,0,0,1,.2-.64Z"
                        transform="translate(-42 -674)"
                        fill="#e0e0e0"
                        fill-rule="evenodd" />
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="42.875"
                      height="42.875"
                      viewBox="0 0 42.875 42.875">
                      <path
                        id="Path_15876"
                        data-name="Path 15876"
                        d="M77.062,698.82l7.611-7.813a.723.723,0,0,0,.192-.629.693.693,0,0,0-.575-.6l-2.884-.433L70.662,687.73a.691.691,0,0,1-.519-.394L64.025,674.4a.675.675,0,0,0-1.234,0l-1.973,4.215-4.1,8.745a.71.71,0,0,1-.2.256l-.016.014a.66.66,0,0,1-.3.126l-6.036.934-7.583,1.172a.69.69,0,0,0-.555.493c0,.013,0,.027-.007.04a.69.69,0,0,0-.027.15.788.788,0,0,0,.009.114.657.657,0,0,0,.006.08.725.725,0,0,0,.061.165c0,.007,0,.015.008.022a.709.709,0,0,0,.107.145c.007.008.009.016.017.024h0l9.876,10.058a.75.75,0,0,1,.2.637l-.158.981-.128.79h0l-2.014,12.466h0a.752.752,0,0,0,.033.369.7.7,0,0,0,.586.472.653.653,0,0,0,.383-.082l11.273-6.248.9-.5a.558.558,0,0,1,.095-.037.657.657,0,0,1,.226-.046.664.664,0,0,1,.321.082L76,716.736a.7.7,0,0,0,.208.073.706.706,0,0,0,.789-.836l-2.354-14.226a.745.745,0,0,1,.2-.64Z"
                        transform="translate(-42 -674)"
                        fill="#e0e0e0"
                        fill-rule="evenodd" />
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="42.875"
                      height="42.875"
                      viewBox="0 0 42.875 42.875">
                      <path
                        id="Path_15876"
                        data-name="Path 15876"
                        d="M77.062,698.82l7.611-7.813a.723.723,0,0,0,.192-.629.693.693,0,0,0-.575-.6l-2.884-.433L70.662,687.73a.691.691,0,0,1-.519-.394L64.025,674.4a.675.675,0,0,0-1.234,0l-1.973,4.215-4.1,8.745a.71.71,0,0,1-.2.256l-.016.014a.66.66,0,0,1-.3.126l-6.036.934-7.583,1.172a.69.69,0,0,0-.555.493c0,.013,0,.027-.007.04a.69.69,0,0,0-.027.15.788.788,0,0,0,.009.114.657.657,0,0,0,.006.08.725.725,0,0,0,.061.165c0,.007,0,.015.008.022a.709.709,0,0,0,.107.145c.007.008.009.016.017.024h0l9.876,10.058a.75.75,0,0,1,.2.637l-.158.981-.128.79h0l-2.014,12.466h0a.752.752,0,0,0,.033.369.7.7,0,0,0,.586.472.653.653,0,0,0,.383-.082l11.273-6.248.9-.5a.558.558,0,0,1,.095-.037.657.657,0,0,1,.226-.046.664.664,0,0,1,.321.082L76,716.736a.7.7,0,0,0,.208.073.706.706,0,0,0,.789-.836l-2.354-14.226a.745.745,0,0,1,.2-.64Z"
                        transform="translate(-42 -674)"
                        fill="#e0e0e0"
                        fill-rule="evenodd" />
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="42.875"
                      height="42.875"
                      viewBox="0 0 42.875 42.875">
                      <path
                        id="Path_15876"
                        data-name="Path 15876"
                        d="M77.062,698.82l7.611-7.813a.723.723,0,0,0,.192-.629.693.693,0,0,0-.575-.6l-2.884-.433L70.662,687.73a.691.691,0,0,1-.519-.394L64.025,674.4a.675.675,0,0,0-1.234,0l-1.973,4.215-4.1,8.745a.71.71,0,0,1-.2.256l-.016.014a.66.66,0,0,1-.3.126l-6.036.934-7.583,1.172a.69.69,0,0,0-.555.493c0,.013,0,.027-.007.04a.69.69,0,0,0-.027.15.788.788,0,0,0,.009.114.657.657,0,0,0,.006.08.725.725,0,0,0,.061.165c0,.007,0,.015.008.022a.709.709,0,0,0,.107.145c.007.008.009.016.017.024h0l9.876,10.058a.75.75,0,0,1,.2.637l-.158.981-.128.79h0l-2.014,12.466h0a.752.752,0,0,0,.033.369.7.7,0,0,0,.586.472.653.653,0,0,0,.383-.082l11.273-6.248.9-.5a.558.558,0,0,1,.095-.037.657.657,0,0,1,.226-.046.664.664,0,0,1,.321.082L76,716.736a.7.7,0,0,0,.208.073.706.706,0,0,0,.789-.836l-2.354-14.226a.745.745,0,0,1,.2-.64Z"
                        transform="translate(-42 -674)"
                        fill="#e0e0e0"
                        fill-rule="evenodd" />
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="42.875"
                      height="42.875"
                      viewBox="0 0 42.875 42.875">
                      <path
                        id="Path_15876"
                        data-name="Path 15876"
                        d="M77.062,698.82l7.611-7.813a.723.723,0,0,0,.192-.629.693.693,0,0,0-.575-.6l-2.884-.433L70.662,687.73a.691.691,0,0,1-.519-.394L64.025,674.4a.675.675,0,0,0-1.234,0l-1.973,4.215-4.1,8.745a.71.71,0,0,1-.2.256l-.016.014a.66.66,0,0,1-.3.126l-6.036.934-7.583,1.172a.69.69,0,0,0-.555.493c0,.013,0,.027-.007.04a.69.69,0,0,0-.027.15.788.788,0,0,0,.009.114.657.657,0,0,0,.006.08.725.725,0,0,0,.061.165c0,.007,0,.015.008.022a.709.709,0,0,0,.107.145c.007.008.009.016.017.024h0l9.876,10.058a.75.75,0,0,1,.2.637l-.158.981-.128.79h0l-2.014,12.466h0a.752.752,0,0,0,.033.369.7.7,0,0,0,.586.472.653.653,0,0,0,.383-.082l11.273-6.248.9-.5a.558.558,0,0,1,.095-.037.657.657,0,0,1,.226-.046.664.664,0,0,1,.321.082L76,716.736a.7.7,0,0,0,.208.073.706.706,0,0,0,.789-.836l-2.354-14.226a.745.745,0,0,1,.2-.64Z"
                        transform="translate(-42 -674)"
                        fill="#e0e0e0"
                        fill-rule="evenodd" />
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
        <ul id="carouselDots" class="flex gap-[5px] mt-8 justify-center items-center">
          <li class="w-1 h-1 bg-emperor rounded-full"></li>
          <li class="w-1 h-1 bg-silver rounded-full"></li>
          <li class="w-1 h-1 bg-silver rounded-full"></li>
        </ul>
      </div>
      <div id="popupFooter" class="text-center">
        <a
          href="#"
          class="btn w-full min-w-fit max-w-[160px]"
          role="button">
          <span class="mb-[-2px] mt-[2px]">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>