<div class="container relative">
  <div class="mx-auto max-w-xl p-8">
    <div class="flex items-center justify-between">
      <h2 class="text-xl font-bold">CHOOSE YOUR PACK</h2>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="13.984"
        height="13.984"
        viewBox="0 0 13.984 13.984">
        <g
          id="Group_1250"
          data-name="Group 1250"
          transform="translate(683.252 283.471) rotate(135)">
          <path
            id="Path_3968"
            data-name="Path 3968"
            d="M679.031,665.684V682.06"
            transform="translate(-396.343 -0.184)"
            fill="none"
            stroke="#8d8d8d"
            stroke-linecap="round"
            stroke-width="1.7" />
          <path
            id="Path_3969"
            data-name="Path 3969"
            d="M0,0V16.376"
            transform="translate(290.876 673.688) rotate(90)"
            fill="none"
            stroke="#8d8d8d"
            stroke-linecap="round"
            stroke-width="1.7" />
        </g>
      </svg>
    </div>
    <div class="my-5 flex items-center justify-between rounded-md border border-[#B2B2B2] px-4 py-3">
      <div class="flex gap-5">
        <input type="radio" />
        <p class="text-base font-bold">Buy for 1 Month</p>
      </div>
      <div class="">
        <span class="mx-3 font-bold">Rs.999</span>
        <span class="line-through">Rs.1399</span>
      </div>
    </div>
    <div class="relative">
      <div class="my-5 rounded-md border border-[#B2B2B2] px-4 py-7">
        <div class="flex items-center justify-between">
          <div class="flex gap-5">
            <input type="radio" />
            <p class="text-base font-bold">Buy for 2 Months</p>
          </div>
          <div class="">
            <span class="mx-3 font-bold">Rs.2398</span>
            <span class="line-through">Rs.2997</span>
          </div>
        </div>
        <div class="flex items-center justify-between px-5 pt-2">
          <div class="flex items-center gap-5">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="12"
              height="11.997"
              viewBox="0 0 12 11.997">
              <g
                id="Group_9076"
                data-name="Group 9076"
                transform="translate(0 -0.799)">
                <path
                  id="Path_5430"
                  data-name="Path 5430"
                  d="M5.471,11.466l5.193-5.193V2.133H6.524L1.331,7.326Zm2.86-7.833a.833.833,0,1,1,.244.589A.833.833,0,0,1,8.331,3.633Z"
                  opacity="0.3" />
                <path
                  id="Path_5431"
                  data-name="Path 5431"
                  d="M.393,6.385a1.32,1.32,0,0,0,0,1.88l4.14,4.14a1.336,1.336,0,0,0,1.887,0l5.193-5.193A1.332,1.332,0,0,0,12,6.272V2.132A1.337,1.337,0,0,0,10.667.8H6.527a1.311,1.311,0,0,0-.94.393ZM10.667,2.132v4.14L5.473,11.465l-4.14-4.14L6.527,2.132Z" />
                <path
                  id="Path_5432"
                  data-name="Path 5432"
                  d="M8.333,3.632A.833.833,0,1,0,9.167,2.8.833.833,0,0,0,8.333,3.632Z" />
              </g>
            </svg>
            <span>Get 1 Month Pack FREE</span>
          </div>
          <span>(Rs.799/ Month)</span>
        </div>
        <div class="absolute left-0 top-0">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="108"
            height="18"
            viewBox="0 0 108 18">
            <g
              id="Group_9075"
              data-name="Group 9075"
              transform="translate(-17 -454)">
              <path
                id="Rectangle_9791"
                data-name="Rectangle 9791"
                d="M6,0H108a0,0,0,0,1,0,0V8A10,10,0,0,1,98,18H0a0,0,0,0,1,0,0V6A6,6,0,0,1,6,0Z"
                transform="translate(17 454)"
                fill="#8373c0" />
              <text
                id="Recommended"
                transform="translate(28 467)"
                fill="#fff"
                font-size="12"
                font-family="AnekLatin-Medium, Anek Latin"
                font-weight="500"
                letter-spacing="0.07em">
                <tspan x="0" y="0">RECOMMENDED</tspan>
              </text>
            </g>
          </svg>
        </div>
      </div>
    </div>
    <div class="rounded-md border border-[#B2B2B2] px-4 py-4">
      <div class="flex items-center justify-between">
        <div class="flex gap-5">
          <input type="radio" />
          <p class="text-base font-bold">Buy for 2 Months</p>
        </div>
        <div class="">
          <span class="mx-3 font-bold">Rs.2398</span>
          <span class="line-through">Rs.2997</span>
        </div>
      </div>
      <div class="flex items-center justify-between px-5 pt-2">
        <div class="flex items-center gap-5">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="12"
            height="11.997"
            viewBox="0 0 12 11.997">
            <g
              id="Group_9076"
              data-name="Group 9076"
              transform="translate(0 -0.799)">
              <path
                id="Path_5430"
                data-name="Path 5430"
                d="M5.471,11.466l5.193-5.193V2.133H6.524L1.331,7.326Zm2.86-7.833a.833.833,0,1,1,.244.589A.833.833,0,0,1,8.331,3.633Z"
                opacity="0.3" />
              <path
                id="Path_5431"
                data-name="Path 5431"
                d="M.393,6.385a1.32,1.32,0,0,0,0,1.88l4.14,4.14a1.336,1.336,0,0,0,1.887,0l5.193-5.193A1.332,1.332,0,0,0,12,6.272V2.132A1.337,1.337,0,0,0,10.667.8H6.527a1.311,1.311,0,0,0-.94.393ZM10.667,2.132v4.14L5.473,11.465l-4.14-4.14L6.527,2.132Z" />
              <path
                id="Path_5432"
                data-name="Path 5432"
                d="M8.333,3.632A.833.833,0,1,0,9.167,2.8.833.833,0,0,0,8.333,3.632Z" />
            </g>
          </svg>
          <span>Get 1 Month Pack FREE</span>
        </div>
        <span>(Rs.799/ Month)</span>
      </div>
    </div>
  </div>
  <div class="mt-5 flex justify-between bg-[#F1E8CD] px-3 py-3">
    <div class="flex gap-5">
      <input
        type="checkbox"
        name=""
        id="" />
      <p class="font-bold">Get Extra 20% Off</p>
    </div>
    <div class="flex items-center gap-5">
      <span class="font-bold">Rs.399</span>
      <img src="https://cdn.shopify.com/s/files/1/0563/6014/0935/files/Image_70_2x_85ad9605-b0f2-4450-a602-7ac12cff1a07.png?v=1702977747" alt="">
    </div>
  </div>
  <a href="#" class="font-bold w-full inline-flex items-center justify-center gap-x-2 bg-[#DE5844] px-4 py-4 text-white">
    CHOOSE PACK
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="11.796"
      height="10.315"
      viewBox="0 0 11.796 10.315">
      <g
        id="Group_8849"
        data-name="Group 8849"
        transform="translate(-215.754 -537.843)">
        <path
          id="Icon_ionic-ios-arrow-forward"
          data-name="Icon ionic-ios-arrow-forward"
          d="M15.366,11.352l-3.9-3.9a.734.734,0,0,1,0-1.041.743.743,0,0,1,1.044,0l4.422,4.419a.736.736,0,0,1,.021,1.016L12.51,16.3a.737.737,0,0,1-1.044-1.041Z"
          transform="translate(204.508 531.646)"
          fill="#fff"></path>
        <path
          id="Icon_ionic-ios-arrow-forward-2"
          data-name="Icon ionic-ios-arrow-forward"
          d="M15.366,11.352l-3.9-3.9a.734.734,0,0,1,0-1.041.743.743,0,0,1,1.044,0l4.422,4.419a.736.736,0,0,1,.021,1.016L12.51,16.3a.737.737,0,0,1-1.044-1.041Z"
          transform="translate(210.406 531.646)"
          fill="#fff"></path>
      </g>
    </svg>
  </a>
</div>