<div class="popupBox overlay before:fixed before:bottom-0 before:left-0 before:right-0 before:top-0 before:z-[8] before:h-full before:bg-black before:opacity-75 before:content-['']">
  <div class="fixed left-1/2 z-[9] w-full max-w-[286px] -translate-x-1/2 transform bg-white top-1/2 -translate-y-1/2 rounded-[8px]">
    <div class="container mx-auto p-4">
      <div class="flex items-baseline justify-between gap-4 pb-6">
        <h2 class="font-AnekLatin-Bold text-[16px]/[26px] text-emperor">
          Are you sure you want to exit the followup? Your progress won't be saved.
        </h2>
        <div class="cursor-pointer closeButton" id="back">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="14.593"
            height="14.593"
            viewBox="0 0 14.593 14.593">
            <path
              id="Path_13691"
              data-name="Path 13691"
              d="M339,127l-12-12m12,0-12,12"
              transform="translate(-325.704 -113.704)"
              fill="none"
              stroke="#000"
              stroke-linecap="round"
              stroke-width="1.833" />
          </svg>
        </div>
      </div>
      <div class="flex gap-2">
        <a
          href="{{ block.settings.button_link }}"
          class="btn w-full min-w-fit bg-white text-woodsmoke"
          role="button">
          <span class="mb-[-2px] mt-[2px]">Exit</span>
        </a>
        <a
          href="#"
          class="btn w-full min-w-fit"
          role="button">
          <span class="mb-[-2px] mt-[2px]">Compelete Follow-up</span>
        </a>
      </div>
    </div>
  </div>
</div>