<div class="popupBox overlay before:fixed before:bottom-0 before:left-0 before:right-0 before:top-0 before:z-[80] before:h-full before:bg-black before:opacity-75 before:content-['']">
  <div class="fixed bottom-0 left-1/2 z-[90] w-full max-w-[400px] -translate-x-1/2 transform bg-merino md:bottom-auto md:top-1/2 md:-translate-y-1/2">
    <div class="container mx-auto px-5 pb-6 pt-[72px]">
      <span id="close" class="absolute right-5 top-5 cursor-pointer closeButton">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="12"
          height="12"
          viewBox="0 0 11.326 11.315">
          <path
            id="Path_11777"
            data-name="Path 11777"
            d="M165.033,579.321a.973.973,0,0,1,0,1.392,1,1,0,0,1-1.392,0l-3.978-3.978-3.978,3.978a1,1,0,0,1-1.392,0,.973.973,0,0,1,0-1.392l3.979-3.978-3.979-3.978a.984.984,0,1,1,1.392-1.391l3.978,3.978,3.978-3.978a.984.984,0,0,1,1.392,1.391l-3.979,3.978Z"
            transform="translate(-154 -569.68)"
            fill="#000000" />
        </svg>
      </span>
      <div id="popupHeader" class="mb-8 flex flex-col gap-4 text-center">
        <h2 class="font-AnekLatin-Bold text-[24px]/[26px] text-black">Get started with Vedix</h2>
        <p class="font-AnekLatin-Medium text-[14px]/[26px] text-black">Embark on a personalised ayurvedic solution</p>
      </div>
      <div id="popupBody" class="mb-8 text-center">
        <div id="identifyYourself" class="flex max-h-[400px] flex-col justify-center overflow-y-auto">
          <h3 class="mb-8 font-AnekLatin-Bold text-[18px]/[26px] text-black">You identify yourself as?</h3>
          <ul class="grid grid-cols-2 items-center gap-4 max-w-[280px] mx-auto w-full">
            <li class="flex flex-col items-center gap-6">
              <div class="h-[100px] w-[100px] overflow-hidden rounded-full">
                <img
                  src="https://cdn.shopify.com/s/files/1/0058/8827/8595/files/male_2x_c1bc497a-c6dd-4bce-b410-535a42d610c0.png?v=1706187518"
                  width="100"
                  height="100"
                  alt="vedix"
                  loading="lazy">
              </div>
              <h4 class="font-AnekLatin-Medium text-[16px]/[26px] text-black">Male</h4>
            </li>
            <li class="flex flex-col items-center gap-6">
              <div class="h-[100px] w-[100px] overflow-hidden rounded-full">
                <img
                  src="https://cdn.shopify.com/s/files/1/0058/8827/8595/files/female_2x_6b90ca68-bd1b-44ed-a54a-8b2d0d77d9d3.png?v=1706187517"
                  width="100"
                  height="100"
                  alt="vedix"
                  loading="lazy">
              </div>
              <h4 class="font-AnekLatin-Medium text-[16px]/[26px] text-black">Female</h4>
            </li>
          </ul>
        </div>
        <div id="customisedSolution" class="flex max-h-[400px] flex-col justify-center overflow-y-auto hidden">
          <h3 class="mb-8 font-AnekLatin-Bold text-[18px]/[26px] text-black">
            You’re looking customised solution for?
          </h3>
          <ul class="grid grid-cols-1 items-center gap-4">
            <li class="flex cursor-pointer items-center border border-solid border-black">
              <div class="h-[100px] w-[100px] max-w-[100px] flex-[0_0_100%] overflow-hidden border-r border-solid border-black">
                <img
                  src="https://cdn.shopify.com/s/files/1/0058/8827/8595/files/Haircare_2x_942a173c-a1cf-468d-989f-7c7945ada881.jpg?v=1706515161"
                  width="100"
                  height="100"
                  alt="vedix"
                  class="h-full w-full"
                  loading="lazy">
              </div>
              <div class="relative flex max-w-[calc(100%_-_100px)] flex-[0_0_100%] flex-col justify-center self-stretch bg-white p-4 pr-8 text-left">
                <h4 class="font-AnekLatin-Medium text-[16px]/[22px] text-woodsmoke">Haircare</h4>
                <p class="font-AnekLatin-Medium text-[12px]/[22px] text-woodsmoke text-opacity-40">
                  Get to know your hair better
                </p>
                <span class="absolute right-5 top-1/2 -translate-y-1/2 transform">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="8.013"
                    height="13.227"
                    viewBox="0 0 8.013 13.227">
                    <path
                      id="Vector"
                      d="M1,11.4,6.6,6.2,1,1"
                      transform="translate(0.413 0.413)"
                      fill="none"
                      stroke="#000"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2" />
                  </svg>
                </span>
              </div>
            </li>
            <li class="flex cursor-pointer items-center border border-solid border-black">
              <div class="h-[100px] w-[100px] max-w-[100px] flex-[0_0_100%] overflow-hidden border-r border-solid border-black">
                <img
                  src="https://cdn.shopify.com/s/files/1/0058/8827/8595/files/Skincare_2x_60ce1a3e-cac5-48c3-ac09-7ea0a289c460.jpg?v=1706515160"
                  width="100"
                  height="100"
                  alt="vedix"
                  class="h-full w-full"
                  loading="lazy">
              </div>
              <div class="relative flex max-w-[calc(100%_-_100px)] flex-[0_0_100%] flex-col justify-center self-stretch bg-white p-4 pr-8 text-left">
                <h4 class="font-AnekLatin-Medium text-[16px]/[22px] text-woodsmoke">Haircare</h4>
                <p class="font-AnekLatin-Medium text-[12px]/[22px] text-woodsmoke text-opacity-40">
                  Get to know your hair better
                </p>
                <span class="absolute right-5 top-1/2 -translate-y-1/2 transform">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="8.013"
                    height="13.227"
                    viewBox="0 0 8.013 13.227">
                    <path
                      id="Vector"
                      d="M1,11.4,6.6,6.2,1,1"
                      transform="translate(0.413 0.413)"
                      fill="none"
                      stroke="#000"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2" />
                  </svg>
                </span>
              </div>
            </li>
            <li class="flex cursor-pointer items-center border border-solid border-black">
              <div class="h-[100px] w-[100px] max-w-[100px] flex-[0_0_100%] overflow-hidden border-r border-solid border-black">
                <img
                  src="https://cdn.shopify.com/s/files/1/0058/8827/8595/files/Bodycare_2x_c17f548d-d068-4e85-82a5-4a81196a7dd9.jpg?v=1706515160"
                  width="100"
                  height="100"
                  alt="vedix"
                  class="h-full w-full"
                  loading="lazy">
              </div>
              <div class="relative flex max-w-[calc(100%_-_100px)] flex-[0_0_100%] flex-col justify-center self-stretch bg-white p-4 pr-8 text-left">
                <h4 class="font-AnekLatin-Medium text-[16px]/[22px] text-woodsmoke">Haircare</h4>
                <p class="font-AnekLatin-Medium text-[12px]/[22px] text-woodsmoke text-opacity-40">
                  Get to know your hair better
                </p>
                <span class="absolute right-5 top-1/2 -translate-y-1/2 transform">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="8.013"
                    height="13.227"
                    viewBox="0 0 8.013 13.227">
                    <path
                      id="Vector"
                      d="M1,11.4,6.6,6.2,1,1"
                      transform="translate(0.413 0.413)"
                      fill="none"
                      stroke="#000"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2" />
                  </svg>
                </span>
              </div>
            </li>
          </ul>
        </div>
        <div id="quiz" class="flex max-h-[400px] flex-col justify-center overflow-y-auto hidden">
          <div class="m-12 flex items-center justify-center">
            <img src="https://cdn.shopify.com/s/files/1/0058/8827/8595/files/Rectangle_16542.png?v=1706521370" loading="lazy">
          </div>
          <div class="mb-12">
            <h3 class="mb-2 font-AnekLatin-Bold text-[24px]/[26px] text-black">Take this 60 second quiz</h3>
            <p class="mb-8 font-AnekLatin-Medium text-[14px]/[18px] text-black">
              to help us personalise an effective plan for your hair concern
            </p>
          </div>
          <form action="">
            <h3 class="mb-4 font-AnekLatin-Bold text-[18px]/[26px] text-black">What should we call you?</h3>
            <div class="mb-12 text-center">
              <input
                type="text"
                class="mt-1 block w-full border-b border-solid border-black bg-transparent p-2 text-center"
                placeholder="Enter your name">
            </div>
            <div>
              <button type="button" class="btn w-full min-w-fit">
                <span class="mb-[-2px] mt-[2px]">Begin Quiz</span>
              </button>
            </div>
          </form>
        </div>
      </div>
      <div id="popupFooter" class="flex items-center bg-quarter-spanish-white px-[10px] py-4 gap-2">
        <h4 class="font-AnekLatin-Bold text-[16px]/[16px] text-cape-palliser">150000+</h4>
        <p class="text-[12px]/[16px] text-cape-palliser">
          Customers like you have found their personalised wellness solution
        </p>
      </div>
    </div>
  </div>
</div>