<div class="popupBox overlay before:fixed before:bottom-0 before:left-0 before:right-0 before:top-0 before:z-[80] before:h-full before:bg-black before:opacity-75 before:content-['']">
  <div class="fixed bottom-0 left-1/2 z-[90] w-full max-w-[400px] -translate-x-1/2 transform bg-white md:bottom-auto md:top-1/2 md:-translate-y-1/2">
    <div class="container mx-auto px-4">
      <div class="flex items-center justify-between py-6">
        <h2 class="font-AnekLatin-Bold text-[16px]/[26px] text-black">Your Ayurvedic Profile</h2>
        <div class="cursor-pointer closeButton" id="back">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="14.593"
            height="14.593"
            viewBox="0 0 14.593 14.593">
            <path
              id="Path_13691"
              data-name="Path 13691"
              d="M339,127l-12-12m12,0-12,12"
              transform="translate(-325.704 -113.704)"
              fill="none"
              stroke="#000"
              stroke-linecap="round"
              stroke-width="1.833" />
          </svg>
        </div>
      </div>
      <div class="flex flex-col gap-2">
        <h3 class="font-AnekLatin-SemiBold text-[24px]/[30px] text-mine-shaft">
          Here’s How Elevated Doshas Are Affecting Your Hair Health
        </h3>
        <ul class="grid grid-cols-2 gap-2">
          <li class="flex items-center justify-around border border-solid border-grain-brown bg-romance px-4 py-6 text-[14px]/[22px] text-black">
            <span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="38.9"
                height="22.287"
                viewBox="0 0 38.9 22.287">
                <g
                  id="Group_9998"
                  data-name="Group 9998"
                  transform="translate(-5.55 -13.763)">
                <g id="Group_9997" data-name="Group 9997">
                <path
                  id="Path_14346"
                  data-name="Path 14346"
                  d="M6.2,24.5c2.3,0,2.3,1.9,4.7,1.9,2.3,0,2.3-1.9,4.7-1.9,2.3,0,2.3,1.9,4.7,1.9,2.3,0,2.3-1.9,4.7-1.9,2.3,0,2.3,1.9,4.7,1.9,2.3,0,2.3-1.9,4.7-1.9,2.3,0,2.3,1.9,4.7,1.9s2.3-1.9,4.7-1.9"
                  fill="none"
                  stroke="#000"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.3" />
                <line
                  id="Line_370"
                  data-name="Line 370"
                  x2="37.6"
                  transform="translate(6.2 19.9)"
                  fill="none"
                  stroke="#000"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.3" />
                <line
                  id="Line_371"
                  data-name="Line 371"
                  x2="2.6"
                  transform="translate(6.2 30.9)"
                  fill="none"
                  stroke="#000"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.3" />
                <line
                  id="Line_372"
                  data-name="Line 372"
                  x2="2.6"
                  transform="translate(20.2 30.9)"
                  fill="none"
                  stroke="#000"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.3" />
                <line
                  id="Line_373"
                  data-name="Line 373"
                  x2="2.6"
                  transform="translate(27.2 30.9)"
                  fill="none"
                  stroke="#000"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.3" />
                <line
                  id="Line_374"
                  data-name="Line 374"
                  x2="2.5"
                  transform="translate(13.3 30.9)"
                  fill="none"
                  stroke="#000"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.3" />
                <line
                  id="Line_375"
                  data-name="Line 375"
                  x2="2.5"
                  transform="translate(34.2 30.9)"
                  fill="none"
                  stroke="#000"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.3" />
                <line
                  id="Line_376"
                  data-name="Line 376"
                  x2="2.6"
                  transform="translate(41.2 30.9)"
                  fill="none"
                  stroke="#000"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.3" />
                <line
                  id="Line_377"
                  data-name="Line 377"
                  x2="2.6"
                  transform="translate(16.7 35.4)"
                  fill="none"
                  stroke="#000"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.3" />
                <line
                  id="Line_378"
                  data-name="Line 378"
                  x2="2.6"
                  transform="translate(23.7 35.4)"
                  fill="none"
                  stroke="#000"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.3" />
                <line
                  id="Line_379"
                  data-name="Line 379"
                  x2="2.5"
                  transform="translate(9.8 35.4)"
                  fill="none"
                  stroke="#000"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.3" />
                <line
                  id="Line_380"
                  data-name="Line 380"
                  x2="2.5"
                  transform="translate(30.7 35.4)"
                  fill="none"
                  stroke="#000"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.3" />
                <line
                  id="Line_381"
                  data-name="Line 381"
                  x2="2.5"
                  transform="translate(37.7 35.4)"
                  fill="none"
                  stroke="#000"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.3" />
                <g id="Group_9996" data-name="Group 9996">
                  <path
                    id="Path_14347"
                    data-name="Path 14347"
                    d="M7.3,14.6c1.6.6,1.1,2,2.7,2.5,1.6.6,2.1-.9,3.7-.3"
                    fill="none"
                    stroke="#000"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.3" />
                  <path
                    id="Path_14348"
                    data-name="Path 14348"
                    d="M16.9,14.6c1.6.6,1.1,2,2.7,2.5,1.6.6,2.1-.9,3.7-.3"
                    fill="none"
                    stroke="#000"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.3" />
                  <path
                    id="Path_14349"
                    data-name="Path 14349"
                    d="M26.6,14.6c1.6.6,1.1,2,2.7,2.5,1.6.6,2.1-.9,3.7-.3"
                    fill="none"
                    stroke="#000"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.3" />
                  <path
                    id="Path_14350"
                    data-name="Path 14350"
                    d="M36.3,14.6c1.6.6,1.1,2,2.7,2.5,1.6.6,2.1-.9,3.7-.3"
                    fill="none"
                    stroke="#000"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.3" />
                </g>
              </g>
            </g>
          </svg>
        </span>
        Dryness
      </li>
      <li class="flex items-center justify-around border border-solid border-grain-brown bg-romance px-4 py-6 text-[14px]/[22px] text-black">
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32.8"
            height="32.801"
            viewBox="0 0 32.8 32.801">
            <path
              id="Path_14345"
              data-name="Path 14345"
              d="M41.4,25a16.173,16.173,0,0,0-5.3-12c-.1-.1-.1-.2-.2-.2h0a16.459,16.459,0,0,0-9-4h0a10.869,10.869,0,0,0-1.8-.1A16.347,16.347,0,0,0,8.6,25a17.122,17.122,0,0,0,2.1,8.1c0,.1.1.1.1.2A17.513,17.513,0,0,0,15,38.1l.2.2a16.348,16.348,0,0,0,9.7,3.2h1a.367.367,0,0,0,.3-.1A16.13,16.13,0,0,0,32,39.8c.1,0,.2-.1.3-.1A16.576,16.576,0,0,0,41.4,25Zm-3.5-7.3A60.7,60.7,0,0,0,34.3,27h-.4a3.585,3.585,0,0,0-3.6,3.6,3.689,3.689,0,0,0,2.1,3.3c-.6,2.3-1,3.9-1.2,4.7a16.017,16.017,0,0,1-4.4,1.3,92.561,92.561,0,0,1,4.4-16.2c.2,0,.4.1.6.1a3.585,3.585,0,0,0,3.6-3.6A3.5,3.5,0,0,0,34,17.4c.5-.9,1-1.8,1.5-2.6A8.492,8.492,0,0,1,37.9,17.7Zm-4,14.9a2.112,2.112,0,0,1-2.1-2.1,2.1,2.1,0,1,1,2.1,2.1ZM34,20a2.112,2.112,0,0,1-2.1,2.1,2.1,2.1,0,0,1,0-4.2A2.112,2.112,0,0,1,34,20ZM22.3,34.9a2.112,2.112,0,0,1-2.1-2.1,2.1,2.1,0,1,1,4.2,0A2.112,2.112,0,0,1,22.3,34.9Zm0-5.7a3.59,3.59,0,0,0-1.4,6.9c-.3,1.3-.6,2.3-.7,3a16.164,16.164,0,0,1-3.7-1.9,133.823,133.823,0,0,1,5.4-16.8c.2,0,.4.1.6.1a3.585,3.585,0,0,0,3.6-3.6,3.721,3.721,0,0,0-1.3-2.8A42.7,42.7,0,0,1,27,10.3a19.807,19.807,0,0,1,3.3.8c-3,4.6-5.7,12.2-7.5,18.1Zm2.3-12.4a2.112,2.112,0,0,1-2.1,2.1,2.1,2.1,0,1,1,0-4.2A2.112,2.112,0,0,1,24.6,16.8Zm-5.5-5.5a62.471,62.471,0,0,0-4.5,9.4c-.2,0-.3-.1-.5-.1a3.585,3.585,0,0,0-3.6,3.6,3.532,3.532,0,0,0,1.8,3.1c-.4,1.4-.8,2.5-1.1,3.4A17.5,17.5,0,0,1,10.1,25,15.127,15.127,0,0,1,19.1,11.3Zm-7,13a2.112,2.112,0,0,1,2.1-2.1,2.1,2.1,0,1,1,0,4.2A2.112,2.112,0,0,1,12.1,24.3Zm.2,8.4c.2-.7.8-2.5,1.6-4.8h.4a3.585,3.585,0,0,0,3.6-3.6,3.488,3.488,0,0,0-1.7-3c1.4-3.6,3.4-8.1,5.3-10.6a.1.1,0,0,1,.1-.1,13.425,13.425,0,0,1,3.5-.4h.3c-.6,1-1.2,2.1-1.9,3.2a2.769,2.769,0,0,0-.9-.1A3.585,3.585,0,0,0,19,16.9a3.657,3.657,0,0,0,1.6,3,134.576,134.576,0,0,0-5.3,16.3A13.979,13.979,0,0,1,12.3,32.7Zm9.3,6.8c.2-.6.4-1.7.8-3.1a3.565,3.565,0,0,0,3.5-3.6,3.488,3.488,0,0,0-1.7-3c1.8-5.9,4.5-13.6,7.5-18a16.655,16.655,0,0,1,2.8,1.8,21.373,21.373,0,0,0-1.7,3,2.769,2.769,0,0,0-.9-.1,3.585,3.585,0,0,0-3.6,3.6,3.4,3.4,0,0,0,1.6,3,90.868,90.868,0,0,0-4.5,16.8H25A18.61,18.61,0,0,1,21.6,39.5Zm11.5-2c.2-.9.5-2,.9-3.4a3.585,3.585,0,0,0,3.6-3.6,3.794,3.794,0,0,0-1.7-3.1,50.577,50.577,0,0,1,3-8.1A14.712,14.712,0,0,1,40,24.9,15.348,15.348,0,0,1,33.1,37.5Z"
              transform="translate(-8.6 -8.699)" />
          </svg>
        </span>
        Dandruff
      </li>
      <li class="flex items-center justify-around border border-solid border-grain-brown bg-romance px-4 py-6 text-[14px]/[22px] text-black">
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="40.51"
            height="31.3"
            viewBox="0 0 40.51 31.3">
            <g
              id="Group_10002"
              data-name="Group 10002"
              transform="translate(-4.702 -9.35)">
            <g id="Group_10001" data-name="Group 10001">
              <path
                id="Path_14354"
                data-name="Path 14354"
                d="M5.5,30.5a22.368,22.368,0,0,1,5.3-.8c2.5.1,4.2,1.2,9.6.4-3.1,5.6.6,9.9,4.7,9.9,4.6,0,7.4-5,4.8-9.9,6,.4,5.7-1.2,14.6-.3"
                fill="none"
                stroke="#000"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.3" />
              <path
                id="Path_14355"
                data-name="Path 14355"
                d="M26.6,28.3c-.1,2.5,1.9,2.8,1.9,5.9a3.3,3.3,0,0,1-6.6,0,6.971,6.971,0,0,1,1.2-3.4,5.387,5.387,0,0,0,.8-2.1c.6-4.2,2.8-13.8,9.5-18.7C33.3,10,26.8,18.2,26.6,28.3Z"
                fill="none"
                stroke="#000"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.3" />
            </g>
            <path
              id="Path_14356"
              data-name="Path 14356"
              d="M29.3,16.9s.9-2,4.4-3.1"
              fill="none"
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.3" />
            <path
              id="Path_14357"
              data-name="Path 14357"
              d="M25.3,22.3a16.365,16.365,0,0,0,0-6.6"
              fill="none"
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.3" />
            <path
              id="Path_14358"
              data-name="Path 14358"
              d="M26.8,26.3A10.239,10.239,0,0,1,29.1,22"
              fill="none"
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.3" />
          </g>
        </svg>
      </span>
      Split ends
    </li>
    <li class="flex items-center justify-around border border-solid border-grain-brown bg-romance px-4 py-6 text-[14px]/[22px] text-black">
      <span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="37.1"
          height="26.065"
          viewBox="0 0 37.1 26.065">
          <g
            id="Group_10000"
            data-name="Group 10000"
            transform="translate(-7.45 -11.897)">
          <path
            id="Path_14351"
            data-name="Path 14351"
            d="M27.3,18.7a38.65,38.65,0,0,1,16.6-5.9,34.3,34.3,0,0,0-17.9,4l.7.6Z"
            fill="none"
            stroke="#000"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1.3" />
          <path
            id="Path_14352"
            data-name="Path 14352"
            d="M26,20.9a22.2,22.2,0,0,0-.6,5.1c-.1,1.4.5,2,.9,2.9a3.7,3.7,0,0,1,.6,2.1c0,2-1.4,3.7-3.1,3.7A3.632,3.632,0,0,1,20.5,31a3.48,3.48,0,0,1,.6-2.1,5.84,5.84,0,0,0,1.2-2.5,49.2,49.2,0,0,1,1.4-5.8l1.2-.6Z"
            fill="none"
            stroke="#000"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1.5" />
          <path
            id="Path_14353"
            data-name="Path 14353"
            d="M8.2,26.7h9.5a1.1,1.1,0,0,1,.9,1.7,5.326,5.326,0,0,0-.8,3.1,5.9,5.9,0,0,0,11.8-.1,6.109,6.109,0,0,0-.8-3,1.112,1.112,0,0,1,.9-1.7h9.5"
            fill="none"
            stroke="#000"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1.5" />
          <line
            id="Line_382"
            data-name="Line 382"
            x2="2"
            y2="1.2"
            transform="translate(19.2 15.7)"
            fill="none"
            stroke="#000"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1.5" />
          <g id="Group_9999" data-name="Group 9999">
            <line
              id="Line_383"
              data-name="Line 383"
              y1="0.5"
              x2="2.1"
              transform="translate(18.5 20.1)"
              fill="none"
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5" />
            <line
              id="Line_384"
              data-name="Line 384"
              x2="0.5"
              y2="2.1"
              transform="translate(23.3 12.8)"
              fill="none"
              stroke="#000"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5" />
          </g>
        </g>
      </svg>
    </span>
    Hair loss
  </li>
</ul>
<p class="text-[16px]/[22px] text-black">
  Here are your Customised hair care regimens to help reduce hair fall and get healthy hair.
</p></div><div class="my-6 h-[1px] w-full bg-black bg-opacity-10"></div>
<ul class="flex flex-col items-center gap-4 pb-[40px]">
  <li class="flex w-full items-center gap-x-4 border border-solid border-black bg-white">
    <div class="w-full max-w-[100px] border-r border-solid border-black">
      <img
        src="https://cdn.shopify.com/s/files/1/0058/8827/8595/files/Haircare.jpg?v=1706515160"
        alt="v"
        loading="lazy"
        class="w-full">
    </div>
    <div class="flex w-full items-center justify-between">
      <div>
        <h3 class="font-AnekLatin-Medium text-[16px]/[22px] capitalize text-woodsmoke">See Hair Analyis</h3>
        <p class="font-AnekLatin-Medium text-[12px]/[22px] text-woodsmoke text-opacity-40">
          Taken on August 4, 2023
        </p>
      </div>
      <a href="" class="pr-[20px]">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="8.013"
          height="13.227"
          viewBox="0 0 8.013 13.227">
          <path
            id="Vector"
            d="M1,11.4,6.6,6.2,1,1"
            transform="translate(0.413 0.413)"
            fill="none"
            stroke="#000"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2" />
        </svg>
      </a>
    </div>
  </li>
  <li class="flex w-full items-center gap-x-4 border border-solid border-black bg-white">
    <div class="w-full max-w-[100px] border-r border-solid border-black">
      <img
        src="https://cdn.shopify.com/s/files/1/0058/8827/8595/files/Skincare_2x_60ce1a3e-cac5-48c3-ac09-7ea0a289c460.jpg?v=1706515160"
        alt="v"
        loading="lazy"
        class="w-full">
    </div>
    <div class="flex w-full items-center justify-between">
      <div>
        <h3 class="font-AnekLatin-Medium text-[16px]/[22px] capitalize text-woodsmoke">Start Skin Quiz</h3>
        <p class="font-AnekLatin-Medium text-[12px]/[22px] text-woodsmoke text-opacity-40">
          Get to know your skin better
        </p>
      </div>
      <a href="" class="pr-[20px]">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="8.013"
          height="13.227"
          viewBox="0 0 8.013 13.227">
          <path
            id="Vector"
            d="M1,11.4,6.6,6.2,1,1"
            transform="translate(0.413 0.413)"
            fill="none"
            stroke="#000"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2" />
        </svg>
      </a>
    </div>
  </li>
</ul></div></div></div>