{% render 'breadcrumb' %}

<div id="product-info" class="relative py-[20px] ">
  <div class="container m-auto px-[20px]">
    <div class="flex flex-col gap-x-8 md:flex-row lg:flex-row xl:flex-row">
      <div class="relative mb-[30px] sm:w-[100%] md:w-[100%] lg:w-[50%]">
        <div class="absolute left-[15px] top-[10px] bg-white-lilac p-3">
          <span class="font-AnekLatin-SemiBold text-blue-marguerite sm:text-[13px]/[22px] md:text-[13px]/[22px] lg:text-[13px]/[22px]"
            >10% OFF</span
          >
        </div>
        <div id="product-image" class="flex flex-col items-start gap-[10px]">
          <div class="block w-full">
            <img src="https://picsum.photos/id/400/500" alt="" class="h-full w-full">
          </div>
          <ul class="flex items-center gap-x-[10px]">
            <li>
              <img src="https://picsum.photos/seed/picsum/70/70" alt="">
            </li>
            <li>
              <img src="https://picsum.photos/seed/picsum/70/70" alt="">
            </li>
            <li>
              <img src="https://picsum.photos/seed/picsum/70/70" alt="">
            </li>
            <li>
              <img src="https://picsum.photos/seed/picsum/70/70" alt="">
            </li>
          </ul>
        </div>
      </div>
      <div class="sm:w-[100%] md:w-[100%] lg:w-[50%]">
        <div id="product-tags" class="mb-[10px]">
          <ul class="flex items-center gap-x-[15px]">
            <li class="flex items-center capitalize text-woodsmoke opacity-50 sm:text-[14px]/[22px] md:text-[14px]/[22px] lg:text-[14px]/[22px]">
              Hair Oil
              <div class="bg-gray-600 ml-[15px] h-4 w-4 rounded-full opacity-50"></div>
            </li>
            <li class="capitalize text-woodsmoke opacity-50 sm:text-[14px]/[22px] md:text-[14px]/[22px] lg:text-[14px]/[22px]">
              For Hair Nourishment
            </li>
          </ul>
        </div>
        <h2 class="font-AnekLatin-Bold capitalize text-woodsmoke sm:text-[18px]/[22px] md:text-[18px]/[22px] lg:text-[18px]/[22px]">
          Stimulating Hair Oil (100 Ml) - For Women & Men
        </h2>
        {% render 'selected-option' %}
        <div id="reviews" class="mt-[20px] flex flex-wrap items-center gap-[20px]">
          <div class="flex items-center ">
            <svg xmlns="http://www.w3.org/2000/svg" width="100.669" height="16.667" viewBox="0 0 100.669 16.667">
              <g id="Group_9037" data-name="Group 9037" transform="translate(-43.667 -696.36)">
              <g id="Group_9032" data-name="Group 9032" transform="translate(28 6.693)">
                  <path id="Path_11129" data-name="Path 11129" d="M18.855,706.334,20.792,700l-5.125-3.667H22l2-6.667,2,6.667h6.333L27.209,700l1.938,6.333L24,702.417Z" fill="#f2c94c"/>
              </g>
              <g id="Group_9033" data-name="Group 9033" transform="translate(28 6.693)">
                  <path id="Path_11130" data-name="Path 11130" d="M39.855,706.334,41.792,700l-5.125-3.667H43l2-6.667,2,6.667h6.333L48.209,700l1.938,6.333L45,702.417Z" fill="#f2c94c"/>
              </g>
              <g id="Group_9034" data-name="Group 9034" transform="translate(28 6.693)">
                  <path id="Path_11131" data-name="Path 11131" d="M60.855,706.334,62.793,700l-5.125-3.667H64l2-6.667,2,6.667h6.333L69.21,700l1.938,6.333L66,702.417Z" fill="#f2c94c"/>
              </g>
              <g id="Group_9035" data-name="Group 9035" transform="translate(28 6.693)">
                  <path id="Path_11132" data-name="Path 11132" d="M81.855,706.334,83.793,700l-5.125-3.667H85l2-6.667,2,6.667h6.333L90.21,700l1.938,6.333L87,702.417Z" fill="#f2c94c"/>
              </g>
              <g id="Group_9036" data-name="Group 9036" transform="translate(28 6.693)">
                  <path id="Path_11133" data-name="Path 11133" d="M102.857,706.334,104.794,700l-5.125-3.667H106l2-6.667,2,6.667h6.333L111.211,700l1.937,6.333L108,702.417Z" fill="#f2c94c"/>
              </g>
              </g>
            </svg>
            <span class="text-woodsmoke opacity-40 sm:text-[14px]/[18px] md:text-[14px]/[18px] lg:text-[14px]/[18px]"
              >(49)</span
            >
            <div class="bg-gray-600 ml-[10px] h-4 w-4 rounded-full opacity-50"></div>
          </div>
          <div class="bg-surf p-[10px]">
            <p class="wootext-woodsmoke font-AnekLatin-Medium sm:text-[12px]/[14px] md:text-[12px]/[14px] lg:text-[12px]/[14px]">
              95% would reccomend
            </p>
          </div>
        </div>
        <div id="price" class="mt-[10px] flex items-center gap-[10px]">
          <p class="font-AnekLatin-Bold text-woodsmoke sm:text-[20px]/[22px] md:text-[20px]/[22px] lg:text-[20px]/[22px]">
            ₹449
          </p>
          <p class="font-AnekLatin-Bold text-woodsmoke line-through opacity-40 sm:text-[20px]/[22px] md:text-[20px]/[22px] lg:text-[20px]/[22px]">
            ₹449
          </p>
        </div>
        <div class="mt-[15px] flex  items-center gap-x-[20px]">
          <p class="font-AnekLatin-Bold text-cape-palliser sm:text-[16px]/[22px] md:text-[16px]/[22px] lg:text-[16px]/[22px]">
            ₹400 for Tatva Members
          </p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="17"
            height="17"
            viewBox="0 0 17 17"
          >
            <defs>
            <clipPath id="clip-path">
                <rect id="Rectangle_14524" data-name="Rectangle 14524" width="17" height="17" transform="translate(176 760)" fill="#fff"/>
            </clipPath>
            </defs>
            <g id="Group_9038" data-name="Group 9038" transform="translate(-176 -760)" clip-path="url(#clip-path)">
            <path id="Path_11334" data-name="Path 11334" d="M184.5,775.585a7.083,7.083,0,1,0-7.083-7.084A7.084,7.084,0,0,0,184.5,775.585Z" fill="none" stroke="#9e6d44" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.178"/>
            <path id="Path_11335" data-name="Path 11335" d="M182.438,766.373a2.125,2.125,0,0,1,4.129.708c0,1.417-2.125,2.125-2.125,2.125" fill="none" stroke="#9e6d44" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.178"/>
            <path id="Path_11336" data-name="Path 11336" d="M184.5,772.043h.006" fill="none" stroke="#9e6d44" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.178"/>
            </g>
          </svg>
        </div>
        {% render 'make-your-selection' %}
        {% render 'trust-icons' %}
        {% render 'product-benefits' %}
        {% comment %} {% render 'filter-drawer' %} {% endcomment %}
        {% comment %}
          {% render 'cart-drawer' %}
          {% render 'customized-your-selection-popup' %}
        {% endcomment %}
      </div>
    </div>
  </div>
  {% render 'fixed-addToCart-btn' %}
</div>
