<div class="bg-white md:bg-ecru-white border border-solid border-grain-brown py-8 md:my-9 flex flex-col gap-y-9 px-4 [&>*:not(:last-child)]:border-b">
  <div id="productAbout" class="pb-9">
    <h3 class="relative mb-5 pr-6 font-AnekLatin-Bold text-[18px]/[22px] capitalize text-woodsmoke">
      About The Product
      <span class="absolute right-3 top-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="3" viewBox="0 0 16 3">
          <line id="Line_369" data-name="Line 369" x2="16" transform="translate(0 1.5)" fill="none" stroke="#000" stroke-width="3"/>
        </svg>
      </span>
    </h3>
    <p class="mb-6 text-[16px]/[24px] text-woodsmoke">
      Vedix’s Stimulating Hair Oil has 100% natural ingredients. The idea is to customize the hair oil to your scalp and
      hair type. Compared to so many other hair oils out there that are generic, we want to go further and customize the
      hair oil to your needs.
    </p>
    <div>
      <h4 class="mb-4 font-AnekLatin-Bold text-[14px]/[22px] capitalize text-woodsmoke">About The Product</h4>
      <p class="mb-6 text-[16px]/[24px] text-woodsmoke">
        Vedix’s Stimulating Hair Oil has 100% natural ingredients. The idea is to customize the hair oil to your scalp
        and hair type. Compared to so many other hair oils out there that are generic, we want to go further and
        customize the hair oil to your needs.
      </p>
      <ul class="grid grid-cols-1 gap-y-6">
        <li class="flex items-center gap-x-5">
          <div class="h-[65px] w-[65px] max-w-[65px] flex-[0_0_100%] rounded-full border border-solid border-east-side p-1">
            <img src="//cdn.shopify.com/s/files/1/0222/9076/t/10/assets/logo.png?796" alt="The Soap Store">
          </div>
          <div class="flex flex-col gap-y-2">
            <h4 class="font-AnekLatin-Bold text-[16px]/[24px] uppercase text-cape-palliser">DAY 15</h4>
            <div class="text-[14px]/[22px] text-woodsmoke">
              Hair Texture & Scalp health improves as hair adapts to the new routine
            </div>
          </div>
        </li>
        <li class="flex items-center gap-x-5">
          <div class="h-[65px] w-[65px] max-w-[65px] flex-[0_0_100%] rounded-full border border-solid border-east-side p-1">
            <img src="//cdn.shopify.com/s/files/1/0222/9076/t/10/assets/logo.png?796" alt="The Soap Store">
          </div>
          <div class="flex flex-col gap-y-2">
            <h4 class="font-AnekLatin-Bold text-[16px]/[24px] uppercase text-cape-palliser">DAY 30</h4>
            <div class="text-[14px]/[22px] text-woodsmoke">
              Hair Texture & Scalp health improves as hair adapts to the new routine
            </div>
          </div>
        </li>
        <li class="flex items-center gap-x-5">
          <div class="h-[65px] w-[65px] max-w-[65px] flex-[0_0_100%] rounded-full border border-solid border-east-side p-1">
            <img src="//cdn.shopify.com/s/files/1/0222/9076/t/10/assets/logo.png?796" alt="The Soap Store">
          </div>
          <div class="flex flex-col gap-y-2">
            <h4 class="font-AnekLatin-Bold text-[16px]/[24px] uppercase text-cape-palliser">DAY 60</h4>
            <div class="text-[14px]/[22px] text-woodsmoke">
              Hair Texture & Scalp health improves as hair adapts to the new routine
            </div>
          </div>
        </li>
        <li class="flex items-center gap-x-5">
          <div class="h-[65px] w-[65px] max-w-[65px] flex-[0_0_100%] rounded-full border border-solid border-east-side p-1">
            <img src="//cdn.shopify.com/s/files/1/0222/9076/t/10/assets/logo.png?796" alt="The Soap Store">
          </div>
          <div class="flex flex-col gap-y-2">
            <h4 class="font-AnekLatin-Bold text-[16px]/[24px] uppercase text-cape-palliser">DAY 90</h4>
            <div class="text-[14px]/[22px] text-woodsmoke">
              Hair Texture & Scalp health improves as hair adapts to the new routine
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div id="productBenefits" class="pb-9">
    <h3 class="relative mb-5 pr-6 font-AnekLatin-Bold text-[18px]/[22px] capitalize text-woodsmoke">
      Benefits
      <span class="absolute right-3 top-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="3" viewBox="0 0 16 3">
          <line id="Line_369" data-name="Line 369" x2="16" transform="translate(0 1.5)" fill="none" stroke="#000" stroke-width="3"/>
        </svg>
      </span>
    </h3>
    <ul class="grid grid-cols-1 gap-x-4 gap-y-9 sm:grid-cols-2 md:grid-cols-4">
      <li class="flex flex-col items-center justify-center">
        <div class="mb-4 block">
          <img
            src="https://cdn.shopify.com/s/files/1/0058/8827/8595/files/shutterstock_2271077711_1.jpg?v=1704287309"
            alt="product_image"
          >
        </div>
        <h4 class="font-AnekLatin-SemiBold text-[16px]/[22px] text-woodsmoke">Helps nourish the scalp</h4>
        <div class="text-[16px]/[22px] text-woodsmoke opacity-50">1 line explaining how</div>
      </li>
      <li class="flex flex-col items-center justify-center">
        <div class="mb-4 block">
          <img
            src="https://cdn.shopify.com/s/files/1/0058/8827/8595/files/shutterstock_2271077711_1.jpg?v=1704287309"
            alt="product_image"
          >
        </div>
        <h4 class="font-AnekLatin-SemiBold text-[16px]/[22px] text-woodsmoke">Helps nourish the scalp</h4>
        <div class="text-[16px]/[22px] text-woodsmoke opacity-50">1 line explaining how</div>
      </li>
    </ul>
    <div class="relative mt-4 py-4 text-center before:absolute before:left-0 before:right-0 before:top-0 before:mx-auto before:w-[72px] before:border-t before:border-solid before:border-black before:opacity-10 before:content-['']">
      <p class="text-[14px]/[22px] text-woodsmoke opacity-50">And many more benefits</p>
      <div>
        Help strengthen the roots, Help reduce dandruff & flakiness, Help reduce hair fall and nourish the scalp
      </div>
    </div>
  </div>

  <div id="productHowToUse" class="pb-9">
    <h3 class="relative mb-5 pr-6 font-AnekLatin-Bold text-[18px]/[22px] capitalize text-woodsmoke">
      How To Use
      <span class="absolute right-3 top-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="3" viewBox="0 0 16 3">
          <line id="Line_369" data-name="Line 369" x2="16" transform="translate(0 1.5)" fill="none" stroke="#000" stroke-width="3"/>
        </svg>
      </span>
    </h3>
    <ul class="grid grid-cols-1 gap-y-6">
      <li class="flex items-center gap-x-5 [&>*:not(:first-child)]:border-b">
        <div class="h-[65px] w-[65px] max-w-[65px] flex-[0_0_100%] rounded-full">
          <img
            src="https://cdn.shopify.com/s/files/1/0058/8827/8595/files/Rectangle_14531_2x_9a6b422b-02e4-4c0e-a895-a093e8f51ff3.jpg?v=1704352446"
            alt="hair"
          >
        </div>
        <div class="max-w-[calc(100%-85px)] flex-[0_0_100%] py-5 text-[14px]/[22px] text-woodsmoke">
          Take 5-15ml of oil (depending on hair length) and apply all over the scalp
        </div>
      </li>
      <li class="flex items-center gap-x-5 [&>*:not(:first-child)]:border-b">
        <div class="h-[65px] w-[65px] max-w-[65px] flex-[0_0_100%] rounded-full">
          <img
            src="https://cdn.shopify.com/s/files/1/0058/8827/8595/files/Rectangle_14532_2x_80bec4a2-ecda-4445-aaea-93d64c155b51.jpg?v=1704352445"
            alt="massage"
          >
        </div>
        <div class="max-w-[calc(100%-85px)] flex-[0_0_100%] py-5 text-[14px]/[22px] text-woodsmoke">
          Gently massage for 5-10 minutes
        </div>
      </li>
      <li class="flex items-center gap-x-5">
        <div class="h-[65px] w-[65px] max-w-[65px] flex-[0_0_100%] rounded-full">
          <img
            src="https://cdn.shopify.com/s/files/1/0058/8827/8595/files/Rectangle_14533_2x_60caef41-3303-4e47-afa7-136eee772fe9.jpg?v=1704352445"
            alt="shampoo"
          >
        </div>
        <div class="max-w-[calc(100%-85px)] flex-[0_0_100%] py-5 text-[14px]/[22px] text-woodsmoke">
          Leave on for at least one hour before washing with Vedix Shampoo
        </div>
      </li>
    </ul>
  </div>

  <div id="productIngradients" class="pb-9">
    <h3 class="relative mb-5 pr-6 font-AnekLatin-Bold text-[18px]/[22px] capitalize text-woodsmoke">
      Ingradients
      <span class="absolute right-3 top-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="3" viewBox="0 0 16 3">
          <line id="Line_369" data-name="Line 369" x2="16" transform="translate(0 1.5)" fill="none" stroke="#000" stroke-width="3"/>
        </svg>
      </span>
    </h3>
    <p class="mb-6 text-[16px]/[24px] text-woodsmoke">
      Vedix’s Stimulating Hair Oil has 100% natural ingredients. The idea is to customize the hair oil to your scalp and
      hair type. Compared to so many other hair oils out there that are generic, we want to go further and customize the
      hair oil to your needs.
    </p>
    <div class="bg-merino px-4 py-5">
      <p class="text-[14px]/[24px] text-woodsmoke">
        Vedix uses natural ingredients such as banyan, berberis, vetiver, lodhra and more. Customize your hair oil first
        to see what ingredients Vedix will use in your hair oil.
      </p>
      <div class="mt-5 block">
        <a
          href="{{ block.settings.button_link }}"
          class="btn min-w-fit"
          role="button"
        >
          <span class="mb-[-2px] mt-[2px]">Customise Hair Oil</span>
        </a>
      </div>
    </div>
  </div>
</div>
