<span class="text-merlin sm:text-[14px]/[22px] md:text-[14px]/[22px] lg:text-[14px]/[22px]"
  >100 ml | Formulated for 30 Days</span
>
<div class="before:content[''] relative mt-[20px] w-full max-w-[318px] bg-albescent-white before:absolute before:left-5 before:top-[-14px] before:border-b-[15px] before:border-l-[15px] before:border-r-[15px] before:border-solid before:border-b-albescent-white before:border-l-transparent before:border-r-transparent">
  <div class="flex flex-col gap-4 rounded-[5px] px-5 py-4">
    <div class="flex gap-4">
      <div class="max-w-[40px]">
        <img
          src="https://picsum.photos/id/237/200/300"
          alt=""
          class="h-full w-full"
        >
      </div>
      <p class="font-AnekLatin-SemiBold text-[14px]/[21px] text-merlin md:text-[16px]/[21px]">
        Stimulating Hair Oil (100ml) has been customized to solve for you:
      </p>
    </div>
    <div class="flex gap-3">
      <div class="max-w-[70px]">
        <img
          src="https://cdn.shopify.com/s/files/1/0058/8827/8595/files/Group_9959_2x_7eb181e9-6d4f-434a-a3bc-0bd0e7105c4b.png?v=1706680164"
          alt="hair type"
        >
      </div>
      <p class="font-AnekLatin-SemiBold text-[12px]/[15px] text-woodsmoke">Women + Normal-Oily Scalp + Straight Hair</p>
    </div>
    <div>
      <a
        href="#"
        class="btn w-full min-w-fit"
        role="button"
      >
        <span class="mb-[-2px] mt-[2px]">Edit This Selection</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="9.313"
          height="5.477"
          viewBox="0 0 9.313 5.477"
        >
          <path
            id="Path_9818"
            data-name="Path 9818"
            d="M248.809,46.167l3.6,3.667,3.6-3.667"
            transform="translate(-247.748 -45.106)"
            fill="none"
            stroke="#fff"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1.5" />
        </svg>
      </a>
    </div>
  </div>
</div>
