<div class="fixed bottom-0 left-0 right-0 z-50 bg-alabaster shadow-[0px_-2px_4px_#00000026]">
  <div class="container">
    <div class="flex flex-col items-center gap-3 pb-4 pt-3">
      <p class="text-[14px]/[22px] text-black text-opacity-50">Take 2 minutes</p>
      <div class="w-full">
        <a href="#" class="btn w-full">
          <span class="mb-[-2px] mt-[2px]">Start Follow-Up</span>
        </a>
      </div>
    </div>
  </div>
</div>
