<div id="followups" class="py-16">
  <div class="container mx-auto px-4">
    <div class="mb-[16px] flex items-center gap-x-[10px]">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="11.029"
        height="18.826"
        viewBox="0 0 11.029 18.826">
        <path
          id="Vector"
          d="M1,17,9.615,9,1,1"
          transform="translate(10.615 18.414) rotate(180)"
          fill="none"
          stroke="#000"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2" />
      </svg>
      <h2 class="font-AnekLatin-Bold text-[28px]/[30px] text-black">Followups</h2>
    </div>
    <p class="text-[14px]/[18px] text-black">Followups are ways to improve your routine by giving Vedix feedback</p>
    <div class="mb-[8px] mt-[16px]">
      <p class="font-AnekLatin-SemiBold text-[12px]/[18px] text-black text-opacity-50">1 Followup Remaining</p>
      <ul class="flex flex-col gap-y-[20px]">
        <li class="border-1 mt-[8px] flex justify-between border border-black">
          <div class="w-1/2 px-4 py-5">
            <h3 class="font-AnekLatin-SemiBold text-[16px]/[22px] capitalize text-woodsmoke">
              3 Step Hair Routine
            </h3>
            <h5 class="mt-[6px] font-AnekLatin-Medium text-[12px]/[22px] text-woodsmoke text-opacity-40">
              Delivered: Aug. 2, 2023
            </h5>
            <div class="mt-[16px] flex items-center gap-x-[24px]">
              <a href="" class="font-AnekLatin-SemiBold text-[14px]/[22px] text-burnt-sienna">Start Followup
              </a>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="8.013"
                height="13.227"
                viewBox="0 0 8.013 13.227">
                <path
                  id="Vector"
                  d="M1,11.4,6.6,6.2,1,1"
                  transform="translate(0.413 0.413)"
                  fill="none"
                  stroke="#eb7462"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2" />
              </svg>
            </div>
          </div>
          <div class="border-l-1 w-1/2 border border-b-0 border-r-0 border-t-0 border-black">
            <img
              src="https://cdn.shopify.com/s/files/1/0058/8827/8595/files/Rectangle_199858_2x_f66317bb-7f64-48b7-9af1-28e57bc80a6b.jpg?v=1708684949"
              alt="renewal"
              loading="lazy"
              class="h-auto w-full">
          </div>
        </li>
        <li class="border-1 mt-[8px] flex justify-between border border-black">
          <div class="w-1/2 px-4 py-5">
            <h3 class="font-AnekLatin-SemiBold text-[16px]/[22px] capitalize text-black md:text-[28px]/[32px]">
              Deep Conditioning..
            </h3>
            <h5 class="mt-[6px] font-AnekLatin-Medium text-[12px]/[22px] text-woodsmoke text-opacity-40">
              Delivered: Aug. 2, 2023
            </h5>
            <div class="mt-[16px] flex items-center gap-x-[24px]">
              <a href="" class="font-AnekLatin-SemiBold text-[14px]/[22px] text-burnt-sienna">Start Followup
              </a>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="8.013"
                height="13.227"
                viewBox="0 0 8.013 13.227">
                <path
                  id="Vector"
                  d="M1,11.4,6.6,6.2,1,1"
                  transform="translate(0.413 0.413)"
                  fill="none"
                  stroke="#eb7462"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2" />
              </svg>
            </div>
          </div>
          <div class="border-l-1 w-1/2 border border-b-0 border-r-0 border-t-0 border-black">
            <img
              src="https://cdn.shopify.com/s/files/1/0058/8827/8595/files/Rectangle_199858_2x_f66317bb-7f64-48b7-9af1-28e57bc80a6b.jpg?v=1708684949"
              alt="renewal"
              loading="lazy"
              class="h-auto w-full">
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>