<div id="renewal">
  <div class="bg-quarter-spanish-white hidden">
    <div class="container mx-auto px-4">
      <div class="flex items-center justify-between py-4">
        <div>
          <a href="{{- shop.url -}}" aria-label="vedix">
            <img
              src="https://cdn.shopify.com/s/files/1/0058/8827/8595/files/vedix.png?v=1706504257"
              alt="vedix"
              loading="lazy"
              class="transform transition-transform duration-300 ease-in-out hover:scale-110">
          </a>
        </div>
        <div class="close-btn cursor-pointer">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="17.26"
            height="17.26"
            viewBox="0 0 17.26 17.26">
            <path
              id="Path_13879"
              data-name="Path 13879"
              d="M342.331,115.331l-14.667-14.667m14.667,0-14.667,14.667"
              transform="translate(-326.368 -99.368)"
              fill="none"
              stroke="#000"
              stroke-linecap="round"
              stroke-width="1.833" />
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-merino pt-[16px]">
    <div class="container mx-auto px-4">
      <h2 class="mb-2 font-AnekLatin-Bold text-[24px]/[30px] text-black">
        Select one of the options to renew your routine
      </h2>
      <p class="text-[16px]/[22px] text-black">You get 20% off on all orders because you are a Tatva Member</p>
      <ul class="flex flex-col gap-y-[24px] py-[30px]">
        <li class="border-1 relative flex items-center gap-x-[12px] border border-dove-gray bg-soapstone py-4 pl-[18px]">
          <div class="absolute right-[-1px] top-[-16px] bg-cold-purple px-3 py-1">
            <span class="flex font-AnekLatin-Bold text-[12px]/[22px] text-black">Save 75%</span>
          </div>
          <div class="rounded-[8px]">
            <img
              src="https://cdn.shopify.com/s/files/1/0058/8827/8595/files/renewal-3.png?v=1706505583"
              alt="renewal"
              loading="lazy">
          </div>
          <h3 class="font-AnekLatin-Medium text-[16px]/[22px] text-black md:text-[20px]/[22px]">
            Buy super saver combo
          </h3>
        </li>
        <li class="border-1 relative flex items-center gap-x-[12px] border border-dove-gray bg-soapstone py-4 pl-[18px]">
          <div class="rounded-[8px]">
            <img
              src="https://cdn.shopify.com/s/files/1/0058/8827/8595/files/renewal-2.png?v=1706505583"
              alt="renewal"
              loading="lazy">
          </div>
          <h3 class="font-AnekLatin-Medium text-[16px]/[22px] text-black md:text-[20px]/[22px]">
            Confirm current product
          </h3>
        </li>
        <li class="border-1 relative flex items-center gap-x-[12px] border border-dove-gray bg-soapstone py-4 pl-[18px]">
          <div class="rounded-[8px]">
            <img
              src="https://cdn.shopify.com/s/files/1/0058/8827/8595/files/renewal-1.png?v=1706505583"
              alt="renewal"
              loading="lazy">
          </div>
          <h3 class="font-AnekLatin-Medium text-[16px]/[22px] text-black md:text-[20px]/[22px]">
            Buy individual products instead
          </h3>
        </li>
      </ul>
      <div class="relative translate-y-[-50%] before:absolute before:left-0 before:top-[50%] before:h-[1px] before:w-[45%] before:transform before:bg-cod-gray before:bg-opacity-30 after:absolute after:right-0 after:top-[50%] after:h-[1px] after:w-[45%] after:transform after:bg-cod-gray after:bg-opacity-30">
        <h3 class="text-center font-AnekLatin-Bold text-[12px]/[22px] text-black opacity-30 md:text-[16px]/[22px]">
          OR
        </h3>
      </div>
      <div class="py-[27px] pb-[48px]">
        <div class="flex items-center justify-between gap-x-[16px]">
          <div class="border-1 flex w-full flex-col items-center justify-center border border-dove-gray bg-soapstone py-[16px]">
            <div class="mb-2">
              <img
                src="https://cdn.shopify.com/s/files/1/0058/8827/8595/files/calender.svg?v=1706507734"
                alt="calender"
                loading="lazy"
                class="h-[30px] w-[30px]">
            </div>
            <h3 class="font-AnekLatin-Medium text-[14px]/[22px] text-black">Change shipping date</h3>
          </div>
          <div class="border-1 flex w-full flex-col items-center justify-center border border-dove-gray bg-soapstone py-[16px]">
            <div class="mb-2">
              <img
                src="https://cdn.shopify.com/s/files/1/0058/8827/8595/files/change-it.svg?v=1706507734"
                alt="change"
                loading="lazy"
                class="h-[30px] w-[30px]">
            </div>
            <h3 class="font-AnekLatin-Medium text-[14px]/[22px] text-black">Change product</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-orange-white py-[32px]">
    <div class="container mx-auto px-4">
      <div class="relative translate-y-[-50%] before:absolute before:left-0 before:top-[50%] before:h-[1px] before:w-[40%] before:transform before:bg-cod-gray before:bg-opacity-30 after:absolute after:right-0 after:top-[50%] after:h-[1px] after:w-[40%] after:transform after:bg-cod-gray after:bg-opacity-30">
        <h3 class="text-center font-AnekLatin-Bold text-[12px]/[22px] text-black opacity-30 md:text-[16px]/[22px]">
          EXCLUSIVE
        </h3>
      </div>
      <h2 class="mx-auto mt-[16px] max-w-[335px] text-center font-AnekLatin-Bold text-[20px]/[22px] text-black md:text-[24px]/[32px]">
        Get Minimum 75% off on Vedix Super Saver Combos
      </h2>
      <div class="mx-auto mt-[30px] max-w-[130px]">
        <a href="" class="btn w-full">
          <span class="mb-[-2px] mt-[2px]">See Plans</span>
        </a>
      </div>
      <div class="mx-auto mt-[32px] max-w-[268px] rounded-[5px]">
        <img
          src="https://cdn.shopify.com/s/files/1/0058/8827/8595/files/plain-image.png?v=1706509217"
          alt="plain"
          loading="lazy"
          class="w-full">
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const closeButton = document.querySelector('.close-btn')
    const renewalDiv = document.getElementById('renewal')
    closeButton.addEventListener('click', function () {
      renewalDiv.style.display = 'none'
    })
  })
</script>