<div class="bg-soapstone">
  <section>
    <div class="bg-quarter-spanish-white py-4">
      <div class="container mx-auto px-4">
        <div class="flex items-center gap-x-[10px]">
          <svg xmlns="http://www.w3.org/2000/svg" width="11.029" height="18.826" viewBox="0 0 11.029 18.826">
            <path id="Vector" d="M1,17,9.615,9,1,1" transform="translate(10.615 18.414) rotate(180)" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
          </svg>
          <h2 class="font-AnekLatin-Bold text-[24px]/[30px] text-woodsmoke">My Orders</h2>
        </div>
        <ul class="mt-4 flex gap-3" role="link-list">
          <li class="inline-flex min-w-[84px] items-center justify-center border border-solid border-[#0000001A] bg-white px-1 py-2 text-center">
            <a
              href=""
              class="font-AnekLatin-Medium text-[14px]/[14px] capitalize text-woodsmoke"
              aria-label="Hair Products Only"
              >Hair Products Only</a
            >
          </li>
          <li class="inline-flex min-w-[84px] items-center justify-center border border-solid border-[#0000001A] bg-white px-1 py-2 text-center">
            <a
              href=""
              class="font-AnekLatin-Medium text-[14px]/[14px] capitalize text-woodsmoke"
              aria-label="Skin Products Only"
              >Skin Products Only</a
            >
          </li>
          <li class="inline-flex min-w-[84px] items-center justify-center border border-solid border-[#0000001A] bg-white px-1 py-2 text-center">
            <a href="" class="font-AnekLatin-Medium text-[14px]/[14px] capitalize text-woodsmoke" aria-label="Routine"
              >Routine</a
            >
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section>
    <div class="container mx-auto px-4 py-5">
      <h2 class="font-AnekLatin-Bold text-[16px]/[22px] text-woodsmoke">In-Progress</h2>
    </div>
    <div class="mb-2 bg-merino">
      <div class="container mx-auto px-4">
        <ul class="flex flex-col items-center" role="order-staus">
          <li class="w-full border-b border-solid border-black border-opacity-10 pb-4 pt-[26px]">
            <div class="flex items-center justify-between">
              <div class="flex items-center gap-x-[10px]">
                <h2 class="font-AnekLatin-SemiBold text-[14px]/[22px] text-woodsmoke">Order #1234567</h2>
                <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9 18L15 12L9 6" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </div>
              <a
                href=""
                class="flex items-center bg-serenade px-2 py-[6px] font-AnekLatin-SemiBold text-[12px]/[12px] text-gamboge"
                aria-label="Order Processing"
                >Order Processing</a
              >
            </div>
            <ul class="mt-[6px] flex items-center gap-x-[15px]">
              <li class="font-AnekLatin-Normal flex items-center pr-4 text-[12px]/[22px] capitalize text-woodsmoke text-opacity-60 md:text-[18px]/[22px]">
                On Jan 24, 2023
              </li>
              <li
                class="font-AnekLatin-Normal relative pr-4 text-[12px]/[22px] capitalize text-woodsmoke opacity-60 before:absolute before:-left-4 before:top-1/2 before:h-[4px] before:w-[4px] before:-translate-y-1/2 before:transform before:rounded-full before:bg-woodsmoke before:opacity-50 before:content-[''] md:text-[18px]/[22px]"
              >
                Hair Routine Inside
              </li>
            </ul>
          </li>
          <li class="border-b-1 w-full border-solid border-opacity-10 pb-[22px] pt-[16px]">
            <h2 class="text-[16px]/[22px] text-woodsmoke">1 x 3 Step Hair Routine</h2>
            <div class="mt-[30px] flex items-center justify-between">
              <div class="flex flex-col">
                <h3 class="font-AnekLatin-SemiBold text-[14px]/[22px] text-woodsmoke text-opacity-60">Total</h3>
                <h3 class="font-AnekLatin-SemiBold text-[16px]/[22px] text-woodsmoke text-opacity-60">₹ 940.00</h3>
              </div>
              <a
                href=""
                aria-label="Order Details"
                class="btn min-w-[124px]"
                ><span class="mb-[-2px] mt-[2px]">Order Details</span></a
              >
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="bg-merino">
      <div class="container mx-auto px-4">
        <ul class="flex flex-col items-center" role="order-staus">
          <li class="w-full border-b border-solid border-black border-opacity-10 pb-4 pt-[26px]">
            <div class="flex items-center justify-between">
              <div class="flex items-center gap-x-[10px]">
                <h2 class="font-AnekLatin-SemiBold text-[14px]/[22px] text-woodsmoke">Order #1234567</h2>
                <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9 18L15 12L9 6" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </div>
              <a
                href=""
                class="flex items-center bg-serenade px-2 py-[6px] font-AnekLatin-SemiBold text-[12px]/[12px] text-gamboge"
                aria-label="Order Processing"
                >Order Processing</a
              >
            </div>
            <ul class="mt-[6px] flex items-center gap-x-[15px]">
              <li class="font-AnekLatin-Normal flex items-center pr-4 text-[12px]/[22px] capitalize text-woodsmoke text-opacity-60 md:text-[18px]/[22px]">
                On Jan 24, 2023
              </li>
              <li
                class="font-AnekLatin-Normal relative pr-4 text-[12px]/[22px] capitalize text-woodsmoke opacity-60 before:absolute before:-left-4 before:top-1/2 before:h-[4px] before:w-[4px] before:-translate-y-1/2 before:transform before:rounded-full before:bg-woodsmoke before:opacity-50 before:content-[''] md:text-[18px]/[22px]"
              >
                Hair Routine Inside
              </li>
            </ul>
          </li>
          <li class="border-b-1 w-full border-solid border-opacity-10 pb-[22px] pt-[16px]">
            <p class="text-[16px]/[22px] text-woodsmoke">
              1 x Vikrut Ambla Booster Oil, 1 x Vikrut Ambla Booster Oil, 1 x 3 Step Hair Routine, 2 x Vikrut Ambla
            </p>
            <div class="mt-[30px] flex items-center justify-between">
              <div class="flex flex-col">
                <h3 class="font-AnekLatin-SemiBold text-[14px]/[22px] text-woodsmoke text-opacity-60">Total</h3>
                <h3 class="font-AnekLatin-SemiBold text-[16px]/[22px] text-woodsmoke text-opacity-60">₹ 1240.20</h3>
              </div>
              <a
                href=""
                aria-label="Order Details"
                class="btn min-w-[124px]"
                ><span class="mb-[-2px] mt-[2px]">Order Details</span></a
              >
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section>
    <div class="container mx-auto px-4 py-5">
      <h2 class="font-AnekLatin-Bold text-[18px]/[22px] text-woodsmoke">Completed</h2>
    </div>
    <div class="bg-merino">
      <div class="container mx-auto px-4">
        <ul class="flex flex-col items-center" role="order-staus">
          <li class="w-full border-b border-solid border-black border-opacity-10 pb-4 pt-[26px]">
            <div class="flex items-center justify-between">
              <div class="flex items-center gap-x-[10px]">
                <h2 class="font-AnekLatin-SemiBold text-[14px]/[22px] text-woodsmoke">Order #1234567</h2>
                <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9 18L15 12L9 6" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </div>
              <a
                href=""
                class="flex items-center bg-harp px-2 py-[6px] font-AnekLatin-SemiBold text-[12px]/[12px] text-genoa"
                aria-label="Delivered"
                >Delivered</a
              >
            </div>
            <ul class="mt-[6px] flex items-center gap-x-[15px]">
              <li class="font-AnekLatin-Normal flex items-center pr-4 text-[12px]/[22px] capitalize text-woodsmoke text-opacity-60 md:text-[18px]/[22px]">
                On Jan 24, 2023
              </li>
              <li
                class="font-AnekLatin-Normal relative pr-4 text-[12px]/[22px] capitalize text-woodsmoke opacity-60 before:absolute before:-left-4 before:top-1/2 before:h-[4px] before:w-[4px] before:-translate-y-1/2 before:transform before:rounded-full before:bg-woodsmoke before:opacity-50 before:content-[''] md:text-[18px]/[22px]"
              >
                Hair Routine Inside
              </li>
            </ul>
          </li>
          <li class="border-b-1 w-full border-solid border-opacity-10 pb-[22px] pt-[16px]">
            <h2 class="text-[16px]/[22px] text-woodsmoke">1 x 3 Step Hair Routine</h2>
            <div class="mt-[30px] flex items-center justify-between">
              <div class="flex flex-col">
                <h3 class="font-AnekLatin-SemiBold text-[14px]/[22px] text-woodsmoke text-opacity-60">Total</h3>
                <h3 class="font-AnekLatin-SemiBold text-[16px]/[22px] text-woodsmoke text-opacity-60">₹ 940.00</h3>
              </div>
              <a
                href=""
                aria-label="Order Details"
                class="btn min-w-[124px]"
                ><span class="mb-[-2px] mt-[2px]">Reorder</span></a
              >
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section>
    <div class="container mx-auto px-4 py-5">
      <h2 class="font-AnekLatin-Bold text-[18px]/[22px] text-woodsmoke">Cancelled</h2>
    </div>
    <div class="bg-merino">
      <div class="container mx-auto px-4">
        <ul class="flex flex-col items-center" role="order-staus">
          <li class="w-full border-b border-solid border-black border-opacity-10 pb-4 pt-[26px]">
            <div class="flex items-center justify-between">
              <div class="flex items-center gap-x-[10px]">
                <h2 class="font-AnekLatin-SemiBold text-[14px]/[22px] text-woodsmoke">Order #1234567</h2>
                <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9 18L15 12L9 6" stroke="black" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </div>
              <a
                href=""
                class="flex items-center bg-cinderella px-2 py-[6px] font-AnekLatin-SemiBold text-[12px]/[12px] text-flamingo"
                aria-label="Cancelled"
                >Cancelled</a
              >
            </div>
            <ul class="mt-[6px] flex items-center gap-x-[15px]">
              <li class="font-AnekLatin-Normal flex items-center pr-4 text-[12px]/[22px] capitalize text-woodsmoke text-opacity-60 md:text-[18px]/[22px]">
                On Jan 24, 2023
              </li>
              <li
                class="font-AnekLatin-Normal relative pr-4 text-[12px]/[22px] capitalize text-woodsmoke opacity-60 before:absolute before:-left-4 before:top-1/2 before:h-[4px] before:w-[4px] before:-translate-y-1/2 before:transform before:rounded-full before:bg-woodsmoke before:opacity-50 before:content-[''] md:text-[18px]/[22px]"
              >
                Hair Routine Inside
              </li>
            </ul>
          </li>
          <li class="border-b-1 w-full border-solid border-opacity-10 pb-[22px] pt-[16px]">
            <p class="text-[16px]/[22px] text-woodsmoke">
              1 x Vikrut Ambla Booster Oil, 1 x Vikrut Ambla Booster Oil, 1 x 3 Step Hair Routine, 2 x Vikrut Ambla
            </p>
            <div class="mt-[30px] flex items-center justify-between">
              <div class="flex flex-col">
                <h3 class="font-AnekLatin-SemiBold text-[14px]/[22px] text-woodsmoke text-opacity-60">Total</h3>
                <h3 class="font-AnekLatin-SemiBold text-[16px]/[22px] text-woodsmoke text-opacity-60">₹ 1240.20</h3>
              </div>
              <a
                href=""
                aria-label="Order Details"
                class="btn min-w-[124px]"
                ><span class="mb-[-2px] mt-[2px]">Reorder</span></a
              >
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>
