<div class="bg-quarter-spanish-white py-[15px] pb-5">
  {% render 'breadcrumb' %}
  <div class="container mx-auto px-4">
    <div class="flex items-center gap-x-[10px]">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="11.029"
        height="18.826"
        viewBox="0 0 11.029 18.826"
      >
        <path
          id="Vector"
          d="M1,17,9.615,9,1,1"
          transform="translate(10.615 18.414) rotate(180)"
          fill="none"
          stroke="#000"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2" />
      </svg>
      <h2 class="font-AnekLatin-Bold text-[24px]/[30px] text-woodsmoke">Order #5236475</h2>
    </div>
    <div class="mt-5">
      <div class="flex items-center justify-between">
        <div>
          <p class="mb-3 font-AnekLatin-SemiBold text-[14px]/[22px] text-woodsmoke text-opacity-60">Order placed on</p>
          <p class="font-AnekLatin-SemiBold text-[14px]/[22px] text-woodsmoke text-opacity-60">Total</p>
        </div>
        <div class="flex flex-col items-end">
          <p class="mb-3 font-AnekLatin-SemiBold text-[14px]/[22px] text-woodsmoke">Jan 24, 2023</p>
          <p class="font-AnekLatin-SemiBold text-[14px]/[22px] text-woodsmoke">Rs. 789</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pb-[36px] pt-[20px]">
  <div class="container mx-auto px-4">
    <div class="mb-[10px] flex items-center justify-between">
      <h2 class="font-AnekLatin-Bold text-[16px]/[22px] text-woodsmoke">Order Status</h2>
      <p class="text-[12px]/[22px] text-woodsmoke text-opacity-60">Order #115122</p>
    </div>
    <h5 class="text-[16px]/[22px] text-woodsmoke">
      Estimate Delivery:
      <strong class="font-AnekLatin-SemiBold">Oct 23, 2023</strong>
    </h5>
    <h6 class="text-[12px]/[22px] text-woodsmoke text-opacity-60">Your order is placed and confirmed</h6>
    <div class="mt-[30px]">
      <ul id="order-status" class="mt-[15px] [&>*:not(:last-child)]:mb-9">
        <li class="relative flex items-center gap-x-4 before:absolute before:bottom-0 before:left-3 before:h-9 before:w-[3px] before:translate-y-full before:transform before:bg-black before:bg-opacity-60 before:content-['']">
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 40 40"
            >
              <g
                id="Group_8781"
                data-name="Group 8781"
                transform="translate(4718.5 -770)">
                <path
                  id="Path_10196"
                  data-name="Path 10196"
                  d="M42.5,519.059h40v40h-40Z"
                  transform="translate(-4761 250.941)"
                  fill="#8bc292" />
                <path
                  id="Path_10197"
                  data-name="Path 10197"
                  d="M49.25,534.875l6.183,6.183L67.8,527.809"
                  transform="translate(-4757.274 255.816)"
                  fill="none"
                  stroke="#fff"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.5" />
              </g>
            </svg>
          </div>
          <div>
            <p class="font-AnekLatin-Medium text-[14px]/[22px] text-woodsmoke md:text-[16px]/[22px]">
              Order Confirmed
              <span class="font-AnekLatin-Bold">Mon, 9 Oct</span>
            </p>
          </div>
        </li>
        <li class="relative flex items-center gap-x-4 before:absolute before:bottom-0 before:left-3 before:h-9 before:w-[3px] before:translate-y-full before:transform before:bg-alto before:content-['']">
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 40 40"
            >
              <g
                id="Group_9086"
                data-name="Group 9086"
                transform="translate(4718.5 -770)">
                <path
                  id="Path_10196"
                  data-name="Path 10196"
                  d="M42.5,519.059h40v40h-40Z"
                  transform="translate(-4761 250.941)"
                  fill="#d1dada" />
                <path
                  id="Path_10197"
                  data-name="Path 10197"
                  d="M49.25,534.875l6.183,6.183L67.8,527.809"
                  transform="translate(-4757.274 255.816)"
                  fill="none" />
              </g>
            </svg>
          </div>
          <div>
            <p class="font-AnekLatin-Medium text-[14px]/[22px] text-woodsmoke md:text-[16px]/[22px]">
              Order Packed, Estimate Date 9 Oct
            </p>
          </div>
        </li>
        <li class="relative flex items-center gap-x-4 before:absolute before:bottom-0 before:left-3 before:h-9 before:w-[3px] before:translate-y-full before:transform before:bg-alto before:content-['']">
          <div class="flex">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 40 40"
            >
              <g
                id="Group_9086"
                data-name="Group 9086"
                transform="translate(4718.5 -770)">
                <path
                  id="Path_10196"
                  data-name="Path 10196"
                  d="M42.5,519.059h40v40h-40Z"
                  transform="translate(-4761 250.941)"
                  fill="#d1dada" />
                <path
                  id="Path_10197"
                  data-name="Path 10197"
                  d="M49.25,534.875l6.183,6.183L67.8,527.809"
                  transform="translate(-4757.274 255.816)"
                  fill="none" />
              </g>
            </svg>
          </div>
          <div>
            <p class="font-AnekLatin-Medium text-[14px]/[22px] text-woodsmoke md:text-[16px]/[22px]">Order Shipped</p>
          </div>
        </li>
        <li class="flex items-center gap-x-4">
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 40 40"
            >
              <g
                id="Group_9086"
                data-name="Group 9086"
                transform="translate(4718.5 -770)">
                <path
                  id="Path_10196"
                  data-name="Path 10196"
                  d="M42.5,519.059h40v40h-40Z"
                  transform="translate(-4761 250.941)"
                  fill="#d1dada" />
                <path
                  id="Path_10197"
                  data-name="Path 10197"
                  d="M49.25,534.875l6.183,6.183L67.8,527.809"
                  transform="translate(-4757.274 255.816)"
                  fill="none" />
              </g>
            </svg>
          </div>
          <div>
            <p class="font-AnekLatin-Medium text-[14px]/[22px] text-woodsmoke md:text-[16px]/[22px]">
              Estimate Delivery
            </p>
          </div>
        </li>
      </ul>
      <div class="mt-[20px] max-w-[212px] border border-solid border-woodsmoke bg-flame-pea px-4 py-3 text-center">
        <a
          href=""
          aria-label="Reorder"
          class="font-AnekLatin-SemiBold text-[16px]/[16px] capitalize text-white"
          >Reorder</a
        >
      </div>
    </div>
  </div>
</div>
<div class="bg-white py-[35px]">
  <div class="container mx-auto px-4">
    <div class="mx-auto max-w-[375px]">
      <div class="mx-auto max-w-[52px] text-center">
        <img
          src="https://cdn.shopify.com/s/files/1/0058/8827/8595/files/crossed.svg?v=1707123203"
          alt="crossed"
          loading="lazy"
        >
      </div>
      <h2 class="mt-[25px] text-center font-AnekLatin-Bold text-[16px]/[22px] text-woodsmoke">
        You cancelled the order on Feb 23, 2023
      </h2>
      <p class="mt-[10px] text-center font-AnekLatin-Medium text-[16px]/[22px] text-woodsmoke text-opacity-60">
        Contact us if you have any more questions
      </p>
      <div class="mt-[25px] text-center">
        <a
          href="#"
          aria-label="Reorder"
          class="btn w-full max-w-[212px]"
        >
          <span class="mb-[-2px] mt-[2px]">Reorder</span>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="bg-merino pb-[36px] pt-6">
  <div class="container mx-auto px-4">
    <h2 class="font-AnekLatin-Bold text-[16px]/[22px] text-woodsmoke">2 Items Ordered</h2>
    <div class="mt-6">
      <ul role="order-list">
        <li class="border-b border-solid border-black border-opacity-10">
          <div class="flex w-full items-center gap-4">
            <div class="relative h-[60px] w-[60px] flex-none rounded-[8px]">
              <img
                src="https://cdn.shopify.com/s/files/1/0058/8827/8595/files/Rectangle_17511_2x_bf11d5bd-dccc-40cf-b574-2a347086a9d5.png?v=1708511129"
                class="h-full w-full"
                alt="product_image"
              >
              <div class="absolute -bottom-[7px] -right-[7px] flex h-[19px] w-[19px] items-center justify-center rounded-full border border-solid border-grain-brown bg-soapstone font-AnekLatin-SemiBold text-[14px]/[22px] text-grain-brown">
                1
              </div>
            </div>
            <div class="flex w-full items-center justify-between">
              <div>
                <h3 class="mb-1 text-[16px]/[22px] text-woodsmoke">3 Step Hair Kit</h3>
                <div class="flex gap-2">
                  <span class="text-[14px]/[22px] text-woodsmoke text-opacity-60 line-through">₹999</span>
                  <span class="font-AnekLatin-SemiBold text-[14px]/[22px] text-woodsmoke">₹892</span>
                </div>
              </div>
              <p class="font-AnekLatin-SemiBold text-[12px]/[22px] text-fruit-salad">You Save ₹99</p>
            </div>
          </div>
          <!-- Nested List Item -->
          <ul
            role="order-list"
            class="ml-[60px] mt-7 [&>*]:border-t [&>*]:border-solid [&>*]:border-black [&>*]:border-opacity-10"
          >
            <li class="flex items-center py-5">
              <div class="flex w-full items-center gap-4">
                <div class="relative h-[46px] w-[46px] flex-none rounded-[8px]">
                  <img
                    src="https://cdn.shopify.com/s/files/1/0058/8827/8595/files/Rectangle_17513_2x_cbcae5d0-1cd2-4732-9164-de43eab95123.png?v=1708511130"
                    class="h-full w-full"
                    alt=""
                  >
                </div>
                <div class="flex w-full items-center justify-between">
                  <div>
                    <h3 class="text-[16px]/[22px] text-woodsmoke">Anti-Hair Fall Oil</h3>
                  </div>
                </div>
              </div>
            </li>
            <li class="flex items-center py-5">
              <div class="flex w-full items-center  gap-4">
                <div class="relative h-[46px] w-[46px] flex-none rounded-[8px]">
                  <img
                    src="https://cdn.shopify.com/s/files/1/0058/8827/8595/files/Rectangle_17513_2x_cbcae5d0-1cd2-4732-9164-de43eab95123.png?v=1708511130"
                    class="h-full w-full"
                    alt=""
                  >
                </div>
                <div class="flex w-full items-center justify-between">
                  <div>
                    <h3 class="text-[16px]/[22px] text-woodsmoke">Hair Growth Serum</h3>
                  </div>
                </div>
              </div>
            </li>
            <li class="flex items-center py-5">
              <div class="flex w-full items-center  gap-4">
                <div class="relative h-[46px] w-[46px] flex-none rounded-[8px]">
                  <img
                    src="https://cdn.shopify.com/s/files/1/0058/8827/8595/files/Rectangle_17513_2x_cbcae5d0-1cd2-4732-9164-de43eab95123.png?v=1708511130"
                    class="h-full w-full"
                    alt=""
                  >
                </div>
                <div class="flex w-full items-center justify-between">
                  <div>
                    <h3 class="text-[16px]/[22px] text-woodsmoke">Anti-Dandruff Shampoo</h3>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </li>
        <li class="pt-5">
          <div class="flex w-full items-center gap-4">
            <div class="relative h-[60px] w-[60px] flex-none rounded-[8px]">
              <img
                src="https://cdn.shopify.com/s/files/1/0058/8827/8595/files/Rectangle_17513_2x_cbcae5d0-1cd2-4732-9164-de43eab95123.png?v=1708511130"
                class="h-full w-full"
                alt=""
              >
              <div class="absolute -bottom-[7px] -right-[7px] flex h-[19px] w-[19px] items-center justify-center rounded-full border border-solid border-grain-brown bg-soapstone font-AnekLatin-SemiBold text-[14px]/[22px] text-grain-brown">
                1
              </div>
            </div>
            <div class="flex w-full items-center justify-between">
              <div>
                <h3 class="mb-[8px] text-[16px]/[22px] text-woodsmoke">Vikrut Ambla Booster Oil</h3>
                <p class="font-AnekLatin-SemiBold text-[14px]/[22px] text-woodsmoke">
                  <span class="text-opacity-60 line-through">₹599</span>₹392
                </p>
              </div>
              <p class="font-AnekLatin-SemiBold text-[12px]/[22px] text-fruit-salad">You Save ₹99</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="mt-2 bg-merino pb-[20px] pt-6">
  <div class="container mx-auto px-4">
    <h2 class="font-AnekLatin-Bold text-[16px]/[22px] text-woodsmoke">Payment Details</h2>
    <div class="mb-7 mt-6 w-full rounded-[3px] border border-solid border-japanese-laurel bg-[#0388081A] px-4 py-2 text-center font-AnekLatin-Bold text-[14px]/[16px] text-japanese-laurel">
      Saved a total of ₹390 on this order !
    </div>
    <div>
      <div class="mb-[15px] flex items-center justify-between">
        <h4 class="font-AnekLatin-SemiBold text-[14px]/[18px] capitalize text-woodsmoke opacity-60">Sub Total</h4>
        <p class="font-AnekLatin-SemiBold text-[16px]/[18px] capitalize text-woodsmoke">₹1392</p>
      </div>
      <div class="mb-[15px] flex items-center justify-between">
        <h4 class="font-AnekLatin-SemiBold text-[14px]/[18px] capitalize text-woodsmoke opacity-60">Taxes</h4>
        <p class="font-AnekLatin-SemiBold text-[16px]/[18px] capitalize text-woodsmoke">₹492</p>
      </div>
      <div class="mb-[15px] flex items-center justify-between">
        <h4 class="font-AnekLatin-SemiBold text-[16px]/[18px] capitalize text-woodsmoke opacity-60">Coupon Discount</h4>
        <p class="font-AnekLatin-SemiBold text-[16px]/[18px] capitalize text-woodsmoke">₹0</p>
      </div>
      <div class="flex items-center justify-between">
        <h4 class="font-AnekLatin-SemiBold text-[16px]/[18px] capitalize text-woodsmoke opacity-60">
          Membership Discount
        </h4>
        <p class="font-AnekLatin-SemiBold text-[16px]/[18px] capitalize text-woodsmoke">₹72</p>
      </div>
      <div class="mt-5 border border-l-0 border-r-0 border-solid border-black border-opacity-10 py-5">
        <div class="flex items-center justify-between">
          <h3 class="font-AnekLatin-Bold text-[16px]/[22px] text-woodsmoke">Total</h3>
          <p class="font-AnekLatin-Bold text-[16px]/[22px] text-woodsmoke">₹1572</p>
        </div>
      </div>
      <div class="mt-[20px] flex items-center justify-between" bis_skin_checked="1">
        <h4 class="font-AnekLatin-SemiBold text-[14px]/[18px] capitalize text-woodsmoke text-opacity-60">
          Payment Method
        </h4>
        <h4 class="font-AnekLatin-SemiBold text-[16px]/[18px] uppercase text-woodsmoke">HDFC Credit Card XXXX</h4>
      </div>
    </div>
  </div>
</div>

<div class="mt-2 bg-merino py-[22px]">
  <div class="container mx-auto px-4">
    <h2 class="font-AnekLatin-Bold text-[16px]/[22px] text-woodsmoke">Shipping To</h2>
    <h4 class="mt-[15px] font-AnekLatin-Medium text-[14px]/[18px] capitalize text-woodsmoke text-opacity-60">
      Nikhil Rao
    </h4>
    <p class="mt-[15px] max-w-[420px] text-[14px]/[18px] capitalize text-regent-gray">
      B1-1601, The Address, Ghatkopar West Lorem Ipsum Dolor Si Full Address , Mumbai, Maharashtra
    </p>
  </div>
</div>
<div class="mt-2 bg-merino py-[22px]">
  <div class="container mx-auto px-4">
    <h2 class="font-AnekLatin-Bold text-[16px]/[22px] text-woodsmoke">Contact Details</h2>
    <div class="mt-[15px]">
      <ul role="contact-list">
        <li class="flex w-full items-center justify-between">
          <p class="font-AnekLatin-Medium text-[14px]/[18px] capitalize text-woodsmoke text-opacity-60">Email</p>
          <p class="font-AnekLatin-SemiBold text-[14px]/[18px] capitalize text-woodsmoke">
            <a href="mailto:Nikhil.Rao@Lightsout.Studio" aria-label="contact-mail">Nikhil.Rao@Lightsout.Studio</a>
          </p>
        </li>
        <li class="mt-[15px] flex w-full items-center justify-between">
          <p class="font-AnekLatin-Medium text-[14px]/[18px] capitalize text-woodsmoke text-opacity-60">Mobile</p>
          <p class="font-AnekLatin-SemiBold text-[14px]/[18px] capitalize text-woodsmoke">
            <a href="tel:+91 98817284995" aria-label="contact-phone">+91 98817284995</a>
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
{% render 'bottom-fixed-menu' %}
