<div class="py-[60px]">
  <div class="container mx-auto px-4">
    <div class="mx-auto max-w-[500px]">
      <div class="mt-[40px]">
        <h3 class="font-AnekLatin-Medium text-[16px]/[22px] text-woodsmoke opacity-40">Suggested</h3>
        <div id="result" class="mt-[25px]">
          <ul>
            <li>
              <div class="flex items-center gap-[14px]">
                <div class="max-h-[77px] max-w-[77px]">
                  <img src="https://picsum.photos/77/77" alt="">
                </div>
                <div class="flex flex-col gap-y-[10px]">
                  <h3 class="font-AnekLatin-SemiBold text-[16px]/[22px] text-woodsmoke">
                    Stimulating Hair Oil (100 ml) - For Women & Men
                  </h3>
                  <p class="font-AnekLatin-Medium text-[14px]/[22px] text-cape-palliser">Hair oil</p>
                </div>
              </div>
              <div class="border-b-1 my-[24px] border border-l-0 border-r-0 border-t-0 border-almond"></div>
            </li>
            <li>
              <div class="flex items-center gap-[14px]">
                <div class="max-h-[77px] max-w-[77px]">
                  <img src="https://picsum.photos/77/77" alt="">
                </div>
                <div class="flex flex-col gap-y-[10px]">
                  <h3 class="font-AnekLatin-SemiBold text-[16px]/[22px] text-woodsmoke">
                    Stimulating Hair Oil (100 ml) - For Women & Men
                  </h3>
                  <p class="font-AnekLatin-Medium text-[14px]/[22px] text-cape-palliser">Hair oil</p>
                </div>
              </div>
              <div class="border-b-1 my-[24px] border border-l-0 border-r-0 border-t-0 border-almond"></div>
            </li>
            <li>
              <div class="flex items-center gap-[14px]">
                <div class="max-h-[77px] max-w-[77px]">
                  <img src="https://picsum.photos/77/77" alt="">
                </div>
                <div class="flex flex-col gap-y-[10px]">
                  <h3 class="font-AnekLatin-SemiBold text-[16px]/[22px] text-woodsmoke">
                    Stimulating Hair Oil (100 ml) - For Women & Men
                  </h3>
                  <p class="font-AnekLatin-Medium text-[14px]/[22px] text-cape-palliser">Hair oil</p>
                </div>
              </div>
              <div class="border-b-1 my-[24px] border border-l-0 border-r-0 border-t-0 border-almond"></div>
            </li>
            <li>
              <div class="flex items-center justify-between">
                <h3 class="font-AnekLatin-SemiBold text-[16px]/[22px] text-woodsmoke">See All Hair Care Products</h3>
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="10.98" height="19.632" viewBox="0 0 10.98 19.632">
                    <path id="Path_15134" data-name="Path 15134" d="M987,730.8l8.566-8.4L987,714" transform="translate(-985.586 -712.585)" fill="none" stroke="#131818" stroke-linecap="square" stroke-linejoin="round" stroke-width="2"/>
                  </svg>
                </span>
              </div>
              <div class="border-b-1 my-[24px] border border-l-0 border-r-0 border-t-0 border-almond"></div>
            </li>
            <li>
              <div class="flex items-center justify-between">
                <h3 class="font-AnekLatin-SemiBold text-[16px]/[22px] text-woodsmoke">See All Hair Care Products</h3>
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="10.98" height="19.632" viewBox="0 0 10.98 19.632">
                    <path id="Path_15134" data-name="Path 15134" d="M987,730.8l8.566-8.4L987,714" transform="translate(-985.586 -712.585)" fill="none" stroke="#131818" stroke-linecap="square" stroke-linejoin="round" stroke-width="2"/>
                  </svg>
                </span>
              </div>
              <div class="border-b-1 my-[24px] border border-l-0 border-r-0 border-t-0 border-almond"></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
