<div
  class="{% if section.settings.section_border == true %}border-y border-solid border-mine-shaft{% endif %} px-6 py-3"
  style="background-color: {{ section.settings.section_bg }};"
>
  <div class="container mx-auto">
    <ul
      class="flex-no-wrap no-scrollbar::-webkit-scrollbar no-scrollbar flex touch-auto items-center justify-start gap-x-4 overflow-x-auto md:gap-x-24 lg:justify-center"
      role="list"
    >
      {%- for block in section.blocks -%}
        <li class="flex-[0_0_auto] snap-start" role="listitem">
          <div class="flex items-center justify-center gap-2">
            {% if block.settings.col_image != blank %}
              <span class="flex h-[32px] w-[32px] items-center justify-center">
                <img
                  src="{{ block.settings.col_image | img_url: '30px' }}"
                  class="h-full w-auto"
                  loading="lazy"
                  width="30"
                  height="30"
                  alt="{{ block.settings.alt }}"
                >
              </span>
            {% endif %}
            <p class="font-AnekLatin-Medium text-[15px]/[20px] text-mine-shaft">{{ block.settings.title }}</p>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% schema %}
{
  "name": "Services",
  "class": "section-services",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "section_border",
      "label": "Border",
      "default": true
    },
    {
      "type": "color",
      "id": "section_bg",
      "label": "Background color",
      "default": "#B9DABD"
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Block",
      "limit": 5,
      "settings": [
        {
          "type": "image_picker",
          "id": "col_image",
          "label": "Image"
        },
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "Add column heading here",
          "default": "Add text here"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Services"
    }
  ]
}
{% endschema %}
