<div id="super-saver-combo">
  <div class="bg-quarter-spanish-white hidden">
    <div class="container mx-auto px-4">
      <div class="flex items-center justify-between py-4">
        <div>
          <a href="{{- shop.url -}}" aria-label="vedix">
            <img
              src="https://cdn.shopify.com/s/files/1/0058/8827/8595/files/vedix.png?v=1706504257"
              alt="vedix"
              loading="lazy"
              class="transform transition-transform duration-300 ease-in-out hover:scale-110">
          </a>
        </div>
        <div class="close-btn cursor-pointer">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="17.26"
            height="17.26"
            viewBox="0 0 17.26 17.26">
            <path
              id="Path_13879"
              data-name="Path 13879"
              d="M342.331,115.331l-14.667-14.667m14.667,0-14.667,14.667"
              transform="translate(-326.368 -99.368)"
              fill="none"
              stroke="#000"
              stroke-linecap="round"
              stroke-width="1.833" />
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-soapstone pt-[16px]">
    <div class="container mx-auto px-4">
      <div class="flex items-center gap-x-[10px]">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="8.81"
          height="15.851"
          viewBox="0 0 8.81 15.851">
          <path
            id="Path_14499"
            data-name="Path 14499"
            d="M24,162.635,17,169.5l7,6.865"
            transform="translate(-16.25 -161.574)"
            fill="none"
            stroke="#000"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1.5" />
        </svg>
        <h2 class="font-AnekLatin-Bold text-[24px]/[22px] text-black">Super Saver Combo</h2>
      </div>
      <div class="border-1 relative mt-[40px] flex flex-col items-center justify-center border border-[#7070704D] bg-orange-white px-[20px] pt-[40px]">
        <div class="absolute left-[50%] top-[-17px] flex min-w-[129px] translate-x-[-50%] transform items-center justify-center bg-cold-purple px-4 py-2">
          <span class="flex items-center font-AnekLatin-Bold text-[12px]/[16px] text-black">BEST VALUE</span>
        </div>
        <h3 class="mb-2 font-AnekLatin-Bold text-[16px]/[22px] text-black">5 Month Hair Maintenance Plan</h3>
        <p class="text-[14px]/[22px] text-black">Get 5 Vedix Boxes</p>
        <ul class="my-[24px] flex items-center justify-center gap-x-[10px]">
          <li class="flex items-center gap-x-[10px]">
            <div class="max-w-[44px]">
              <img
                src="https://cdn.shopify.com/s/files/1/0058/8827/8595/files/combo_2.png?v=1706514601"
                alt="combo"
                loading="lazy"
                class="w-full max-w-[44px]">
            </div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="6.448"
              height="6.768"
              viewBox="0 0 6.448 6.768">
              <path
                id="Path_14508"
                data-name="Path 14508"
                d="M153.172,328.916h-1.344v-6.768h1.344Zm-3.9-2.752V324.9h6.448v1.264Z"
                transform="translate(-149.276 -322.148)"
                opacity="0.6" />
            </svg>
          </li>
          <li class="flex items-center gap-x-[10px]">
            <div class="max-w-[44px]">
              <img
                src="https://cdn.shopify.com/s/files/1/0058/8827/8595/files/combo_2.png?v=1706514601"
                alt="combo"
                loading="lazy"
                class="w-full max-w-[44px]">
            </div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="6.448"
              height="6.768"
              viewBox="0 0 6.448 6.768">
              <path
                id="Path_14508"
                data-name="Path 14508"
                d="M153.172,328.916h-1.344v-6.768h1.344Zm-3.9-2.752V324.9h6.448v1.264Z"
                transform="translate(-149.276 -322.148)"
                opacity="0.6" />
            </svg>
          </li>
          <li class="flex items-center gap-x-[10px]">
            <div class="max-w-[44px]">
              <img
                src="https://cdn.shopify.com/s/files/1/0058/8827/8595/files/combo_2.png?v=1706514601"
                alt="combo"
                loading="lazy"
                class="w-full max-w-[44px]">
            </div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="6.448"
              height="6.768"
              viewBox="0 0 6.448 6.768">
              <path
                id="Path_14508"
                data-name="Path 14508"
                d="M153.172,328.916h-1.344v-6.768h1.344Zm-3.9-2.752V324.9h6.448v1.264Z"
                transform="translate(-149.276 -322.148)"
                opacity="0.6" />
            </svg>
          </li>
          <li class="flex items-center gap-x-[10px]">
            <div class="max-w-[44px]">
              <img
                src="https://cdn.shopify.com/s/files/1/0058/8827/8595/files/combo_2.png?v=1706514601"
                alt="combo"
                loading="lazy"
                class="w-full max-w-[44px]">
            </div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="6.448"
              height="6.768"
              viewBox="0 0 6.448 6.768">
              <path
                id="Path_14508"
                data-name="Path 14508"
                d="M153.172,328.916h-1.344v-6.768h1.344Zm-3.9-2.752V324.9h6.448v1.264Z"
                transform="translate(-149.276 -322.148)"
                opacity="0.6" />
            </svg>
          </li>
          <li class="flex items-center gap-x-[10px]">
            <div class="max-w-[44px]">
              <img
                src="https://cdn.shopify.com/s/files/1/0058/8827/8595/files/combo_2.png?v=1706514601"
                alt="combo"
                loading="lazy"
                class="w-full max-w-[44px]">
            </div>
          </li>
        </ul>
        <div class="h-[1px] w-full max-w-[120px] bg-dove-gray bg-opacity-30"></div>
        <div class="mb-4 mt-8">
          <div class="flex items-center justify-center gap-x-[20px]">
            <h4 class="mb-2 font-AnekLatin-Bold text-[20px]/[22px] text-black">₹599/box</h4>
            <a href="" class="border-1 border border-burnt-sienna bg-white px-[22px] py-[8px] font-AnekLatin-Bold text-[12px]/[14px] text-burnt-sienna">Save 77%</a>
          </div>
        </div>
        <h3 class="mx-auto max-w-[200px] text-center text-[14px]/[18px] text-black">
          <strong>
            time payment of ₹2997</strong>
          and home delivered for the next 5 months.
        </h3>
        <div class="mt-[30px] w-full">
          <a href="" class="btn w-full">
            <span class="mb-[-2px] mt-[2px]">Choose Plan</span>
          </a>
        </div>
        <div class="py-[24px]">
          <a href="" class="text-center font-AnekLatin-Bold text-[16px]/[22px] capitalize text-black underline">View Faqs About This Plan</a>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-white pb-[20px] pt-[40px]">
    <div class="container mx-auto px-4">
      <div class="relative translate-y-[-50%] before:absolute before:left-0 before:top-[50%] before:h-[1px] before:w-[45%] before:transform before:bg-cod-gray before:bg-opacity-30 after:absolute after:right-0 after:top-[50%] after:h-[1px] after:w-[45%] after:transform after:bg-cod-gray after:bg-opacity-30">
        <h3 class="text-center font-AnekLatin-Bold text-[12px]/[22px] text-black opacity-30 md:text-[16px]/[22px]">
          OR
        </h3>
      </div>
    </div>
  </div>
  <div class="bg-soapstone">
    <div class="container mx-auto px-4">
      <div class="border-1 relative flex flex-col items-center justify-center border border-[#7070704D] bg-orange-white px-[20px] pt-[40px]">
        <h3 class="mb-2 font-AnekLatin-Bold text-[16px]/[22px] text-black md:text-[20px]/[32px]">
          3 Month Hair Maintenance Plan
        </h3>
        <p class="text-[14px]/[22px] text-black">Get 3 Vedix Boxes</p>
        <ul class="my-[24px] flex items-center justify-center gap-x-[10px]">
          <li class="flex items-center gap-x-[10px]">
            <div class="max-w-[44px]">
              <img
                src="https://cdn.shopify.com/s/files/1/0058/8827/8595/files/combo_2.png?v=1706514601"
                alt="combo"
                loading="lazy"
                class="w-full max-w-[44px]">
            </div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="6.448"
              height="6.768"
              viewBox="0 0 6.448 6.768">
              <path
                id="Path_14508"
                data-name="Path 14508"
                d="M153.172,328.916h-1.344v-6.768h1.344Zm-3.9-2.752V324.9h6.448v1.264Z"
                transform="translate(-149.276 -322.148)"
                opacity="0.6" />
            </svg>
          </li>
          <li class="flex items-center gap-x-[10px]">
            <div class="max-w-[44px]">
              <img
                src="https://cdn.shopify.com/s/files/1/0058/8827/8595/files/combo_2.png?v=1706514601"
                alt="combo"
                loading="lazy"
                class="w-full max-w-[44px]">
            </div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="6.448"
              height="6.768"
              viewBox="0 0 6.448 6.768">
              <path
                id="Path_14508"
                data-name="Path 14508"
                d="M153.172,328.916h-1.344v-6.768h1.344Zm-3.9-2.752V324.9h6.448v1.264Z"
                transform="translate(-149.276 -322.148)"
                opacity="0.6" />
            </svg>
          </li>

          <li class="flex items-center gap-x-[10px]">
            <div class="max-w-[44px]">
              <img
                src="https://cdn.shopify.com/s/files/1/0058/8827/8595/files/combo_2.png?v=1706514601"
                alt="combo"
                loading="lazy"
                class="w-full max-w-[44px]">
            </div>
          </li>
        </ul>
        <div class="h-[1px] w-full max-w-[120px] bg-dove-gray bg-opacity-30"></div>
        <div class="mb-4 mt-8">
          <div class="flex items-center justify-center gap-x-[20px]">
            <h4 class="mb-2 font-AnekLatin-Bold text-[20px]/[22px] text-black md:text-[24px]/[32px]">₹650/box</h4>
            <a href="" class="border-1 border border-burnt-sienna bg-white px-[22px] py-[8px] font-AnekLatin-Bold text-[12px]/[14px] text-burnt-sienna">Save 77%</a>
          </div>
        </div>
        <h3 class="mx-auto max-w-[200px] text-center text-[14px]/[18px] text-black">
          <strong>One time payment of ₹2997</strong>
          and home delivered for the next 5 months.
        </h3>
        <div class="mt-[30px] w-full">
          <a href="" class="btn w-full bg-white text-black">
            <span class="mb-[-2px] mt-[2px]">Choose Plan</span>
          </a>
        </div>
        <div class="py-[24px]">
          <a href="" class="text-center font-AnekLatin-Bold text-[16px]/[22px] capitalize text-black underline">View Faqs About This Plan</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% render 'retetion-cart-drawer' %}